Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(checkout): restore checkout test coverage
  client/src/modules/order-system/__tests__/checkout-simple.test.tsx
  client/src/modules/order-system/__tests__/checkout.e2e.test.tsx
  client/src/pages/__tests__/CheckoutPage.demo.test.tsx
  test-quarantine/test-health.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(security): correct header precedence for multi-tenancy
  server/src/middleware/restaurantAccess.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: update production readiness to 99% - all critical blockers eliminated
  docs/PRODUCTION_STATUS.md
Due: prettier --write

chore: remove quarantine markers for restored tests
  client/src/modules/order-system/__tests__/checkout-simple.test.tsx.skip
  client/src/modules/order-system/__tests__/checkout.e2e.test.tsx.skip
  client/src/pages/__tests__/CheckoutPage.demo.test.tsx.skip
Due: none

fix(auth): use demo-session endpoint for workspace auth in demo mode
  client/src/components/auth/WorkspaceAuthModal.tsx
  client/src/config/demoCredentials.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore: remove 3,140 lines of dead code and fix login redirect
  -
  client/src/components/layout/AppRoutes.tsx
  client/src/components/ui/SkipNavigation.tsx
  client/src/components/ui/Typography.helpers.ts
  client/src/hooks/useAudioAlerts.ts
  client/src/hooks/useModal.ts
  client/src/hooks/useOfflineQueue.ts
  client/src/pages/CheckClosingScreen.tsx
  client/src/pages/ExpoConsolidated.tsx
  client/src/pages/ExpoPageDebug.tsx
  client/src/pages/ExpoPageOptimized.tsx
  client/src/pages/KitchenDisplayMinimal.tsx
  client/src/pages/KitchenDisplaySimple.tsx
  client/src/pages/LandingPage.tsx
  client/src/pages/Login.tsx
  client/src/services/mockData.ts
  client/src/services/utils/NativeEventBus.ts
  client/src/services/websocket/WebSocketServiceV2.ts
  scripts/create-owner-account.ts
  scripts/verify-owner-account.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: update stale references after dead code cleanup
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/routes/LazyRoutes.tsx
  scripts/test-kitchen-login-flow.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: remove reference to deleted usemodal hook
  client/README.md
Due: prettier --write

fix(auth): add timeout to logout to prevent hanging on switch account
  client/src/contexts/AuthContext.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore: add comprehensive logging for demo credentials pre-fill diagnosis
  client/src/components/auth/WorkspaceAuthModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(auth): replace demo-session with real supabase workspace users
  client/src/components/auth/WorkspaceAuthModal.tsx
  client/src/config/demoCredentials.ts
  scripts/create-workspace-users.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): restore credential pre-fill after switch account logout
  client/src/components/auth/WorkspaceAuthModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore(auth): eliminate demo-session infrastructure (demo debt cleanup)
  client/src/components/errors/PaymentErrorBoundary.tsx
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/contexts/AuthContext.tsx
  client/src/core/api/unifiedApiClient.ts
  client/src/hooks/useApiRequest.ts
  client/src/services/auth/demoAuth.ts
  client/src/services/auth/index.ts
  client/src/services/auth/roleHelpers.ts
  server/src/routes/auth.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(config): allow vite_demo_panel override in production builds
  client/vite.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

docs: document v6.0.15 production-ready workspace authentication
  client/README.md
  docs/CHANGELOG.md
  docs/explanation/architecture/AUTHENTICATION_ARCHITECTURE.md
Due: prettier --write

fix(auth): add script to sync workspace user passwords with docs
  scripts/update-workspace-passwords.js
Due: prettier --write

fix(auth): add navigation delay after login to prevent race condition
  client/src/pages/WorkspaceDashboard.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): treat all users as anonymous customers on customer-facing pages
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/modules/order-system/__tests__/accessibility.test.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/pages/__tests__/CheckoutPage.demo.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): treat all users as anonymous customers on customer-facing pages (#133)
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/modules/order-system/__tests__/accessibility.test.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/pages/__tests__/CheckoutPage.demo.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(orders): enable anonymous customer orders for online/kiosk flows
  client/src/App.tsx
  server/src/routes/orders.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

Claude/codebase analysis 011 c uo rvd qa9c dhaf6i v bd18 (#134)
  client/src/App.tsx
  server/src/routes/orders.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(payments): enable anonymous customer payments for online/kiosk flows
  server/src/routes/payments.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(checkout): propagate restaurant id through checkout flow to prevent cart emptying
  client/src/components/layout/AppRoutes.tsx
  client/src/modules/order-system/components/CartDrawer.tsx
  client/src/pages/CheckoutPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(checkout): add required 'id' field to order items for validation
  client/src/pages/CheckoutPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(checkout): add x-client-flow header to payment requests and fix rpc timestamp type
  client/src/pages/CheckoutPage.tsx
  supabase/migrations/20251105003000_fix_check_closed_at_type.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: document v6.0.16 customer checkout flow fix
  docs/CHANGELOG.md
  docs/VERSION.md
  docs/investigations/README.md
  docs/investigations/checkout-flow-fix-nov5-2025.md
  index.md
Due: prettier --write

fix(voice): improve hold-to-record ux with visual feedback and mobile support
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/modules/voice/components/HoldToRecordButton.tsx
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): prevent text selection on mobile hold-to-record button
  client/src/modules/voice/components/HoldToRecordButton.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): simplify microphone permission flow with one-button ux
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): fix broken voice ordering with auto-chain recording flow
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add comprehensive voice ordering enterprise implementation handoff
  docs/PROJECT_HANDOFF_VOICE_ORDERING_2025-01.md
  index.md
Due: prettier --write

fix(voice): implement phase 1 critical p0 bug fixes
  client/src/modules/orders/services/OrderParser.ts
  client/src/modules/voice/services/WebRTCConnection.ts
  client/src/pages/ServerView.tsx
  client/src/pages/components/SeatSelectionModal.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: update handoff with phase 1 week 1 completion status
  docs/PROJECT_HANDOFF_VOICE_ORDERING_2025-01.md
Due: prettier --write

feat(infra): implement phase 1 week 2 infrastructure (feature flags + metrics)
  client/.env.example
  client/src/services/featureFlags/FeatureFlagService.ts
  client/src/services/featureFlags/index.ts
  client/src/services/featureFlags/useFeatureFlag.ts
  client/src/services/metrics/VoiceOrderingMetrics.ts
  client/src/services/metrics/index.ts
  client/src/services/metrics/useVoiceOrderingMetrics.ts
  docs/how-to/README.md
  docs/how-to/development/FEATURE_FLAGS.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(infra): complete phase 1 security hardening and integration
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/services/featureFlags/FeatureFlagService.ts
  client/src/services/featureFlags/__tests__/FeatureFlagService.test.ts
  client/src/services/featureFlags/useFeatureFlag.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: update handoff with session 2 completion details
  docs/NEXT_SESSION_HANDOFF.md
Due: prettier --write

docs: comprehensive Phase 1 completion documentation
  docs/PHASE_1_COMPLETION_SUMMARY.md
  docs/PROJECT_HANDOFF_VOICE_ORDERING_2025-01.md
  docs/how-to/development/FEATURE_FLAGS.md
Due: prettier --write

feat(infra): optimize vercel deployment with security headers
  vercel.json
Due: prettier --write

docs: add phase 1 completion summary to index
  index.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
