Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

fix(imports): replace @shared with @rebuild/shared across 14 files
  client/src/components/shared/badges/index.tsx
  client/src/components/shared/filters/SortControl.tsx
  client/src/components/shared/lists/OrderItemRow.tsx
  client/src/hooks/useOrderFilters.ts
  client/src/modules/filters/components/FilterBar.tsx
  client/src/modules/filters/components/StatusFilter.tsx
  client/src/modules/filters/hooks/useOrderFilters.ts
  client/src/modules/filters/types/filter.types.ts
  client/src/modules/kitchen/components/StationFilter.tsx
  client/src/modules/orders/hooks/__tests__/useOrderData.test.ts
  client/src/modules/orders/hooks/useOrderData.ts
  client/src/pages/components/PostOrderPrompt.tsx
  client/src/pages/components/SeatSelectionModal.tsx
  client/src/pages/components/ServerHeader.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(types): resolve 15 type errors across client codebase
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/contexts/UnifiedCartContext.tsx
  client/src/core/supabase.ts
  client/src/hooks/useOrderGrouping.ts
  client/src/hooks/useTableGrouping.ts
  client/src/modules/floor-plan/types/index.ts
  client/src/pages/AdminDashboard.tsx
  client/src/pages/ServerView.tsx
  client/src/pages/components/PostOrderPrompt.tsx
  client/src/pages/components/SeatSelectionModal.tsx
  client/src/pages/components/VoiceOrderModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(types): resolve remaining type errors in floor-plan, voice, and config
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/floor-plan/hooks/useTableManagement.ts
  client/src/modules/floor-plan/services/TablePersistenceService.ts
  client/src/modules/floor-plan/types/index.ts
  client/src/pages/ServerView.tsx
  client/src/pages/components/ServerHeader.tsx
  client/vite.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(e2e): configure playwright to exclude incompatible test files
  playwright-report/e2e-results.json
  playwright-report/index.html
  playwright.config.ts
  tests/e2e/voice-ordering.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

docs: update claude.md and clean stale todo comment
  CLAUDE.md
  client/src/pages/DriveThruPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

test(pyramid): add 315 unit tests and consolidate smoke tests
  .github/workflows/e2e-tests.yml
  client/src/components/auth/__tests__/WorkspaceAuthModal.test.tsx
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/payments/__tests__/CardPayment.test.tsx
  client/src/components/payments/__tests__/CashPayment.test.tsx
  client/src/hooks/__tests__/useViewport.test.ts
  client/src/hooks/useViewport.ts
  client/src/modules/floor-plan/components/__tests__/TableInteraction.test.tsx
  client/src/modules/order-system/__tests__/CheckoutForm.test.tsx
  client/src/modules/order-system/__tests__/CheckoutValidation.test.ts
  client/src/modules/order-system/components/__tests__/StripePaymentForm.test.tsx
  client/src/modules/voice/components/HoldToRecordButton.test.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/pages/__tests__/ServerView.test.tsx
  client/src/pages/__tests__/WorkspaceDashboard.test.tsx
  client/src/routes/__tests__/routes.test.tsx
  docs/solutions/test-failures/e2e-infrastructure-overhaul-2025-12.md
  playwright.config.ts
  reports/TASK_BREAKDOWN_187_PYRAMID_REBALANCING.md
  server/package.json
  server/tests/cache-isolation.test.ts
  tests/e2e/auth/login.smoke.spec.ts
  tests/e2e/checkout-flow.spec.ts
  tests/e2e/checkout-smoke.spec.ts
  tests/e2e/debug-blank-page.spec.ts
  tests/e2e/kds/kitchen-display.smoke.spec.ts
  tests/e2e/orders/server-order-flow.smoke.spec.ts
  tests/e2e/production-auth-test.spec.ts
  tests/e2e/production-complete-flow.spec.ts
  tests/e2e/voice-order.spec.ts
  tests/e2e/voice-ordering-debug.spec.ts
  tests/e2e/voice-ordering.spec.ts
  todos/187-ready-p2-test-pyramid-rebalancing.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(perf): add throttling to useViewport, fix timer cleanup, add CI secrets
  .claude/session-reports/README.md
  .claude/session-reports/code-review-3b463dcb-2025-12-05.md
  .claude/session-reports/e2e-audit-problem-summary.md
  .claude/session-reports/e2e-infrastructure-audit-session-report.md
  .claude/session-reports/e2e-to-unit-test-migration-card-payment.md
  .github/workflows/e2e-tests.yml
  client/src/hooks/__tests__/useViewport.test.ts
  client/src/hooks/useViewport.ts
  client/src/modules/voice/components/HoldToRecordButton.test.tsx
  todos/181-complete-p1-playwright-dual-server-wait.md
  todos/182-complete-p1-vitest-version-standardization.md
  todos/183-complete-p1-e2e-github-actions-workflow.md
  todos/184-complete-p1-ci-worker-count-increase.md
  todos/185-complete-p2-hardcoded-timeouts-replacement.md
  todos/186-complete-p2-multi-tenant-cache-isolation-tests.md
  todos/188-complete-p3-debug-test-files-cleanup.md
  todos/189-complete-p1-github-actions-missing-env-vars.md
  todos/190-complete-p1-useviewport-resize-throttling.md
  todos/191-complete-p1-usemediaquery-memory-leak.md
  todos/192-complete-p1-holdtorecordbutton-timer-cleanup.md
  todos/193-ready-p1-test-mock-setup-repetition.md
  todos/194-ready-p2-github-actions-sha-pinning.md
  todos/195-complete-p2-ci-memory-configuration.md
  todos/196-ready-p2-vitest-major-version-upgrade.md
  todos/197-ready-p2-test-data-factories.md
  todos/198-ready-p2-production-e2e-test-overlap.md
  todos/199-ready-p2-magic-timeout-values.md
  todos/200-ready-p3-mock-stripe-key-format.md
  todos/201-ready-p3-window-property-mocking.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor(e2e): consolidate production tests and add timeout constants (#198, #199)
  tests/e2e/auth/login.smoke.spec.ts
  tests/e2e/constants/timeouts.ts
  tests/e2e/kds/kitchen-display.smoke.spec.ts
  tests/e2e/orders/server-order-flow.smoke.spec.ts
  tests/e2e/production-auth-test-v2.spec.ts
  tests/e2e/production-auth-test.spec.ts
  tests/e2e/production-complete-flow.spec.ts
  tests/e2e/production-serverview-detailed.spec.ts
  tests/e2e/production-serverview-interaction.spec.ts
  tests/e2e/production-serverview-test.spec.ts
  tests/e2e/production/auth.smoke.spec.ts
  tests/e2e/production/order-lifecycle.spec.ts
  tests/e2e/production/serverview-integration.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

chore(tests): use obviously fake stripe keys in tests (#200)
  client/src/components/payments/__tests__/CardPayment.test.tsx
  server/tests/bootstrap.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(test): add test infrastructure with mocks and factories (#193, #197)
  .github/dependabot.yml
  client/src/test/README.md
  client/src/test/factories/index.ts
  client/src/test/factories/menu-item.factory.ts
  client/src/test/factories/order.factory.ts
  client/src/test/factories/restaurant.factory.ts
  client/src/test/factories/user.factory.ts
  client/src/test/mocks/canvas.ts
  client/src/test/mocks/index.ts
  client/src/test/mocks/react-router.ts
  client/src/test/mocks/stripe.ts
  client/src/test/mocks/window.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(ci): pin github actions to sha and fix shellcheck warnings (#194)
  .github/workflows/check-links.yml
  .github/workflows/deploy-migrations.yml
  .github/workflows/deploy-server-render.yml
  .github/workflows/deploy-smoke.yml
  .github/workflows/deploy-with-validation.yml
  .github/workflows/docs-validation.yml
  .github/workflows/drift-check.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/env-validation.yml
  .github/workflows/gates.yml
  .github/workflows/load-tests.yml
  .github/workflows/migration-integration.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quick-tests.yml
  .github/workflows/security.yml
  .github/workflows/vercel-guard.yml
  .github/workflows/worktree-maintenance.yml
Due: none

fix(todos): resolve 8 code review todos in parallel
  client/src/components/kitchen/__tests__/ConnectionStatusBar.test.tsx
  client/src/modules/orders/hooks/__tests__/useOrderData.test.ts
  client/src/services/websocket/WebSocketService.test.ts
  client/src/services/websocket/WebSocketService.ts
  playwright.config.ts
  server/src/middleware/authRateLimiter.ts
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore: polish pre-existing conditions and update dependencies
  .husky/pre-commit
  client/package.json
  package-lock.json
  reports/PRE_EXISTING_CONDITIONS_2025-12-24.md
  tests/reporters/flaky-tracker.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix: resolve 3 code review todos in parallel
  client/src/services/websocket/WebSocketService.ts
  server/src/middleware/authRateLimiter.ts
  tests/reporters/flaky-tracker.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs: codify 3 solved problems with prevention strategies
  docs/solutions/code-quality/console-to-structured-logger-migration.md
  docs/solutions/cross-references/2025-12-24-parallel-resolution.md
  docs/solutions/prevention/parallel-resolution-learnings-2025-12-24.md
  docs/solutions/security-issues/rate-limiter-toctou-race-condition.md
  docs/solutions/test-failures/playwright-reporter-deduplication.md
Due: prettier --write

docs: update claude.md with accurate stats
  CLAUDE.md
Due: prettier --write

fix(docs): orphan checker respects .gitignore patterns
  .claude/prevention/DOCUMENTATION-ORPHAN-IMPLEMENTATION.md
  .claude/prevention/DOCUMENTATION-ORPHAN-PREVENTION.md
  .claude/prevention/DOCUMENTATION-ORPHAN-QUICK-REF.md
  .claude/prevention/DOCUMENTATION-ORPHAN-SUMMARY.md
  .claude/prevention/ORPHAN-PREVENTION-DELIVERY.md
  .claude/prevention/README.md
  .husky/pre-commit
  docs/solutions/process-issues/documentation-orphan-cleanup.md
  scripts/docs-check.js
Due: prettier --write

docs: add knowledge base section linking docs/solutions/
  docs/solutions/README.md
  index.md
Due: prettier --write

fix: maintenance cleanup - vitest exclusions and test mock drift
  client/src/services/websocket/WebSocketService.test.ts
  server/vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(websocket): implement first-message authentication for token security
  client/src/services/websocket/WebSocketService.test.ts
  client/src/services/websocket/WebSocketService.ts
  server/src/middleware/auth.ts
  server/src/utils/websocket.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(websocket): consolidate state machine to prevent race conditions
  client/src/services/websocket/WebSocketService.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore(todos): archive resolved p1 websocket security issues
  todos/.archive/010-deferred-p1-websocket-token-exposure.md
  todos/.archive/011-deferred-p1-websocket-reconnection-race.md
Due: prettier --write

fix(todos): resolve 5 items with parallel subagents
  client/src/modules/voice/hooks/useVoiceCommerce.ts
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/VoiceSessionConfig.ts
  client/src/modules/voice/services/VoiceStateMachine.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/services/__mocks__/logger.ts
  client/src/services/payments/PaymentStateMachine.ts
  client/src/services/websocket/WebSocketService.test.ts
  client/src/services/websocket/WebSocketService.ts
  client/src/services/websocket/index.ts
  client/test/setup.ts
  package-lock.json
  package.json
  scripts/system-health.js
  shared/types/validation.ts
  todos/.archive/200-p1-test-logger-mock-path-mismatch.md
  todos/.archive/202-p2-mcp-sdk-dns-rebinding-vulnerability.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore(todos): archive resolved items (201, 203, 015)
  todos/.archive/015-deferred-p2-missing-rollback-test.md
  todos/.archive/201-p2-shared-validation-type-errors.md
  todos/.archive/203-p3-missing-system-health-script.md
Due: prettier --write

fix(websocket,scripts): resolve p1/p2 todos and triage remaining items
  client/src/services/websocket/WebSocketService.ts
  scripts/system-health.js
  todos/015-deferred-p2-missing-rollback-test.md
  todos/205-pending-p2-websocket-testing-method-exposed.md
  todos/206-pending-p2-websocket-dual-singleton-pattern.md
  todos/207-pending-p2-missing-ack-timeout-test.md
  todos/209-pending-p2-test-setup-duplication.md
  todos/210-pending-p3-magic-number-ack-timeout.md
  todos/archive/204-resolved-p1-websocket-timer-memory-leak.md
  todos/archive/208-resolved-p2-system-health-duplicate-code.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(solutions): codify timer leak and duplicate code fixes
  docs/solutions/performance-issues/optimistic-websocket-timer-memory-leak.md
  docs/solutions/process-issues/duplicate-npm-audit-health-script.md
Due: prettier --write

fix(security): address critical security vulnerabilities and P0 payment fixes
  client/package.json
  package-lock.json
  package.json
  server/package.json
  server/src/middleware/csrf.ts
  server/src/server.ts
  server/tests/security/payment-p0-fixes.proof.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(types): resolve express v5 type compatibility
  package-lock.json
  package.json
  server/package.json
  server/src/ai/functions/realtime-menu-tools.ts.bak
  server/src/middleware/requestSanitizer.ts
  server/src/middleware/webhookSignature.ts
  server/src/routes/ai.routes.ts
  server/src/routes/orders.routes.ts
  server/src/routes/payments.routes.ts
  server/src/routes/realtime.routes.ts
  server/src/routes/security.routes.ts
  server/src/routes/tables.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: update enterprise quality plan with phase 1 progress
  plans/enterprise-quality-excellence.md
Due: prettier --write

fix(security): harden authentication and remove insecure fallbacks
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/config/environment.ts
  server/src/routes/ai.routes.ts
  server/src/server.ts
  server/src/services/auth/pinAuth.ts
  server/tests/ai.routes.security.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(enterprise): implement phases 3-6 of enterprise audit remediation
  .claude/lessons/CL-TIMER-001-stored-timeout-pattern.md
  .claude/lessons/CL-TOOL-EXIT-001-command-exit-codes.md
  .claude/lessons/PREVENTION_STRATEGIES_SUMMARY.md
  .claude/lessons/QUICK_REFERENCE_PATTERNS.md
  .claude/lessons/README.md
  .github/workflows/check-links.yml
  .github/workflows/deploy-with-validation.yml
  .github/workflows/docs-validation.yml
  README.md
  client/src/components/shared/MenuItemGrid.tsx
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/types/index.ts
  client/src/modules/voice/types/realtime-events.types.ts
  docs/VERSION.md
  plans/DEEP_RESEARCH_PROMPT.md
  plans/DEEP_RESEARCH_PROMPT_v2_SIMPLIFIED.md
  plans/enterprise-audit-remediation-plan.md
  plans/security-vuln-and-next-priorities.md
  scripts/check-bundle-budget.mjs
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/ai/services/cart.service.ts
  server/src/ai/services/modifier-pricing.service.ts
  server/src/ai/types/menu-tools.types.ts
  server/src/ai/validators/menu-input.validator.ts
  server/src/services/menu-embedding.service.ts
  server/src/services/order-tax.ts
  server/src/services/order-validation.service.ts
  server/src/services/orders.service.ts
  server/src/services/scheduledOrders.service.ts
  server/src/services/table.service.ts
  shared/utils/error-handling.ts
  shared/utils/error-pattern-tracker.ts
  shared/utils/error-recovery.ts
  shared/utils/error-reporter.ts
  shared/utils/error-types.ts
  supabase/migrations/20251226_menu_embeddings.sql
  supabase/migrations/20251226_orders_composite_indexes.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(p1): resolve critical review findings from PR #163
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/ai/services/cart.service.ts
  server/src/ai/services/modifier-pricing.service.ts
  supabase/migrations/20251226_orders_composite_indexes.sql
  todos/211-pending-p1-table-id-column-missing-in-migration.md
  todos/212-pending-p1-duplicate-composite-indexes.md
  todos/213-resolved-p1-duplicate-tax-rate-implementations.md
  todos/214-resolved-p1-duplicate-supabase-client-instances.md
  todos/215-resolved-p1-test-endpoints-expose-stack-traces.md
  todos/216-pending-p2-rag-premature-optimization.md
  todos/217-pending-p2-missing-rate-limiting-embedding-generation.md
  todos/218-pending-p2-ivfflat-index-on-empty-data.md
  todos/219-pending-p2-n-plus-one-query-batch-embeddings.md
  todos/220-pending-p2-missing-limit-getscheduledorders.md
  todos/221-pending-p2-missing-restaurant-id-filter-similarity-search.md
  todos/222-pending-p3-embedding-model-hardcoded.md
  todos/223-pending-p3-file-splitting-increases-import-complexity.md
  todos/224-pending-p3-magic-numbers-embedding-service.md
  todos/225-pending-p3-missing-jsdoc-new-services.md
  todos/226-pending-p3-performance-indexes-use-concurrently.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(security): complete review findings and add safe api error utility
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/shared/ErrorDisplay.tsx
  client/src/hooks/kiosk/useKioskOrderSubmission.ts
  client/src/modules/orders/hooks/useOrderActions.ts
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/WebRTCConnection.ts
  client/src/pages/hooks/useServerView.ts
  client/src/services/websocket/WebSocketService.ts
  server/src/ai/adapters/openai/utils.ts
  server/src/middleware/security.ts
  server/src/middleware/webhookSignature.ts
  server/src/routes/ai.routes.ts
  server/src/routes/health.routes.ts
  server/src/routes/metrics.ts
  server/src/routes/orders.routes.ts
  server/src/services/ai.service.ts
  server/src/services/order-tax.ts
  server/src/services/orderStateMachine.ts
  server/src/services/orders.service.ts
  shared/types/validation.ts
  shared/utils/error-utils.ts
  todos/227-complete-p2-test-endpoints-without-auth.md
  todos/228-complete-p2-api-error-info-disclosure.md
  todos/229-complete-p2-incomplete-error-pattern-migration.md
  todos/230-complete-p3-redundant-fallback-pattern.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

refactor(dx): simplify safe api error to accept logger objects directly
  server/src/routes/ai.routes.ts
  server/src/routes/orders.routes.ts
  shared/utils/error-utils.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests
