Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(tests): restore component tests (errorboundary, kdsordercard, ordercard)
  client/src/components/shared/errors/__tests__/ErrorBoundary.test.tsx
  client/src/modules/kitchen/components/__tests__/KDSOrderCard.test.tsx
  client/src/modules/orders/components/__tests__/OrderCard.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: update all documentation for phase 2 completion and v6.0.12
  CHANGELOG.md
  README.md
  docs/PRODUCTION_STATUS.md
  docs/ROADMAP.md
Due: prettier --write

docs: archive misleading documentation and establish single source of truth
  docs/archive/DATABASE_SCHEMA_AUDIT_REPORT.md
  docs/archive/IMPROVEMENT-ROADMAP-OPTIMIZED.md
  docs/archive/IMPROVEMENT-ROADMAP.md
  docs/archive/JSDOM_ENVIRONMENT_FAILURE_ANALYSIS.md
  docs/archive/ORDER_FAILURE_INCIDENT_REPORT.md
  docs/archive/PAYMENT_500_ERROR_DIAGNOSIS.md
  docs/archive/PAYMENT_FIX_STATUS.md
  docs/archive/PHASE_2_AUTOMATED_FIX_PLAN.md
  docs/archive/PRODUCTION_TEST_RESULTS.md
  docs/archive/ROOT_CAUSE_SYNTHESIS.md
  docs/archive/STABILITY_AUDIT_PROGRESS.md
  docs/archive/TEST_SUITE_FIX_RECOMMENDATIONS.md
  docs/archive/TEST_SUITE_RESTORATION_SUMMARY.md
  docs/archive/TRACK_A_VERIFICATION_REPORT.md
  docs/archive/URGENT_FIX_SUMMARY.md
  docs/archive/nextplan.md
  docs/archive/oct18plan.md
  docs/archive/oct23plan.md
Due: prettier --write

fix(ci): resolve pr #131 ci/cd failures
  .gitignore
  .vercel/project.json
  index.md
Due: prettier --write

fix(tests): update contract tests to match adr-001 snake_case convention
  server/tests/contracts/boundary-transform.test.ts
  server/tests/contracts/order.contract.test.ts
  server/tests/contracts/payment.contract.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(build): resolve typescript and build errors for production deployment
  client/src/contexts/UnifiedCartContext.tsx
  server/src/config/sentry.ts
  server/src/routes/health.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(ci): update bundle budget script to check correct build output directory
  scripts/check-bundle-budget.mjs
Due: none

docs: establish single source of truth with accurate project status
  AI_DIAGNOSTIC_REPORT.md
  SOURCE_OF_TRUTH.md
  SQUARE_API_SETUP.md
  TEST_ANALYSIS_SUMMARY.txt
  TEST_HEALTH_DASHBOARD.md
  TEST_REALITY_CHECK.md
Due: prettier --write

fix(security): add jwt secret validation and websocket auth enforcement
  server/src/config/environment.ts
  server/src/voice/websocket-server.ts
  server/tests/security/auth-security.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: update test statistics and production status for phase 2 completion
  .gitignore
  SOURCE_OF_TRUTH.md
  client/tests/quarantine.list
Due: prettier --write

docs: update readme and docs with accurate project status
  README.md
  docs/DEPLOYMENT.md
  docs/TROUBLESHOOTING.md
Due: prettier --write

fix(tests): correct multi-tenancy test assertions and http methods
  server/tests/multi-tenancy.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(tests): restore websocket and realtime tests
  client/src/hooks/__tests__/useKitchenOrdersRealtime.test.ts
  client/src/services/websocket/WebSocketService.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(ci): add puppeteer skip download to fix chrome failures
  .github/workflows/auth-guards.yml
  .github/workflows/docs-ci.yml
  .github/workflows/eslint-freeze.yml
  .github/workflows/gates.yml
  .github/workflows/security.yml
  .github/workflows/server-build.yml
  .github/workflows/vercel-guard.yml
Due: none

fix(tests): restore accessibility tests
  client/src/modules/order-system/__tests__/accessibility.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(multi-tenancy): return 404 for cross-restaurant order mutations
  server/src/services/orders.service.ts
  server/tests/multi-tenancy.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(security): critical multi-tenancy access control vulnerability
  server/src/middleware/auth.ts
  server/src/middleware/restaurantAccess.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

chore: clean up test files and miscellaneous updates
  CHANGELOG.md
  client/PHASE_2_QUICK_WINS_SUMMARY.md
  client/src/contexts/__tests__/AuthContext.test.tsx
  client/src/modules/floor-plan/components/__tests__/chip-monkey.test.tsx
  client/src/modules/kitchen/components/__tests__/KDSOrderCard.test.tsx
  client/src/modules/order-system/__tests__/checkout-simple.test.tsx
  client/src/modules/order-system/__tests__/checkout.e2e.test.tsx
  client/src/modules/orders/components/__tests__/OrderCard.test.tsx
  client/src/pages/__tests__/CheckoutPage.demo.test.tsx
  client/src/test/setup.ts
  client/test/setup.ts
  client/tests/quarantine.list
  client/vitest.config.ts
  docs/incidents/oct23-bug-investigation-results.md
  scripts/check-order-response.sh
  scripts/docs-check.js
  scripts/test-oct23-fixes-local.sh
  scripts/test-oct23-fixes.sh
  scripts/test-openai-key.sh
  scripts/test-payment-flow.sh
  scripts/test-payment-properly.sh
  scripts/test-production-flows.sh
  scripts/test-rbac-fix.sh
  tests/e2e/fixtures/test-helpers.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: update stability audit progress to 82% complete
  STABILITY_AUDIT_PROGRESS.md
Due: prettier --write

docs: add production deployment documentation for v6.0.12
  PRODUCTION_DEPLOYMENT_CHECKLIST.md
  PRODUCTION_DEPLOYMENT_SUCCESS.md
Due: prettier --write

fix(auth): extract restaurantid from header in optionalauth middleware
  server/src/middleware/auth.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: add comprehensive investigation report for menu loading error fix
  docs/investigations/menu-loading-error-fix-oct27-2025.md
Due: prettier --write

docs: update all documentation for menu fix and v6.0.12 release
  CHANGELOG.md
  README.md
  SOURCE_OF_TRUTH.md
Due: prettier --write

fix(payments): support demo users in payment audit logging
  server/src/routes/payments.routes.ts
  supabase/migrations/20251027173500_fix_payment_audit_demo_users.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: add v6.0.13 changelog for demo user payment fix
  CHANGELOG.md
Due: prettier --write

docs: comprehensive documentation update for v6.0.13 online ordering fix
  docs/PRODUCTION_STATUS.md
  docs/TROUBLESHOOTING.md
  docs/investigations/online-ordering-checkout-fix-oct27-2025.md
Due: prettier --write

feat(ui): add workspace-based landing flow with feature flag
  CHANGELOG.md
  client/README.md
  client/src/components/auth/ProtectedRoute.tsx
  client/src/components/auth/WorkspaceAuthModal.tsx
  client/src/components/auth/__tests__/WorkspaceAuthModal.test.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/config/demoCredentials.ts
  client/src/hooks/__tests__/useWorkspaceAccess.test.ts
  client/src/hooks/useWorkspaceAccess.ts
  client/src/pages/WorkspaceDashboard.tsx
  client/src/pages/__tests__/WorkspaceDashboard.test.tsx
  client/src/utils/env.ts
  tests/e2e/workspace-landing.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor: remove feature flag bloat and consolidate workspace config
  CHANGELOG.md
  client/README.md
  client/src/components/auth/ProtectedRoute.tsx
  client/src/components/auth/WorkspaceAuthModal.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/config/demoCredentials.ts
  client/src/hooks/useWorkspaceAccess.ts
  client/src/utils/env.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): resolve race condition in logout/login sequence causing stale user data
  CHANGELOG.md
  client/src/contexts/AuthContext.tsx
  docs/investigations/auth-state-bug-analysis.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): remove backend logout call to prevent 401 token errors
  CHANGELOG.md
  client/src/contexts/AuthContext.tsx
  docs/investigations/token-refresh-failure-analysis.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth,ui): resolve workspace auth bypass and menu layout issues
  CHANGELOG.md
  client/src/modules/order-system/components/CustomerOrderPage.tsx
  client/src/modules/order-system/components/MenuSections.tsx
  client/src/pages/WorkspaceDashboard.tsx
  docs/investigations/auth-bypass-root-cause-FINAL.md
  docs/investigations/comprehensive-root-cause-analysis-oct27-2025.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): add restaurant validation to /auth/me endpoint
  docs/investigations/workspace-auth-fix-2025-10-29.md
  server/src/routes/auth.routes.ts
  tests/e2e/workspace-auth-flow.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(orders): use rbac requirescopes for scope validation
  server/src/routes/orders.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(orders): remove requirerole middleware for proper auth
  server/src/routes/orders.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(orders): correct middleware order for restaurant context
  server/src/routes/orders.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(db): sync role_scopes table with server RBAC definitions
  supabase/migrations/20251029_sync_role_scopes_with_rbac_v2.sql
Due: none

docs: comprehensive auth fix trilogy documentation
  docs/AUTHENTICATION_ARCHITECTURE.md
  docs/investigations/workspace-auth-fix-2025-10-29.md
  server/src/middleware/rbac.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs(tier-2): add protected routes guide and 403 troubleshooting
  docs/CONTRIBUTING.md
  docs/TROUBLESHOOTING.md
Due: prettier --write

chore(db): sync prisma schema after phase 1+2 migrations
  prisma/schema.prisma
Due: none

docs: optimize documentation for ai agents
  docs/CI_CD_WORKFLOWS.md
  docs/DEPLOYMENT.md
  docs/SUPABASE_CONNECTION_GUIDE.md
  supabase/MIGRATION_BASELINE.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
