Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

docs: add csrf/auth quick reference guide
  docs/prevention/CSRF_AUTH_QUICK_REFERENCE.md
Due: prettier --write

docs: add csrf auth endpoint exemption solution
  docs/solutions/security-issues/csrf-exemption-auth-endpoints.md
Due: prettier --write

fix(auth): cross-origin login and token refresh improvements
  client/src/contexts/AuthContext.tsx
  server/src/routes/auth.routes.ts
  todos/255-complete-p2-token-refresh-missing-localstorage-update.md
  todos/256-ready-p2-inconsistent-token-field-names.md
  todos/257-complete-p3-cleanup-fix-comment-markers.md
  todos/258-complete-p3-update-cookie-comment-accuracy.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs: compound cross-origin samesite cookie auth failure
  CLAUDE.md
  docs/solutions/auth-issues/cross-origin-samesite-cookie-auth-failure.md
Due: prettier --write

fix(csrf): exempt kiosk/online orders from csrf protection
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(payments): use correct endpoint create-payment-intent
  client/src/components/payments/CardPayment.tsx
  client/src/pages/CheckoutPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add csrf public ordering exemption solution
  CLAUDE.md
  docs/quick-reference/csrf-auth-endpoints.md
  docs/solutions/auth-issues/csrf-public-ordering-exemption.md
Due: prettier --write

test(payments): update endpoint in cardpayment tests
  client/src/components/payments/__tests__/CardPayment.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: update readme with dec 2025 status
  README.md
Due: prettier --write

fix: resolve 13 code quality TODOs in parallel batch
  server/src/routes/auth.routes.ts
  server/src/services/orderStateMachine.ts
  server/src/services/payment.service.ts
  server/tests/services/orderStateMachine.test.ts
  server/tests/services/payment-calculation.test.ts
  server/tests/services/payment-idempotency.test.ts
  shared/types/auth.types.ts
  shared/types/index.ts
  todos/246-ready-p1-inconsistent-refund-idempotency-keys.md
  todos/247-ready-p1-partial-refund-key-collision-risk.md
  todos/248-ready-p2-test-expectation-mismatch-refund-keys.md
  todos/249-ready-p2-hook-state-leakage-tests.md
  todos/250-ready-p2-dynamic-import-pattern-tests.md
  todos/251-ready-p2-dry-violation-supabase-mocks.md
  todos/252-ready-p2-missing-restaurant-id-validation-refund-hook.md
  todos/253-ready-p3-scoped-fake-timers.md
  todos/254-ready-p3-overflow-test-large-quantities.md
  todos/255-complete-p2-token-refresh-missing-localstorage-update.md
  todos/256-ready-p2-inconsistent-token-field-names.md
  todos/257-complete-p3-cleanup-fix-comment-markers.md
  todos/258-complete-p3-update-cookie-comment-accuracy.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: resolve 2 parallel TODO items (#259, #263)
  server/src/services/orderStateMachine.ts
  server/src/test-utils/index.ts
  server/tests/services/payment-calculation.test.ts
  server/tests/services/payment-idempotency.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: resolve typescript errors and 12 failing tests
  server/src/middleware/__tests__/auth.test.ts
  server/src/middleware/__tests__/restaurantAccess.test.ts
  server/src/routes/__tests__/ai.health.test.ts
  server/src/routes/__tests__/orders.rctx.test.ts
  server/src/routes/__tests__/payments.test.ts
  server/src/routes/__tests__/rctx-comprehensive.test.ts
  server/src/routes/__tests__/security.test.ts
  server/src/services/orderStateMachine.ts
  server/tests/bootstrap.ts
  server/tests/services/orderStateMachine.test.ts
  server/tests/services/payment-idempotency.test.ts
  server/vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

chore: system maintenance cleanup
  todos/.archive/238-ready-p1-idempotency-key-random-nonce.md
  todos/.archive/239-ready-p1-refund-no-order-status-update.md
  todos/.archive/241-ready-p2-refund-tenant-validation-gap.md
  todos/.archive/244-ready-p3-pin-salt-column-unused.md
  todos/.archive/245-ready-p3-duplicate-validate-restaurant-access.md
  todos/.archive/246-ready-p1-inconsistent-refund-idempotency-keys.md
  todos/.archive/247-ready-p1-partial-refund-key-collision-risk.md
  todos/.archive/248-ready-p2-test-expectation-mismatch-refund-keys.md
  todos/.archive/249-ready-p2-hook-state-leakage-tests.md
  todos/.archive/250-ready-p2-dynamic-import-pattern-tests.md
  todos/.archive/251-ready-p2-dry-violation-supabase-mocks.md
  todos/.archive/252-ready-p2-missing-restaurant-id-validation-refund-hook.md
  todos/.archive/253-ready-p3-scoped-fake-timers.md
  todos/.archive/254-ready-p3-overflow-test-large-quantities.md
  todos/.archive/255-complete-p2-token-refresh-missing-localstorage-update.md
  todos/.archive/256-ready-p2-inconsistent-token-field-names.md
  todos/.archive/257-complete-p3-cleanup-fix-comment-markers.md
  todos/.archive/258-complete-p3-update-cookie-comment-accuracy.md
Due: prettier --write

fix(security): atomic PIN attempt increment to prevent race condition
  server/src/services/auth/pinAuth.ts
  supabase/migrations/20260101_atomic_pin_attempt_increment.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: improve sed pattern in post-migration-sync for variable whitespace
  scripts/post-migration-sync.sh
Due: none

fix: resolve 6 parallel TODO items (#264, #265, #266, #267, #269, #270)
  server/src/services/orderStateMachine.ts
  server/tests/services/auth/pinAuth.test.ts
  server/tests/services/orderStateMachine.test.ts
  shared/types/order.types.ts
  supabase/migrations/20260101_atomic_pin_attempt_increment.rollback.sql
  supabase/migrations/20260102_fix_pin_increment_security.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(vite): add @rebuild/shared to optimizedeps for cjs-esm conversion
  CLAUDE.md
  client/vite.config.ts
  docs/solutions/README.md
  docs/solutions/build-errors/VITE_ESM_CJS_INDEX.md
  docs/solutions/build-errors/VITE_ESM_CJS_QUICK_REF.md
  docs/solutions/build-errors/VITE_ESM_CJS_SUMMARY.md
  docs/solutions/build-errors/vite-esm-cjs-ci-checklist.md
  docs/solutions/build-errors/vite-esm-cjs-interop-prevention.md
  docs/solutions/build-errors/vite-esm-cjs-test-cases.md
Due: eslint --fix, npm run typecheck:staged, prettier --write

feat: add vercel analytics
  client/package.json
  client/src/main.tsx
  package-lock.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests
