Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(rbac): extend demo user bypass to all roles
  server/src/middleware/rbac.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(security): add jwt secret validation and websocket auth enforcement
  server/src/config/environment.ts
  server/src/voice/websocket-server.ts
  server/tests/security/auth-security.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(tests): update contract tests to match adr-001 snake_case convention
  server/tests/contracts/boundary-transform.test.ts
  server/tests/contracts/order.contract.test.ts
  server/tests/contracts/payment.contract.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

docs: update stability audit progress and deployment guides
  PAYMENT_500_ERROR_DIAGNOSIS.md
  PAYMENT_FIX_STATUS.md
  STABILITY_AUDIT_PROGRESS.md
  docs/DEPLOYMENT.md
  docs/SECURITY.md
  docs/audit/P0-FIX-ROADMAP.md
  supabase/migrations/20251023000000_add_payment_audit_logs.sql
Due: prettier --write

fix(tests): correct multi-tenancy test assertions and http methods
  server/tests/multi-tenancy.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(multi-tenancy): return 404 for cross-restaurant order mutations
  server/src/services/orders.service.ts
  server/tests/multi-tenancy.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(ci): add puppeteer skip download to fix chrome failures
  .github/workflows/auth-guards.yml
  .github/workflows/docs-ci.yml
  .github/workflows/eslint-freeze.yml
  .github/workflows/gates.yml
  .github/workflows/security.yml
  .github/workflows/server-build.yml
  .github/workflows/vercel-guard.yml
Due: none

docs: update stability audit progress to 82% complete
  STABILITY_AUDIT_PROGRESS.md
Due: prettier --write

fix(ci): add shared package build step to fix client build failures
  .github/workflows/docs-ci.yml
  .github/workflows/gates.yml
  .github/workflows/quick-tests.yml
  .github/workflows/ts-freeze.yml
  .github/workflows/vercel-guard.yml
  tsconfig.all.json
Due: prettier --write

fix(ci): update bundle budget script to check correct build output directory
  scripts/check-bundle-budget.mjs
Due: none

docs: archive misleading documentation and establish single source of truth
  docs/archive/DATABASE_SCHEMA_AUDIT_REPORT.md
  docs/archive/IMPROVEMENT-ROADMAP-OPTIMIZED.md
  docs/archive/IMPROVEMENT-ROADMAP.md
  docs/archive/JSDOM_ENVIRONMENT_FAILURE_ANALYSIS.md
  docs/archive/ORDER_FAILURE_INCIDENT_REPORT.md
  docs/archive/PAYMENT_500_ERROR_DIAGNOSIS.md
  docs/archive/PAYMENT_FIX_STATUS.md
  docs/archive/PHASE_2_AUTOMATED_FIX_PLAN.md
  docs/archive/PRODUCTION_TEST_RESULTS.md
  docs/archive/ROOT_CAUSE_SYNTHESIS.md
  docs/archive/STABILITY_AUDIT_PROGRESS.md
  docs/archive/TEST_SUITE_FIX_RECOMMENDATIONS.md
  docs/archive/TEST_SUITE_RESTORATION_SUMMARY.md
  docs/archive/TRACK_A_VERIFICATION_REPORT.md
  docs/archive/URGENT_FIX_SUMMARY.md
  docs/archive/nextplan.md
  docs/archive/oct18plan.md
  docs/archive/oct23plan.md
Due: prettier --write

fix(security): critical multi-tenancy access control vulnerability
  server/src/middleware/auth.ts
  server/src/middleware/restaurantAccess.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: establish single source of truth with accurate project status
  AI_DIAGNOSTIC_REPORT.md
  SOURCE_OF_TRUTH.md
  SQUARE_API_SETUP.md
  TEST_ANALYSIS_SUMMARY.txt
  TEST_HEALTH_DASHBOARD.md
  TEST_REALITY_CHECK.md
Due: prettier --write

docs: update readme and docs with accurate project status
  README.md
  docs/DEPLOYMENT.md
  docs/TROUBLESHOOTING.md
Due: prettier --write

chore: clean up test files and miscellaneous updates
  CHANGELOG.md
  client/PHASE_2_QUICK_WINS_SUMMARY.md
  client/src/contexts/__tests__/AuthContext.test.tsx
  client/src/modules/floor-plan/components/__tests__/chip-monkey.test.tsx
  client/src/modules/kitchen/components/__tests__/KDSOrderCard.test.tsx
  client/src/modules/order-system/__tests__/checkout-simple.test.tsx
  client/src/modules/order-system/__tests__/checkout.e2e.test.tsx
  client/src/modules/orders/components/__tests__/OrderCard.test.tsx
  client/src/pages/__tests__/CheckoutPage.demo.test.tsx
  client/src/test/setup.ts
  client/test/setup.ts
  client/tests/quarantine.list
  client/vitest.config.ts
  docs/incidents/oct23-bug-investigation-results.md
  scripts/check-order-response.sh
  scripts/docs-check.js
  scripts/test-oct23-fixes-local.sh
  scripts/test-oct23-fixes.sh
  scripts/test-openai-key.sh
  scripts/test-payment-flow.sh
  scripts/test-payment-properly.sh
  scripts/test-production-flows.sh
  scripts/test-rbac-fix.sh
  tests/e2e/fixtures/test-helpers.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(tests): resolve timer/async issues in AuthContext tests
  PRODUCTION_DEPLOYMENT_PLAN.md
  client/src/components/shared/timers/ElapsedTimer.test.tsx
  client/src/contexts/UnifiedCartContext.tsx
  client/src/contexts/__tests__/AuthContext.test.tsx
  client/src/contexts/cart.hooks.ts
  client/src/modules/order-system/__tests__/checkout-simple.test.tsx
  client/src/modules/order-system/__tests__/checkout.e2e.test.tsx
  client/src/modules/order-system/context/CartContext.test.tsx
  client/src/modules/order-system/context/CartContext.tsx
  client/src/pages/__tests__/CheckoutPage.demo.test.tsx
  client/tests/quarantine.list
  package-lock.json
  server/package.json
  server/src/config/sentry.ts
  server/src/routes/health.routes.ts
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(build): resolve typescript and build errors for production deployment
  client/src/contexts/UnifiedCartContext.tsx
  server/src/config/sentry.ts
  server/src/routes/health.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(ci): resolve pr #131 ci/cd failures
  .gitignore
  .vercel/project.json
  index.md
Due: prettier --write

fix: redact exposed api keys in documentation
  .github/workflows/security.yml
  docs/archive/ROOT_CAUSE_SYNTHESIS.md
  docs/incidents/oct23-bug-investigation-results.md
  scripts/ci-guards.sh
  scripts/test-oct23-fixes-local.sh
Due: prettier --write

fix(tests): restore component tests (errorboundary, kdsordercard, ordercard)
  client/src/components/shared/errors/__tests__/ErrorBoundary.test.tsx
  client/src/modules/kitchen/components/__tests__/KDSOrderCard.test.tsx
  client/src/modules/orders/components/__tests__/OrderCard.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(tests): restore service layer tests (orderservice, useorderdata)
  client/src/modules/orders/hooks/__tests__/useOrderData.test.ts
  client/src/services/orders/__tests__/OrderService.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(tests): restore websocket and realtime tests
  client/src/hooks/__tests__/useKitchenOrdersRealtime.test.ts
  client/src/services/websocket/WebSocketService.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(tests): restore accessibility tests
  client/src/modules/order-system/__tests__/accessibility.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: update test statistics and production status for phase 2 completion
  .gitignore
  SOURCE_OF_TRUTH.md
  client/tests/quarantine.list
Due: prettier --write

docs: update all documentation for phase 2 completion and v6.0.12
  CHANGELOG.md
  README.md
  docs/PRODUCTION_STATUS.md
  docs/ROADMAP.md
Due: prettier --write

fix: redact exposed api keys in documentation
  docs/archive/ROOT_CAUSE_SYNTHESIS.md
  docs/incidents/oct23-bug-investigation-results.md
  scripts/test-oct23-fixes-local.sh
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
