Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

docs(lessons): add test isolation lessons CL-TEST-001 and CL-TEST-002
  docs/guides/testing/README.md
  docs/guides/testing/TEST-ISOLATION-STRATEGY.md
  docs/lessons/CL-TEST-001-module-state-test-isolation.md
  docs/lessons/CL-TEST-002-vitest-mock-import-timing.md
Due: prettier --write

docs(lessons): codify top 6 incidents from claude-lessons3
  .claude/lessons/CL-API-001-model-deprecation.md
  .claude/lessons/CL-AUTH-001-strict-auth-drift.md
  .claude/lessons/CL-BUILD-001-vercel-production-flag.md
  .claude/lessons/CL-DB-001-migration-sync.md
  .claude/lessons/CL-MEM-001-interval-leaks.md
  .claude/lessons/CL-WS-001-handler-timing-race.md
  .claude/lessons/README.md
  CLAUDE.md
Due: prettier --write

feat(security): fix header fallback vulnerability and add audit logging
  .claude/lessons/CL-AUTH-002-header-fallback-vulnerability.md
  .claude/lessons/README.md
  server/src/lib/ports.ts
  server/src/middleware/auth.ts
  server/src/middleware/restaurantAccess.ts
  server/src/services/audit.service.ts
  server/tests/multi-tenancy.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(payments): migrate from Square to Stripe
  .env.example
  CLAUDE.md
  client/package.json
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/config/env.schema.ts
  client/src/modules/order-system/components/StripePaymentForm.tsx
  client/src/pages/CheckoutPage.tsx
  package-lock.json
  server/package.json
  server/src/config/env.schema.ts
  server/src/config/environment.ts
  server/src/routes/health.routes.ts
  server/src/routes/payments.routes.ts
  server/src/routes/terminal.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(payments): complete square to stripe migration
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/kiosk/accessibility.ts
  client/src/components/payments/CardPayment.tsx
  client/src/config/index.ts
  client/src/modules/order-system/__tests__/accessibility.test.tsx
  client/src/modules/order-system/__tests__/checkout.e2e.test.tsx
  client/src/modules/order-system/components/SquarePaymentForm.tsx
  client/src/services/payments/PaymentStateMachine.ts
  server/src/routes/security.routes.ts
  server/tests/bootstrap.ts
  server/tests/config/env-validation.test.ts
  shared/config/index.ts
  tests/e2e/card-payment.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs: update payment documentation for stripe migration
  docs/archive/2025-11/SQUARE_API_SETUP.md
  docs/archive/2025-11/SQUARE_INTEGRATION.md
  docs/reference/api/api/PAYMENT_API_DOCUMENTATION.md
  docs/reference/api/api/STRIPE_API_SETUP.md
Due: prettier --write

fix: resolve render build errors (async-mutex + native fetch)
  package-lock.json
  package.json
  server/package.json
  server/src/routes/realtime.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(voice): improve kiosk reliability and ux feedback
  client/src/modules/voice/components/HoldToRecordButton.tsx
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/services/VoiceStateMessages.ts
  client/src/modules/voice/services/WebRTCConnection.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(voice): add error classification and recovery ui
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/components/VoiceErrorDisplay.tsx
  client/src/modules/voice/hooks/__tests__/useVoiceCommerce.test.ts
  client/src/modules/voice/services/VoiceErrorClassifier.ts
  client/src/modules/voice/services/__tests__/PromptConfigService.test.ts
  client/src/modules/voice/services/__tests__/VoiceEventHandler.test.ts
  client/src/modules/voice/services/__tests__/WebRTCConnection.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: update documentation for stripe migration and current status
  CLAUDE.md
  README.md
  client/src/components/payments/README.md
  docs/PRODUCTION_STATUS.md
  docs/ROADMAP.md
  docs/SECURITY.md
  docs/TESTING_CHECKLIST.md
  docs/how-to/operations/DEPLOYMENT.md
  docs/reference/config/ENVIRONMENT.md
Due: prettier --write

feat(testing): add integration tests and load testing infrastructure
  .github/workflows/load-tests.yml
  package.json
  plans/feat-integration-and-load-testing.md
  server/tests/services/orderStateMachine.test.ts
  server/tests/services/payment-idempotency.test.ts
  tests/load/payment-processing.k6.js
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(voice): resolve kiosk button state desync and stuck recording issues
  client/src/modules/voice/components/HoldToRecordButton.tsx
  client/src/modules/voice/services/VoiceSessionConfig.ts
  client/src/modules/voice/services/VoiceStateMachine.ts
  client/src/modules/voice/services/WebRTCConnection.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/modules/voice/services/__tests__/VoiceSessionConfig.test.ts
  client/src/modules/voice/services/__tests__/VoiceStateMachine.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(voice): implement vad-based auto-stop ux for kiosk mode
  client/src/modules/voice/components/HoldToRecordButton.tsx
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/services/VoiceSessionConfig.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/modules/voice/services/__tests__/VoiceSessionConfig.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): add input validation for quantity, notes, modifier prices
  plans/voice-ordering-hardening-q4-2025.md
  server/src/ai/functions/realtime-menu-tools.ts
  server/tests/ai/functions/realtime-menu-tools.test.ts
  todos/022-completed-p1-any-types-voice-handler.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(kiosk): correct payment endpoint and field names for checkout
  client/src/components/kiosk/KioskCheckoutPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(kiosk): add two-stage voice button and fix order item id field
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/hooks/kiosk/useKioskOrderSubmission.ts
  client/src/hooks/kiosk/useOrderSubmission.ts
  client/src/modules/voice/components/HoldToRecordButton.tsx
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(api): correct restaurant config endpoint paths
  client/src/hooks/useRestaurantConfig.ts
  client/src/modules/order-system/hooks/useRestaurantData.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(api): restaurant public endpoint schema mismatch
  server/src/routes/restaurants.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(voice): enable server-side vad for kiosk mode
  client/src/modules/voice/services/VoiceSessionConfig.ts
  server/src/routes/realtime.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(ui): center hero text on mobile
  client/src/modules/order-system/components/HeroSection.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(tests): get ci green and add payment error logging
  client/src/modules/order-system/__tests__/accessibility.test.tsx
  client/src/modules/order-system/__tests__/checkout.e2e.test.tsx
  client/src/modules/voice/services/__tests__/VoiceSessionConfig.test.ts
  client/src/pages/__tests__/CheckoutPage.demo.test.tsx.skip
  client/src/pages/hooks/__tests__/useVoiceOrderWebRTC.test.tsx.skip
  client/src/services/stationRouting.test.ts.skip
  plans/test-coverage-and-technical-debt-audit.md
  server/src/routes/payments.routes.ts
  server/tests/memory-leak-prevention.test.ts
  server/tests/security/auth-security.test.ts
  server/tests/security/auth.proof.test.ts
  server/tests/security/csrf.proof.test.ts
  server/tests/security/voice-multi-tenancy.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(kds): minimal view mode with type color coding
  client/src/components/kitchen/OrderCard.tsx
  client/src/components/kitchen/OrderGroupCard.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
  plans/kds-minimal-redesign.md
  shared/config/kds.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(auth): auto-submit demo credentials on workspace tile click
  .claude/SOLUTION_SUMMARY.md
  .claude/lessons/CL-TEST-001-ci-test-fixes.md
  .claude/lessons/CL-TEST-001-code-examples.md
  .claude/test-prevention-strategies.md
  client/src/components/auth/WorkspaceAuthModal.tsx
  docs/solutions/test-failures/ci-test-suite-failures-mock-drift.md
  plans/fix-kiosk-checkout-404-500-errors.md
  plans/fix-kiosk-voice-button-ux.md
  plans/fix-kiosk-voice-ux-reliability-v2.md
  plans/fix-kiosk-voice-ux-reliability.md
  plans/fix-render-build-PORTABLE.md
  plans/fix-render-build-errors.md
  plans/fix-render-build-implementation.md
  plans/fix-render-deployment-typescript-errors.md
  plans/strategic-roadmap-q4-2025.md
  plans/unified-voice-agent.md
  plans/voice-ordering-enterprise-improvements.md
  plans/voice-ordering-phase2-reliability.md
  supabase/.temp/cli-latest
  tests/e2e/kiosk-voice-button.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): direct login call for auto-submit instead of form dispatch
  client/src/components/auth/WorkspaceAuthModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(kds): address code review findings - accessibility, performance, testing
  client/src/components/kitchen/FocusOverlay.tsx
  client/src/components/kitchen/ModifierList.tsx
  client/src/components/kitchen/OrderCard.tsx
  client/src/components/kitchen/OrderGroupCard.tsx
  client/src/components/kitchen/__tests__/ModifierList.test.tsx
  client/src/hooks/useOrderGrouping.ts
  client/src/hooks/useTableGrouping.ts
  client/src/pages/KitchenDisplayOptimized.tsx
  shared/config/__tests__/kds.test.ts
  shared/config/kds.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(websocket): add localstorage jwt fallback for dual-auth pattern
  client/src/services/websocket/WebSocketService.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(db): resolve orders_status_check constraint drift (KDS P1 fix)
  .claude/lessons/CL-DB-002-constraint-drift-prevention.md
  .claude/lessons/README.md
  plans/kds-order-not-found-fix.md
  server/tests/contracts/orderStatusConstraint.test.ts
  supabase/migrations/20251127155000_fix_orders_status_check_constraint.sql
  supabase/migrations/20251127155000_rollback_fix_orders_status_check_constraint.sql
  todos/075-pending-p2-db-constraint-alignment-test.md
  todos/076-pending-p3-rollback-migration-file.md
  todos/077-pending-p2-lesson-learned-constraint-drift.md
  todos/078-pending-p3-orders-status-not-null.md
Due: eslint --fix, npm run typecheck:staged, prettier --write

chore: add KDS review docs, auth pattern lessons, and todo tracking
  .claude/lessons/AUTH_PATTERN_BEFORE_AFTER.md
  .claude/lessons/AUTH_PATTERN_QUICK_REFERENCE.md
  .claude/lessons/CL-AUTH-002-websocket-dual-auth-prevention.md
  PREVENTION_STRATEGY_DELIVERABLE.md
  docs/prevention/AUTH_DUAL_PATTERN_PREVENTION_SUMMARY.md
  docs/prevention/EXECUTIVE_SUMMARY.md
  docs/prevention/INDEX.txt
  docs/prevention/ISSUES_MAPPING.md
  docs/prevention/KDS_ESLINT_AUTOMATION.md
  docs/prevention/KDS_PREVENTION_STRATEGIES.md
  docs/prevention/KDS_QUICK_REFERENCE.md
  docs/prevention/README.md
  docs/solutions/accessibility-issues/kds-code-review-multi-phase-fixes.md
  docs/solutions/auth-issues/websocket-station-auth-dual-pattern.md
  plans/kds-declutter-final.md
  plans/kds-declutter-phase2.md
  plans/kds-review-fixes-implementation.md
  test-auto-login.mjs
  todos/055-pending-p1-kds-focus-modal-accessibility.md
  todos/056-pending-p1-kds-allergy-color-only.md
  todos/057-pending-p2-kds-modifier-rendering-duplication.md
  todos/058-pending-p2-kds-guest-name-duplication.md
  todos/059-pending-p2-kds-ordergroupcard-missing-memo.md
  todos/060-pending-p2-kds-card-size-calculation-in-render.md
  todos/061-pending-p2-kds-missing-unit-tests.md
  todos/062-pending-p3-kds-urgency-color-duplication.md
  todos/063-pending-p3-kds-unused-status-colors.md
  todos/064-pending-p3-kds-magic-numbers-card-sizing.md
  todos/065-complete-p1-modifierlist-role-alert-misuse.md
  todos/066-complete-p1-focusoverlay-flatmap-render.md
  todos/067-complete-p1-focusoverlay-queryselectorall-tab.md
  todos/068-complete-p1-urgency-thresholds-inconsistent.md
  todos/069-complete-p2-ordergroupcard-memo-missing-deps.md
  todos/070-complete-p2-green-text-contrast-fails-wcag.md
  todos/071-complete-p2-decorative-icons-missing-aria-hidden.md
  todos/072-complete-p2-modifierlist-tests-missing.md
  todos/073-complete-p2-allergy-tests-incomplete.md
  todos/074-complete-p3-progressbar-missing-aria.md
Due: prettier --write

test: fix OrderCard tests to match component updates
  client/src/modules/kitchen/components/__tests__/KDSOrderCard.test.tsx
  client/src/modules/orders/components/__tests__/OrderCard.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add solution doc for OrderCard test drift
  docs/solutions/test-failures/ordercard-test-drift-after-refactor.md
Due: prettier --write

chore(todos): mark completed KDS accessibility and performance items
  todos/055-pending-p1-kds-focus-modal-accessibility.md
  todos/056-pending-p1-kds-allergy-color-only.md
  todos/057-pending-p2-kds-modifier-rendering-duplication.md
  todos/058-pending-p2-kds-guest-name-duplication.md
  todos/059-pending-p2-kds-ordergroupcard-missing-memo.md
  todos/060-pending-p2-kds-card-size-calculation-in-render.md
Due: prettier --write

fix(webrtc): add guard flag to prevent duplicate disconnection handling
  client/src/modules/voice/services/WebRTCConnection.ts
  client/src/modules/voice/services/__tests__/WebRTCConnection.test.ts
  todos/034-pending-p2-overlapping-disconnect-handlers.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): resolve p1/p2 todos via parallel agent processing
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/components/kitchen/__tests__/ConnectionStatusBar.test.tsx
  client/src/components/kitchen/__tests__/FocusOverlay.test.tsx
  client/src/components/kitchen/__tests__/OrderCard.test.tsx
  client/src/components/kitchen/__tests__/OrderGroupCard.test.tsx
  client/src/components/kitchen/__tests__/ScheduledOrdersSection.test.tsx
  client/src/components/kitchen/__tests__/StationStatusBar.test.tsx
  client/src/components/kitchen/__tests__/TableGroupCard.test.tsx
  client/src/components/kitchen/__tests__/TouchOptimizedOrderCard.test.tsx
  client/src/components/kitchen/__tests__/VirtualizedOrderGrid.test.tsx
  client/src/hooks/kiosk/useKioskOrderSubmission.ts
  client/src/hooks/kiosk/useOrderSubmission.ts
  client/src/modules/voice/contexts/VoiceOrderContext.tsx
  client/src/modules/voice/services/VoiceCheckoutOrchestrator.ts
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/modules/voice/services/__tests__/VoiceCheckoutOrchestrator.test.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/routes/realtime.routes.ts
  shared/cart.ts
  todos/006-completed-p1-data-channel-race-condition.md
  todos/007-completed-p1-rtc-connection-state-monitoring.md
  todos/013-completed-p2-openai-fetch-timeout.md
  todos/015-completed-p2-voice-order-context-dead-code.md
  todos/031-deferred-multiseat-extraction-analysis.md
  todos/031-pending-p2-multiseat-isolation.md
  todos/053-pending-p2-modifier-pricing-fallback.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(voice): resolve critical code review findings from parallel processing
  client/src/modules/voice/services/VoiceCheckoutOrchestrator.ts
  client/src/modules/voice/services/VoiceEventHandler.ts
  server/src/ai/functions/realtime-menu-tools.ts
  shared/cart.ts
  shared/utils/index.ts
  shared/utils/price-validation.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore(todos): mark TODO-007 RTC connection monitoring as completed
  todos/007-completed-p1-rtc-connection-state-monitoring.md
  todos/007-pending-p1-rtc-connection-state-monitoring.md
Due: prettier --write

chore(todos): audit and cleanup todo backlog
  todos/001-pending-p1-competing-state-management.md
  todos/002-pending-p1-console-log-violations.md
  todos/004-pending-p1-rate-limiting-session-endpoint.md
  todos/018-pending-p1-message-queue-memory.md
  todos/023-pending-p1-any-types-menu-tools.md
  todos/027-pending-p2-lru-cache-dispose.md
  todos/055-pending-p1-kds-focus-modal-accessibility.md
  todos/056-pending-p1-kds-allergy-color-only.md
  todos/080-pending-p1-server-floating-point-arithmetic.md
  todos/081-pending-p1-prompt-injection-menu-data.md
  todos/085-pending-p1-modifier-zero-fallback.md
  todos/087-pending-p2-error-message-disclosure.md
  todos/090-pending-p2-usereducer-closure-rerender.md
  todos/091-pending-p2-cache-thundering-herd.md
  todos/092-pending-p2-multi-tenant-tests-missing.md
Due: prettier --write

docs(solutions): add parallel agent todo audit solution
  docs/solutions/process-issues/parallel-agent-todo-audit-crash.md
Due: prettier --write

feat(orders): implement type alignment and notification hooks (#146)
  client/src/services/websocket/orderUpdates.ts
  client/src/utils/orderStatusUtils.ts
  plans/refactor-order-management-system.md
  server/src/services/orderStateMachine.ts
  server/src/services/orders.service.ts
  server/tests/services/orderStateMachine.test.ts
  shared/utils/index.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(shared): use barrel imports for shared package utilities
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/models/order.model.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests
