Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore(build): prepare server dist compilation
  server/package.json
  server/src/ai/functions/realtime-menu-tools.ts
  server/tsconfig.prod.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(security): install helmet/cors/ratelimit defaults
  server/src/app.ts
  server/src/middleware/rateLimiter.ts
  server/src/middleware/security.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(security): enforce Bearer + X-Restaurant-ID on all write routes
  server/src/middleware/strict-auth.ts
  server/src/routes/index.ts
  server/src/types/express.d.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

test(server): smoke test for strict auth on mutating requests
  server/tests/strict-auth.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

feat(security): add origin guard, webhook signature stubs, and DTO validation middleware
  server/src/app.ts
  server/src/middleware/origin-guard.ts
  server/src/middleware/validate.ts
  server/src/middleware/webhookSignature.ts
  server/src/routes/auth.routes.ts
  server/src/routes/index.ts
  server/tests/webhook-signature.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

stabilize(converge): unify RestaurantContext hook; guard PaymentMethod cardDetails; safe voice session update
  client/src/contexts/RestaurantContext.tsx
  client/src/core/restaurant-types.ts
  client/src/modules/payment/components/PaymentMethodPicker.tsx
  client/src/modules/voice/hooks/useVoiceMenuIntegration.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

build(agents): add AGENTS + docs + templates (docs/.github only)
  .codex/profile.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/1-codex-plan.yml
  .github/ISSUE_TEMPLATE/2-codex-fix.yml
  .github/ISSUE_TEMPLATE/3-dependency.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docs-ci.yml
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CHECKS.sh
  docs/DEMO.md
  docs/FEATURE_FLAGS.md
  docs/OPERATING_CHARTER.md
Due: prettier --write

Revert "build(agents): add AGENTS + docs + templates (docs/.github only)"
  .codex/profile.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/1-codex-plan.yml
  .github/ISSUE_TEMPLATE/2-codex-fix.yml
  .github/ISSUE_TEMPLATE/3-dependency.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docs-ci.yml
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CHECKS.sh
  docs/DEMO.md
  docs/FEATURE_FLAGS.md
  docs/OPERATING_CHARTER.md
Due: prettier --write

docs: quarantine Claude docs under docs/_archive/claude and declare canonical sources
  AGENTS.md
  README.md
  docs/ARCHITECTURE.md
  docs/CHECKS.sh
  docs/DEMO.md
  docs/FEATURE_FLAGS.md
  docs/OPERATING_CHARTER.md
  docs/VERIFIED_TRUTH.md
  docs/_archive/README.md
  docs/_archive/claude/2025-01-26/superseded/CLAUDE-REFERENCE.md
  docs/_archive/claude/CLAUDE.md
  docs/_archive/claude/Claude Findings/README.md
  docs/_archive/claude/Claude Findings/abandoned-work-analysis.md
  docs/_archive/claude/Claude Findings/enterprise-audit-report.md
  docs/_archive/claude/Claude Findings/enterprise-migration-strategy.md
Due: prettier --write

chore(docs): add archive-link CI guard, docs-only Husky path guard, and documentation labels
  .github/labeler.yml
  .github/workflows/labeler.yml
  .husky/pre-commit
  docs/CHECKS.sh
Due: none

fix(tests): add vitest jest shim
  client/test/setup.ts
  server/tests/bootstrap.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(api): camelCase order payload keys to match server
  client/src/hooks/kiosk/useOrderSubmission.ts
  client/src/hooks/useApiRequest.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/services/orders/OrderService.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): allow server role for order operations
  server/src/routes/__tests__/orders.rctx.test.ts
  server/src/routes/orders.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

build(agents): restore agent guardrails & canonical docs (docs/.github only)
  .codex/profile.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/1-codex-plan.yml
  .github/ISSUE_TEMPLATE/2-codex-fix.yml
  .github/ISSUE_TEMPLATE/3-dependency.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/docs-ci.yml
  .github/workflows/labeler.yml
  .husky/pre-commit
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CHECKS.sh
  docs/DEMO.md
  docs/FEATURE_FLAGS.md
  docs/OPERATING_CHARTER.md
  docs/VERIFIED_TRUTH.md
  docs/_archive/README.md
  docs/_archive/claude/2025-01-26/superseded/CLAUDE-REFERENCE.md
  docs/_archive/claude/CLAUDE.md
Due: prettier --write

chore(tests): add quick test scripts and safe vitest defaults
  client/package.json
  client/vitest.config.ts
  server/package.json
  server/vitest.config.ts
  shared/package.json
Due: eslint --fix, npm run typecheck:staged, prettier --write

chore(tests): green quick lane via quarantine lists and minimal shims
  client/tests/quarantine.list
  client/tests/sanity/quick.spec.ts
  client/vitest.config.ts
  server/tests/quarantine.list
  server/vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

feat(contracts): shared schemas and validation middleware (orders create)
  server/src/middleware/validate.ts
  server/src/routes/orders.routes.ts
  shared/contracts/order.ts
  shared/contracts/payment.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(payments): server-only totals with validation and idempotency
  server/src/routes/payments.routes.ts
  shared/contracts/payment.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(payments): server-only totals with validation and idempotency (#52)
  server/src/routes/payments.routes.ts
  shared/contracts/payment.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

test(contracts): quick-lane boundary tests for orders & payments
  server/tests/bootstrap.ts
  server/tests/contracts/order.contract.test.ts
  server/tests/contracts/payment.contract.test.ts
  server/vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

test(contracts): quick-lane boundary tests for orders & payments (#53)
  server/tests/bootstrap.ts
  server/tests/contracts/order.contract.test.ts
  server/tests/contracts/payment.contract.test.ts
  server/vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

chore(ci): add quick-lane workflow (GitHub Actions)
  .github/workflows/quick-tests.yml
Due: none

chore(ci): add quick-lane workflow (GitHub Actions) (#54)
  .github/workflows/quick-tests.yml
Due: none

chore(ci): add TypeScript freeze guard (baseline = current)
  .github/workflows/ts-freeze.yml
  package.json
  scripts/ts-freeze.baseline.json
  scripts/ts-freeze.cjs
Due: prettier --write

chore(ci): add TypeScript freeze guard (baseline = current) (#55)
  .github/workflows/ts-freeze.yml
  package.json
  scripts/ts-freeze.baseline.json
  scripts/ts-freeze.cjs
Due: prettier --write

chore(ci): add ESLint freeze guard (baseline = current)
  .github/workflows/eslint-freeze.yml
  package.json
  scripts/eslint-freeze.baseline.json
  scripts/eslint-freeze.cjs
Due: prettier --write

chore(ci): add ESLint freeze guard (baseline = current) (#56)
  .github/workflows/eslint-freeze.yml
  package.json
  scripts/eslint-freeze.baseline.json
  scripts/eslint-freeze.cjs
Due: prettier --write

test(security): proof tests for auth, csrf, rbac, ratelimit, headers
  server/tests/security/auth.proof.test.ts
  server/tests/security/csrf.proof.test.ts
  server/tests/security/headers.proof.test.ts
  server/tests/security/ratelimit.proof.test.ts
  server/tests/security/rbac.proof.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

build(server): compile for prod (dist/) and add CI build check
  .github/workflows/server-build.yml
  .gitignore
  docs/DEPLOYMENT.md
  server/package.json
  server/tsconfig.build.json
Due: prettier --write

fix(build): allow TypeScript build to complete with errors
  server/package.json
  server/tsconfig.build.json
Due: prettier --write

build(server): compiled prod (dist/) + CI build check (#58)
  .github/workflows/server-build.yml
  .gitignore
  docs/DEPLOYMENT.md
  server/package.json
  server/tsconfig.build.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
