Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

docs: add phase 1 end-to-end production test report
  docs/PHASE_1_E2E_TEST_REPORT.md
  index.md
Due: prettier --write

docs: correct phase 1 e2e test report - kiosk workspace fully functional
  docs/PHASE_1_E2E_TEST_REPORT.md
Due: prettier --write

docs: add comprehensive DRY analysis for kiosk vs online order
  docs/DRY_ANALYSIS_KIOSK_ONLINE_ORDER.md
Due: prettier --write

docs: add DRY refactoring handoff with 3-phase implementation plan
  docs/HANDOFF_DRY_REFACTORING.md
Due: prettier --write

refactor: phase 1 dry improvements for checkout pages
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/config/checkoutValidation.ts
  client/src/modules/order-system/context/CartContext.test.tsx
  client/src/modules/order-system/context/CartContext.tsx
  client/src/pages/CheckoutPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

temp: add auto-fill for checkout forms in demo mode
  VOICE_ORDER_ANALYSIS_SUMMARY.md
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/pages/CheckoutPage.tsx
  docs/VOICE_ORDER_ANALYSIS_INDEX.md
  docs/VOICE_ORDER_WORKFLOW_ANALYSIS.md
  docs/testing/VIEWPORT_CONFIGURATION.md
  playwright.config.ts
  tests/config/viewport.config.ts
  tests/e2e/viewport-test.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: correct default restaurant id from wrong uuid to 1111-111111-11111
  .env.example
  client/src/contexts/UnifiedCartContext.tsx
  tests/e2e/checkout-flow.spec.ts
  tests/e2e/checkout-smoke.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

revert: restore correct restaurant id 11111111-1111-1111-1111-111111111111
  .env.example
  client/src/contexts/UnifiedCartContext.tsx
  tests/e2e/checkout-smoke.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat: implement slug-based routing with "grow" for better ux
  .env.example
  client/src/contexts/UnifiedCartContext.tsx
  server/src/middleware/slugResolver.ts
  server/src/routes/restaurants.routes.ts
  server/src/server.ts
  tests/e2e/checkout-smoke.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

refactor: replace all hardcoded uuid fallbacks with 'grow' slug
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/components/auth/WorkspaceAuthModal.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/core/RestaurantContext.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/pages/KioskPage.tsx
  client/src/pages/Login.tsx
  client/src/pages/PinLogin.tsx
  client/src/pages/StationLogin.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/services/api.ts
  client/src/services/http/RestaurantIdProvider.tsx
  client/src/services/tables/TableService.ts
  client/src/services/websocket/WebSocketService.test.ts
  client/src/services/websocket/WebSocketService.ts
  client/src/utils/env.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add comprehensive slug-based routing documentation
  docs/CHANGELOG.md
  docs/explanation/architecture-decisions/ADR-008-slug-based-routing.md
  docs/explanation/architecture/ARCHITECTURE.md
  docs/reference/config/ENVIRONMENT.md
  index.md
Due: prettier --write

docs: Phase 1 API documentation - P0 endpoints + version bump
  docs/reference/api/api/README.md
  docs/reference/api/openapi.yaml
Due: prettier --write

docs: fix Phase 1 API documentation path inconsistencies
  docs/investigations/phase1-validation-and-fixes-2025-11-06.md
  docs/reference/api/api/README.md
  docs/reference/api/openapi.yaml
Due: prettier --write

feat(docs): achieve 100% API documentation coverage with automation tools
  .github/workflows/api-docs-validation.yml
  docs/investigations/api-documentation-strategy-2025-11-06.md
  docs/investigations/api-endpoint-inventory-2025-11-06.md
  docs/investigations/api-route-inventory.json
  docs/investigations/api-route-inventory.md
  docs/investigations/api-validation-report.json
  docs/investigations/api-validation-report.md
  docs/investigations/openapi-path-fixes-needed.md
  docs/investigations/phase1-openapi-updates-required.md
  docs/reference/api/openapi.yaml
  package-lock.json
  package.json
  scripts/scan-api-routes.ts
  scripts/validate-openapi.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix: support uuid and slug formats in env validator
  client/src/config/env-validator.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: clear session on switch user to prevent session persistence
  client/src/components/auth/UserMenu.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: server voice ordering seats/capacity schema mismatch
  client/src/pages/components/VoiceOrderModal.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  server/src/routes/tables.routes.ts
  server/src/services/orders.service.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: logout before login when switching workspace users
  client/src/components/auth/WorkspaceAuthModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: trim environment variables to remove newlines causing voice ordering failure
  VOICE_ORDERING_FIX_SUMMARY.md
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  server/src/config/env.ts
  server/src/routes/realtime.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: enable anonymous voice ordering for kiosk-demo
  client/src/modules/voice/services/VoiceSessionConfig.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/services/auth/index.ts
  server/src/routes/realtime.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat: implement server touch+voice ordering system
  client/src/components/shared/MenuItemGrid.tsx
  client/src/components/shared/OrderInputSelector.tsx
  client/src/components/shared/index.ts
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/modules/voice/services/VoiceSessionConfig.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/ServerView.tsx
  client/src/pages/components/ItemModifiersModal.tsx
  client/src/pages/components/ServerMenuGrid.tsx
  client/src/pages/components/VoiceOrderModal.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/utils/__tests__/fuzzyMenuMatcher.manual-test.ts
  client/src/utils/__tests__/fuzzyMenuMatcher.test.ts
  client/src/utils/fuzzyMenuMatcher.ts
  docs/README.md
  docs/SERVER_TOUCH_VOICE_ORDERING.md
  docs/TOUCH_VOICE_QUICK_REF.md
  docs/VOICE_CONFIG_AUDIT.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): enable manager access to floor plan editor
  client/src/pages/AdminDashboard.tsx
  docs/how-to/operations/FLOOR_PLAN_MANAGEMENT.md
  docs/reference/config/AUTH_ROLES.md
  index.md
  server/src/middleware/rbac.ts
  server/src/routes/tables.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: make github actions scripts executable
  scripts/archive/2025-09-25/deployment/vercel-env-commands.sh
  scripts/archive/2025-09-25/testing/test-context.sh
  scripts/test-oct23-fixes-local.sh
Due: none

fix: enforce restaurant_id requirement in STRICT_AUTH mode
  DATABASE_ROLE_SCOPES_SYNC_INVESTIGATION.md
  DATABASE_SYNC_EXECUTIVE_SUMMARY.txt
  server/src/middleware/auth.ts
  server/tests/security/rbac.proof.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(auth): correct middleware ordering in tables routes
  server/src/routes/tables.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: resolve auth test failures (issue #135)
  DATABASE_SYNC_INVESTIGATION_INDEX.md
  DATABASE_SYNC_QUICK_REFERENCE.txt
  ROLE_SCOPE_CODE_VS_DATABASE_COMPARISON.md
  server/tests/routes/orders.auth.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

chore(db): archive abandoned migration files and sync schema
  prisma/schema.prisma
  supabase/migrations/.archive/20251019_add_batch_update_tables_rpc.sql
  supabase/migrations/.archive/20251019_add_create_order_with_audit_rpc.sql
  supabase/migrations/.archive/20251019_add_tax_rate_to_restaurants.sql
  supabase/migrations/.archive/20251019_add_version_to_orders.sql
  supabase/migrations/.archive/README.md
Due: prettier --write

docs: fix critical inconsistencies and enhance remote-first architecture
  .env.example
  README.md
  docs/explanation/README.md
  docs/explanation/architecture-decisions/ADR-010-remote-database-source-of-truth.md
  docs/reference/schema/DATABASE.md
  supabase/migrations/README.md
Due: prettier --write

docs: fix verified documentation gaps after ultrathink analysis
  docs/SUPABASE_CONNECTION_GUIDE.md
  docs/how-to/operations/DEPLOYMENT_CHECKLIST.md
  docs/tutorials/GETTING_STARTED.md
Due: prettier --write

docs: add visual workflow diagrams and navigation tree
  docs/README.md
  docs/explanation/architecture/diagrams/deployment-pipeline.md
  docs/explanation/architecture/diagrams/documentation-navigation.md
  docs/explanation/architecture/diagrams/migration-workflow.md
  docs/how-to/operations/DEPLOYMENT.md
  supabase/migrations/README.md
Due: prettier --write

chore: archive abandoned migrations and add investigation reports
  ISSUE_6_VITE_VALIDATION_REPORT.md
  SUPABASE_MIGRATION_EVIDENCE_CATALOG.md
  SUPABASE_MIGRATION_QUICK_REFERENCE.md
  SUPABASE_MIGRATION_TRACKING_FINDINGS.md
  SUPABASE_MIGRATION_TRACKING_INDEX.md
  SUPABASE_MIGRATION_TRACKING_INVESTIGATION.md
  supabase/migrations/20251019_add_batch_update_tables_rpc.sql
  supabase/migrations/20251019_add_create_order_with_audit_rpc.sql
  supabase/migrations/20251019_add_tax_rate_to_restaurants.sql
  supabase/migrations/20251019_add_version_to_orders.sql
Due: prettier --write

fix: add account switching ui to unauthorized page
  client/src/pages/UnauthorizedPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: skip csrf protection for table management api endpoints
  server/src/middleware/csrf.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: correct batch_update_tables rpc function column mappings
  supabase/migrations/20251108165105_fix_batch_update_tables_capacity_to_seats.sql
Due: none

fix: replace table_number with label in batch_update_tables ordering
  supabase/migrations/20251108165105_fix_batch_update_tables_capacity_to_seats.sql
Due: none

fix: critical auth scopes bug and add voice/touch order selection UX
  client/src/pages/ServerView.tsx
  client/src/pages/components/SeatSelectionModal.tsx
  client/src/pages/components/VoiceOrderModal.tsx
  docs/SERVER_ORDER_PLACEMENT_DIAGNOSTIC.md
  server/src/routes/auth.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

Revert "fix: critical auth scopes bug and add voice/touch order selection UX"
  client/src/pages/ServerView.tsx
  client/src/pages/components/SeatSelectionModal.tsx
  client/src/pages/components/VoiceOrderModal.tsx
  docs/SERVER_ORDER_PLACEMENT_DIAGNOSTIC.md
  server/src/routes/auth.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat: re-add dual-button ux for voice/touch order selection
  client/src/pages/ServerView.tsx
  client/src/pages/components/SeatSelectionModal.tsx
  client/src/pages/components/VoiceOrderModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: critical infinite loop bug in useToast and modal prop sync
  client/src/hooks/useToast.ts
  client/src/pages/components/VoiceOrderModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests
