Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(phase1): establish world-class database migration foundation
  .gitignore
  package-lock.json
  package.json
  prisma.config.ts
  prisma/schema.prisma
  scripts/post-migration-sync.sh
  scripts/verify-migration-history.sh
  supabase/MIGRATION_BASELINE.md
  supabase/MIGRATION_GUIDE.md
  supabase/migrations/20250130_auth_tables.sql
  supabase/migrations/20250201_payment_audit_logs.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write

feat(phase2): stable ci/cd automation for database migrations
  .github/workflows/deploy-migrations.yml
  .github/workflows/drift-check.yml
  .github/workflows/pr-validation.yml
  CONTRIBUTING.md
  docs/CI_CD_WORKFLOWS.md
  scripts/deploy-migration.sh
  scripts/rollback-migration.sh
Due: prettier --write

fix(workflows): resolve yaml syntax error in drift-check.yml
  .github/workflows/drift-check.yml
Due: none

fix(workflows): skip puppeteer download in ci workflows
  .github/workflows/drift-check.yml
  .github/workflows/pr-validation.yml
Due: none

chore(schema): sync prisma with production - remove @ignore from user_pins relations
  prisma/schema.prisma
Due: none

fix(workflows): add required github actions permissions for issues and prs
  .github/workflows/deploy-migrations.yml
  .github/workflows/drift-check.yml
  .github/workflows/pr-validation.yml
Due: none

test(ci): add pr validation test migration
  supabase/migrations/20251022150000_test_pr_validation.sql
Due: none

fix(workflows): add database_url to prisma validate step
  .github/workflows/pr-validation.yml
Due: none

fix(workflows): resolve yaml syntax error in deploy-migrations.yml
  .github/workflows/deploy-migrations.yml
Due: none

chore(dx): add actionlint validation to pre-commit hook
  .husky/pre-commit
  package.json
Due: prettier --write

fix(schema): restore @ignore to user_pins relations for consistency
  prisma/schema.prisma
Due: none

fix(schema): match prisma formatting for user_pins @ignore attributes
  prisma/schema.prisma
Due: none

chore(migrations): remove empty migration file
  supabase/migrations/20250713130722_remote_schema.sql
Due: none

test(ci): add deployment automation test migration (Tier 3)
  supabase/migrations/20251022160000_test_deployment_automation.sql
Due: none

fix(ci): add npm install to deployment workflow for prisma sync
  .github/workflows/deploy-migrations.yml
Due: none

fix(ci): patch @ignore attributes after prisma db pull
  scripts/post-migration-sync.sh
Due: none

chore(test): remove test migration after successful tier 3 validation
  supabase/migrations/20251022160000_test_deployment_automation.sql
Due: none

feat(test): add e2e smoke test infrastructure for production launch
  docs/TESTING_CHECKLIST.md
  package.json
  playwright.config.ts
  scripts/run-smoke-tests.sh
  tests/e2e/auth/login.smoke.spec.ts
  tests/e2e/auth/login.spec.ts
  tests/e2e/fixtures/test-data.ts
  tests/e2e/fixtures/test-helpers.ts
  tests/e2e/fixtures/test-users.ts
  tests/e2e/kds/kitchen-display.smoke.spec.ts
  tests/e2e/orders/server-order-flow.smoke.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
