Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: use anon key for supabase authentication instead of service role key
  server/src/config/database.ts
  server/src/routes/auth.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: add july25-client-git-main preview deployment to cors allowed origins
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: allow all vercel preview deployments with wildcard pattern matching
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: only initialize websocket after user authentication
  client/src/App.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: navigate to role-specific dashboard after demo login
  client/src/components/auth/DevAuthOverlay.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: add scopes to auth responses and enhance authorization system
  ROLE_PERMISSIONS_AUDIT_REPORT.md
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/components/auth/ProtectedRoute.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/contexts/AuthContext.tsx
  client/src/pages/UnauthorizedPage.tsx
  client/tailwind.config.js
  server/src/routes/auth.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: replace hard reloads with react router navigation in demo login
  client/src/components/auth/DevAuthOverlay.tsx
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: add auth loading timeout and enhanced logging for debugging
  client/src/components/auth/ProtectedRoute.tsx
  client/src/contexts/AuthContext.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: verify supabase session persistence before navigation
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/contexts/AuthContext.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor: migrate to pure supabase auth and remove race conditions
  client/src/contexts/AuthContext.tsx
  docs/AUTHENTICATION_ARCHITECTURE.md
  docs/MIGRATION_V6_AUTH.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add comprehensive testing checklist for auth v6.0
  TESTING_CHECKLIST.md
Due: prettier --write

fix: resolve typescript errors blocking ci pipeline
  client/src/config/index.ts
  client/src/contexts/AuthContext.tsx
  client/vite.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

test: add comprehensive auth e2e test suite
  debug-login.spec.ts
  playwright-auth.config.ts
  test-auth-flow.spec.ts
  test-vercel-deployment.sh
Due: eslint --fix, npm run typecheck:staged, prettier --write

chore: remove claude configs and improve auth testing
  .claude/agent.md
  .claude/agents/codebase-researcher.md
  .claude/commands/codebase-context.md
  .claude/commands/experiment-driven.md
  .claude/commands/github-workflow.md
  .claude/commands/meet-claude.md
  .claude/commands/ui-implementation.md
  .claude/config.json
  AUTH_DIAGNOSTIC_GUIDE.md
  supabase/.temp/gotrue-version
  supabase/.temp/storage-version
  test-auth-flow.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

feat: add claude.md with project context and rules
  CLAUDE.md
Due: prettier --write

feat(kitchen): upgrade to optimized display with table grouping
  AUTH_FIX_REPORT.md
  CLAUDE.md
  COMPLETED_WORK_SUMMARY.md
  KITCHEN_DISPLAY_UPGRADE.md
  KITCHEN_FIX_SUMMARY.md
  client/src/components/layout/AppRoutes.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
  scripts/check-db-schema.ts
  scripts/diagnose-demo-auth.ts
  scripts/fix-kitchen-scopes.ts
  scripts/test-kitchen-auth.ts
  server/src/routes/auth.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(auth): correct role_scopes column name for scope queries
  docs/AUTHENTICATION_ARCHITECTURE.md
  server/src/middleware/rbac.ts
  server/src/routes/auth.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(auth): grant managers full admin access
  ROLE_PERMISSIONS_AUDIT_REPORT.md
  client/src/components/auth/ProtectedRoute.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(menu): reorganize order page to match restaurant menu style
  client/src/modules/order-system/components/MenuSections.tsx
  client/src/modules/order-system/types/menu-sections.ts
  server/scripts/seed-menu-mapped.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): ensure restaurant id is set in optionalauth catch block
  server/src/middleware/auth.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
