Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(voice): sync button toggle state with recording state
  client/src/modules/voice/components/HoldToRecordButton.tsx
  test-voice-button-toggle-bug.mjs
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

test(voice): update button toggle test with correct verification logic
  test-voice-button-toggle-bug.mjs
Due: none

fix(voice): make button interaction messaging context-aware
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(voice): add ADR-012 for hold vs tap interaction pattern
  docs/explanation/architecture-decisions/ADR-012-voice-interaction-pattern-by-context.md
Due: prettier --write

feat(voice): complete Voice Agent Remediation Phases 1-3
  claude-lessons3/04-realtime-websocket-issues/LESSONS.md
  claude-lessons3/04-realtime-websocket-issues/README.md
  claude-lessons3/07-api-integration-issues/LESSONS.md
  claude-lessons3/DOCUMENTATION_UPDATE_COMPLETION_2025-01-23.md
  claude-lessons3/VOICE_AGENT_REMEDIATION_PHASES_1-3.md
  claude-lessons3/VOICE_DOCUMENTATION_AUDIT_2025-01-23.md
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/modules/voice/hooks/__tests__/useVoiceCommerce.test.ts
  client/src/modules/voice/hooks/useVoiceCommerce.ts
  client/src/modules/voice/services/VoiceSessionConfig.ts
  client/src/modules/voice/services/VoiceStateMachine.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/modules/voice/services/__tests__/PromptConfigService.test.ts
  client/src/modules/voice/services/__tests__/VoiceStateMachine.test.ts
  client/src/pages/components/VoiceOrderModal.tsx
  docs/explanation/architecture-decisions/ADR-012-voice-state-machine.md
  docs/explanation/architecture/VOICE_ORDERING_WEBRTC.md
  docs/how-to/operations/VOICE_ORDERING_TROUBLESHOOTING.md
  docs/voice/VOICE_ORDERING_EXPLAINED.md
  server/src/routes/realtime.routes.ts
  shared/index.ts
  shared/src/voice/PromptConfigService.ts
  shared/tsconfig.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(voice): complete Voice Agent Phase 4 - Dynamic Configuration
  SESSION_SUMMARY_2025-01-23.md
  VOICE_AGENT_PHASE_4_COMPLETE.md
  client/src/modules/voice/hooks/useVoiceCommerce.ts
  client/src/services/voice/VoiceConfigService.ts
  prisma/schema.prisma
  server/src/routes/index.ts
  server/src/routes/voice-config.routes.ts
  server/src/services/voice-config.service.ts
  shared/index.ts
  shared/types/index.ts
  shared/types/voice.types.ts
  supabase/.temp/cli-latest
  supabase/migrations/20251123155805_add_voice_modifier_rules.sql
  supabase/migrations/20251123155806_seed_voice_menu_aliases.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(architecture): implement unified truth protocol - phase 1
  client/src/contexts/UnifiedCartContext.tsx
  client/src/hooks/useRestaurantConfig.ts
  server/src/models/order.model.ts
  server/src/routes/restaurants.routes.ts
  server/src/services/orders.service.ts
  shared/cart.ts
  shared/index.ts
  shared/validation/order.schema.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(phase-3): cart hydration fix + operational cleanup
  TEST_HEALTH.md
  client/src/contexts/UnifiedCartContext.tsx
  scripts/check-order-response.sh
  scripts/puppeteer-test.mjs
  scripts/reality-audit.sh
  scripts/test-oct23-fixes-local.sh
  scripts/test-oct23-fixes.sh
  tests/manual/test-kitchen-display.html
  tests/manual/test-mark-as-sent.html
  tests/manual/test-optimizations.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(phase-1): critical remediation - tax rates, cart logic, WebSocket stability
  ARCHITECTURAL_AUDIT_REPORT.md
  client/src/App.tsx
  client/src/core/RestaurantContext.tsx
  client/src/hooks/useTaxRate.ts
  client/src/pages/ServerView.tsx
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/services/payment.service.ts
  server/src/services/voice-config.service.ts
  shared/constants/business.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

refactor(payments): replace boolean flags with payment state machine
  client/src/components/payments/CardPayment.tsx
  client/src/services/payments/PaymentStateMachine.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor(voice): remove 47 hardcoded menu values, enable multi-tenant voice ordering
  client/src/modules/voice/services/VoiceMenuMatcher.ts
  client/src/modules/voice/services/orderIntegration.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(audit): mark phase 3 items resolved in architectural audit v2
  docs/reports/ARCHITECTURAL_AUDIT_REPORT_V2.md
Due: prettier --write

docs(phase-3): add completion report for architectural hardening
  docs/reports/PHASE_3_COMPLETION_REPORT.md
Due: prettier --write

refactor(kds): consolidate alert thresholds into shared config
  client/src/components/kitchen/OrderCard.tsx
  client/src/components/kitchen/ScheduledOrdersSection.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
  shared/config/kds.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor(terminal,cart): replace fragile async patterns with fsm
  client/src/contexts/UnifiedCartContext.refactored.tsx
  client/src/hooks/terminalStateMachine.ts
  client/src/hooks/useSquareTerminal.refactored.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(phase-4): add completion report and update audit status
  docs/reports/ARCHITECTURAL_AUDIT_REPORT_V2.md
  docs/reports/PHASE_4_COMPLETION_REPORT.md
Due: prettier --write

refactor(orders): eliminate trust boundary violation in totals
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/hooks/kiosk/useKioskOrderSubmission.ts
  client/src/pages/CheckoutPage.tsx
  server/src/services/orders.service.ts
  shared/cart.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs(audit): mark phase 5 items resolved in architectural audit v2
  docs/reports/ARCHITECTURAL_AUDIT_REPORT_V2.md
Due: prettier --write

docs(epic-2): create comprehensive execution plan for order status consolidation
  docs/reports/ARCHITECTURAL_AUDIT_REPORT_V2.md
  docs/reports/AUDIT_PROGRESS_SUMMARY.md
  docs/reports/EPIC_2_EXECUTION_BRIEF.md
Due: prettier --write

docs(epic-2): add standalone summary for new chat execution
  docs/reports/EPIC_2_NEW_CHAT_SUMMARY.md
Due: prettier --write

refactor(orders): epic 2 phases 1-2 - consolidate status definitions and enforce state machine
  CODEBASE_INDEX.md
  MONOREPO_STRUCTURE.md
  STRUCTURE_README.md
  SUBSYSTEM_MAP.txt
  client/src/pages/ExpoPage.tsx
  client/src/utils/orderStatusValidation.ts
  docs/README.md
  docs/reference/config/HARDCODED_VALUES_TO_MIGRATE.md
  docs/reports/PHASE_2_COMPLETION_REPORT.md
  docs/reports/PHASE_5_COMPLETION_REPORT.md
  server/src/routes/orders.routes.ts
  server/src/services/orderStateMachine.ts
  server/src/services/orders.service.ts
  server/src/services/scheduledOrders.service.ts
  shared/types/unified-order.types.ts
  shared/utils/orderStatus.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs(epic-2): phase 3 - add ORDER_FLOW.md and ADR-015 documentation
  docs/explanation/architecture-decisions/ADR-015-order-state-machine-enforcement.md
  docs/explanation/concepts/ORDER_FLOW.md
Due: prettier --write

docs(epic-2): phase 4 - update audit report and create completion report
  docs/reports/ARCHITECTURAL_AUDIT_REPORT_V2.md
  docs/reports/EPIC_2_COMPLETION_REPORT.md
Due: prettier --write

test(voice): fix voice order parsing tests - add async/await to 9 tests
  client/src/modules/voice/services/orderIntegration.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

test(voice): fix 25 voice ordering test failures
  client/src/modules/voice/services/__tests__/VoiceEventHandler.test.ts
  client/src/modules/voice/services/__tests__/VoiceSessionConfig.test.ts
  client/src/modules/voice/services/orderIntegration.test.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/services/featureFlags/__tests__/FeatureFlagService.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(build): resolve Render deployment ESM/CommonJS mismatch
  package.json
  shared/package.json
  shared/tsconfig.cjs.json
Due: prettier --write

fix(build): resolve vercel esm/commonjs module incompatibility
  client/vite.config.ts
  shared/fix-esm.js
  shared/index.ts
  shared/package.json
  shared/tsconfig.cjs.json
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(build): correct esm wrapper to use namespace imports for commonjs modules
  shared/fix-esm.js
Due: prettier --write

fix(build): switch shared to native esm, remove wrapper complexity
  shared/fix-esm.js
  shared/package.json
  shared/tsconfig.cjs.json
Due: prettier --write

fix(build): add type:module to shared package for Node.js ESM compatibility
  shared/package.json
Due: prettier --write

fix(build): resolve esm/commonjs incompatibility for render and vercel
  client/vite.config.ts
  shared/config/browser.ts
  shared/package.json
  shared/tsconfig.json
Due: eslint --fix, npm run typecheck:staged, prettier --write

docs: document esm/commonjs module system decision
  CLAUDE.md
  claude-lessons3/05-build-deployment-issues/CL-BUILD-008-esm-commonjs-incompatibility.md
  docs/explanation/architecture-decisions/ADR-016-module-system-commonjs.md
  docs/how-to/troubleshooting/TROUBLESHOOTING.md
Due: prettier --write

fix: resolve production deployment issues
  .github/workflows/vercel-guard.yml
  README.md
  VERCEL_DEPLOYMENT_ANALYSIS_SUMMARY.md
  VERCEL_DEPLOYMENT_QUICK_REFERENCE.txt
  docs/DEPLOYMENT_BEST_PRACTICES.md
  docs/archive/2025-11/VERCEL_DEPLOYMENT_COMPREHENSIVE_ANALYSIS.md
  shared/validation/order.schema.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix: prevent Joi from being bundled into client code
  server/src/models/order.model.ts
  shared/index.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(shared): eliminate poisoned export causing client bundle crash
  server/src/models/order.model.ts
  shared/utils/index.ts
  shared/utils/order-constants.ts
  shared/validation/order.schema.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(client): add child() method to logger class
  client/src/services/logger.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(lessons): add CL-BUILD-009 logger.child() missing method incident
  claude-lessons3/.file-mappings.json
  claude-lessons3/05-build-deployment-issues/CL-BUILD-009-missing-logger-child-method.md
  claude-lessons3/05-build-deployment-issues/LESSONS.md
  claude-lessons3/QUICK_START_UNCLE_CLAUDE.md
  claude-lessons3/SYMPTOM_INDEX.md
  claude-lessons3/index.json
Due: prettier --write

fix(voice): flush queued messages when data channel is already open
  CLAUDE.md
  client/src/modules/voice/services/VoiceEventHandler.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore: finalize claude config cleanup
  .claude/agents/uncle-claude-test.md
  .claude/agents/uncle-claude.md
  .claude/commands/docs-check.md
  .mcp.json
  CLAUDE.md
  claude-lessons3
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
