Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

docs: update documentation after overnight operations
  CHANGELOG.md
  PRODUCTION_DEPLOYMENT_STATUS.md
  ROADMAP.md
  SECURITY.md
  reports/LINT-BURNDOWN.md
Due: prettier --write

docs: add final operations report for overnight quality sprint
  OPERATIONS_REPORT_20250831.md
Due: prettier --write

fix: prevent compiled JS in shared directory breaking browser imports
  .gitignore
  PUPPETEER_TEST_REPORT.md
  package-lock.json
  package.json
  scripts/check-app-render.mjs
  scripts/debug-loading.mjs
  scripts/puppeteer-test.mjs
  shared/src/voice-types.js
  shared/tsconfig.json
  shared/types/customer.types.js
  shared/types/events.types.js
  shared/types/index.js
  shared/types/menu.types.js
  shared/types/order.types.js
  shared/types/orders.js
  shared/types/table.types.js
  shared/types/transformers.js
  shared/types/validation.js
  shared/types/websocket.types.js
  shared/utils/cleanup-manager.js
  shared/utils/index.js
  shared/utils/memory-monitoring.js
  test-screenshots/01-homepage.png
  test-screenshots/02-login-page.png
  test-screenshots/03-orders-page.png
  test-screenshots/05-kitchen-display.png
  test-screenshots/06-menu-management.png
  test-screenshots/07-analytics.png
  test-screenshots/08-kiosk-mode.png
  test-screenshots/09-payments.png
  test-screenshots/10-voice-ordering.png
  test-screenshots/11-mobile-view.png
  test-screenshots/test-report.json
  tools/check-no-shared-js.js
Due: prettier --write

chore(ci): enforce shared JS guard in CI + fix DOM typings for browser utils + speed up pre-commit
  .github/workflows/frontend-ci.yml
  .husky/pre-commit
  shared/utils/websocket-pool.browser.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

chore(ci): normalize module type for guard script
  .github/workflows/frontend-ci.yml
  package.json
Due: prettier --write

ci(e2e): run Puppeteer suite in CI
  .github/workflows/ci.yml
  .github/workflows/frontend-ci.yml
Due: none

fix(ci): make Puppeteer tests optional in CI environment
  .github/workflows/ci.yml
  .github/workflows/frontend-ci.yml
  scripts/puppeteer-test.mjs
Due: none

fix(ci): expand workflow path triggers to include all relevant files
  .github/workflows/frontend-ci.yml
Due: none

fix(ci): simplify workflow step names to avoid parsing issues
  .github/workflows/frontend-ci.yml
Due: none

fix(ci): skip husky install in CI for guard step
  .github/workflows/frontend-ci.yml
Due: none

fix(ci): install root deps first to setup workspaces properly
  .github/workflows/frontend-ci.yml
Due: none

fix(ci): use HUSKY=0 env var to skip husky but allow other scripts
  .github/workflows/frontend-ci.yml
Due: none

fix(ci): make husky install optional to fix CI builds
  .github/workflows/frontend-ci.yml
  package.json
Due: prettier --write

fix(ci): simplify workflow to install dependencies properly
  .github/workflows/frontend-ci.yml
Due: none

fix: prevent compiled JS in shared directory breaking browser imports
  .github/workflows/ci.yml
  .github/workflows/frontend-ci.yml
  .gitignore
  .husky/pre-commit
  PUPPETEER_TEST_REPORT.md
  package-lock.json
  package.json
  scripts/check-app-render.mjs
  scripts/debug-loading.mjs
  scripts/puppeteer-test.mjs
  shared/src/voice-types.js
  shared/tsconfig.json
  shared/types/customer.types.js
  shared/types/events.types.js
  shared/types/index.js
  shared/types/menu.types.js
  shared/types/order.types.js
  shared/types/orders.js
  shared/types/table.types.js
  shared/types/transformers.js
  shared/types/validation.js
  shared/types/websocket.types.js
  shared/utils/cleanup-manager.js
  shared/utils/index.js
  shared/utils/memory-monitoring.js
  shared/utils/websocket-pool.browser.ts
  test-screenshots/01-homepage.png
  test-screenshots/02-login-page.png
  test-screenshots/03-orders-page.png
  test-screenshots/05-kitchen-display.png
  test-screenshots/06-menu-management.png
  test-screenshots/07-analytics.png
  test-screenshots/08-kiosk-mode.png
  test-screenshots/09-payments.png
  test-screenshots/10-voice-ordering.png
  test-screenshots/11-mobile-view.png
  test-screenshots/test-report.json
  tools/check-no-shared-js.js
Due: eslint --fix, npm run typecheck:staged, prettier --write

docs: update for v6.0.3 release - critical loading fix
  CHANGELOG.md
  PRODUCTION_DEPLOYMENT_STATUS.md
  README.md
Due: prettier --write

docs: comprehensive documentation update and cleanup
  CLAUDE.md
  CONTRIBUTING.md
  DOCUMENTATION_INDEX.md
  README.md
  SECURITY.md
  client/package.json
  client/src/modules/voice/README.md
  docs/02-api/API_REFERENCE.md
  docs/archive/2025-01-25/AUDIT_REPORT_2025-08-25.md
  docs/archive/2025-01-25/AUDIT_VERIFICATION_REPORT_2025-08-25.md
  docs/archive/2025-01-25/ISSUE_TRACKING_MATRIX.md
  docs/archive/2025-01-25/LAUNCH_ACTIONS_COMPLETED.md
  docs/archive/2025-01-25/LAUNCH_READINESS_2025-08-24.md
  docs/archive/2025-01-25/PATH_FORWARD_FINAL.md
  docs/archive/2025-01-25/REALITY_CHECK_CRITICAL_PATH.md
  docs/archive/2025-01-25/VOICE_ORDERING_FIX.md
  docs/archive/2025-01-25/VOICE_ORDERING_PROGRESS.md
  docs/archive/2025-08-20-cleanup/ARCHIVE_SUMMARY.md
  docs/archive/2025-08-20-cleanup/CLAUDE_CODE_FEATURES_GUIDE.md
  docs/archive/2025-08-20-cleanup/CRITICAL_SETUP.md
  docs/archive/2025-08-20-cleanup/DEPLOYMENT.md
  docs/archive/2025-08-20-cleanup/DEVELOPER_SETUP_GUIDE.md
  docs/archive/2025-08-20-cleanup/KITCHEN-DISPLAY-DEBUG-ANALYSIS.md
  docs/archive/2025-08-20-cleanup/OPTIMIZATION_REPORT_FINAL.md
  docs/archive/2025-08-20-cleanup/OPTIMIZATION_REPORT_PHASE1.md
  docs/archive/2025-08-20-cleanup/SECURITY_CRITICAL_ACTIONS.md
  docs/archive/2025-08-20-cleanup/TECH_DEBT_CLEANUP_SUMMARY.md
  docs/archive/2025-08-20-cleanup/optimization-report.md
  docs/archive/2025-08-20-cleanup/realtimewoes.md
  docs/archive/2025-09-01-pre-cleanup/DOCUMENTATION_ACCURACY_AUDIT.md
  docs/archive/2025-09-01-pre-cleanup/PRODUCTION_READY_SUMMARY.md
  docs/archive/2025-09-01-pre-cleanup/aug29audit.md
  package.json
  server/package.json
  test-screenshots/01-homepage.png
  test-screenshots/02-login-page.png
  test-screenshots/09-payments.png
  test-screenshots/10-voice-ordering.png
  test-screenshots/test-report.json
Due: prettier --write

feat: CI/CD fixes and comprehensive security hardening
  .env.example
  .github/workflows/ci.yml
  .github/workflows/frontend-ci.yml
  README.md
  SECURITY.md
  server/src/middleware/security.ts
  server/src/routes/index.ts
  server/src/routes/payments.routes.ts
  server/src/routes/security.routes.ts
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(ci): update deprecated upload-artifact action to v4
  .github/workflows/ci.yml
Due: none

feat(floorplan): add chip_monkey type + renderer via shared transform wrappers
  CHANGELOG.md
  README.md
  client/src/modules/floor-plan/components/ChipMonkeyIcon.tsx
  client/src/modules/floor-plan/components/FloorPlanCanvas.tsx
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/floor-plan/components/FloorPlanToolbar.tsx
  client/src/modules/floor-plan/components/__tests__/chip-monkey.test.tsx
  client/src/modules/floor-plan/types/index.ts
  docs/admin/floor-plan-chip-monkey.md
  shared/types/table.types.ts
  shared/types/transformers.ts
  shared/types/validation.ts
  tests/e2e/floor-plan-chip-monkey.e2e.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: security middleware and chip_monkey improvements
  client/src/modules/floor-plan/components/FloorPlanCanvas.tsx
  docs/admin/chip-monkey-database-workaround.md
  scripts/add-chip-monkey-shape.sql
  scripts/run-chip-monkey-migration.js
  server/src/middleware/security.ts
  test-chip-monkey-simple.js
  test-chip-monkey-workaround.js
  test-chip-monkey.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(demo): implement versioned token storage and demo payment button
  CLAUDE.md
  client/src/components/errors/PaymentErrorBoundary.tsx
  client/src/modules/floor-plan/components/FloorPlanCanvas.tsx
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/order-system/components/SquarePaymentForm.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/services/auth/demoAuth.ts
  docs/FOUR_HORSEMEN_EXECUTIVE_SUMMARY.md
  docs/HORSEMAN_BLOAT.md
  docs/HORSEMAN_CHAOS.md
  docs/HORSEMAN_DEBT.md
  docs/HORSEMAN_DRIFT.md
  docs/KDS-BIBLE.md
  docs/PAYMENT_TOKEN_ISSUE.md
  docs/teaching/LESSON_2_VIBE_CODING_MASTERY.md
  docs/teaching/LESSON_3_THE_VIBE_CODING_MANIFESTO.md
  docs/teaching/MASTER_LESSON_PLAN.md
  docs/teaching/agents/01-voice-agent-report.md
  docs/teaching/agents/02-kds-agent-report.md
  docs/teaching/agents/03-architecture-agent-report.md
  docs/teaching/agents/04-history-agent-report.md
  docs/teaching/agents/05-frontend-agent-report.md
  docs/teaching/agents/06-backend-agent-report.md
  docs/teaching/agents/07-security-agent-report.md
  docs/teaching/agents/08-roadmap-agent-report.md
  docs/voice/VOICE_ORDERING_EXPLAINED.md
  package-lock.json
  package.json
  server/src/routes/auth.routes.ts
  test-e2e-comprehensive-report.json
  test-e2e-comprehensive.cjs
  test-voice-flow.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

refactor(cart): enforce unified cart context usage
  client/eslint.config.js
  client/src/modules/order-system/context/CartContext.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(adr): document 7-status order system alignment
  docs/ADR/ADR-007-order-status-alignment.md
Due: prettier --write

test: add demo payment tests and fix WebSocket cleanup
  client/src/pages/__tests__/CheckoutPage.demo.test.tsx
  client/src/services/websocket/WebSocketService.test.ts
  shared/utils/memory-monitoring.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add comprehensive demo greenlight summary
  docs/DEMO_GREENLIGHT_SUMMARY.md
Due: prettier --write

refactor: improve React Fast Refresh compatibility
  client/src/components/auth/ProtectedRoute.tsx
  client/src/components/auth/withProtectedRoute.tsx
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/contexts/AuthContext.tsx
  client/src/contexts/UnifiedCartContext.tsx
  client/src/contexts/auth.hooks.ts
  client/src/contexts/auth.index.ts
  client/src/contexts/cart.hooks.ts
  client/src/modules/order-system/components/CartDrawer.tsx
  client/src/modules/order-system/components/CustomerOrderPage.tsx
  client/src/modules/order-system/components/MenuItemCard.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/pages/KioskPage.tsx
  client/src/pages/Login.tsx
  client/src/pages/PinLogin.tsx
  client/src/pages/StationLogin.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests
