Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

fix: resolve Vercel deployment "Configuration Required" error
  docs/VERCEL_ENV_FIX.md
Due: prettier --write

Update package-lock.json after npm install with React overrides
  package-lock.json
Due: prettier --write

chore: complete commitlint config cleanup
  client/src/modules/voice/components/VoiceDebugPanel.tsx
  client/src/services/monitoring/logger.ts
  commitlint.config.js
  shared/utils/error-handling.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: resolve console statement lint violations in voicedebugpanel
  client/src/modules/voice/components/VoiceDebugPanel.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: update eslint-freeze baseline and resolve lint violations
  .husky/pre-commit
  scripts/eslint-freeze.baseline.json
  shared/utils/error-handling.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix: resolve ci failures - script mismatch and broken doc links
  README.md
  package.json
Due: prettier --write

feat: restore demo user quick sign-in panel on login page
  client/src/components/auth/DevAuthOverlay.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: enable demo panel in vercel production deployment
  vercel.json
Due: prettier --write

fix: set vite demo panel directly in build command
  vercel.json
Due: prettier --write

fix: hardcode demo panel to always show on demo site
  client/vite.config.ts
  vercel.json
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix: expand cors origin detection
  docs/ENVIRONMENT.md
  docs/PRODUCTION_DIAGNOSTICS.md
  docs/SECURITY.md
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: resolve client env loading path
  client/vite.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

chore: sync local changes
  client/package.json
  client/src/hooks/kiosk/useOrderSubmission.ts
  client/src/services/monitoring/performance.ts
  client/test-results/.last-run.json
  client/tsconfig.app.json
  client/vite.config.ORIGINAL.ts
  client/vite.config.backup.ts
  code-analysis.json
  eslint-analysis.txt
  production
  render.yaml
  shared/config/index.ts
  test-e2e-comprehensive-report.json
  typecheck-output.txt
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor: split shared config by runtime
  .gitignore
  .husky/pre-commit
  client/package.json
  client/postcss.config.js
  client/src/components/ui/Typography.tsx
  client/src/config/index.ts
  client/src/contexts/UnifiedCartContext.tsx
  client/src/utils/env.ts
  client/tsconfig.app.json
  client/vite.config.ts
  package.json
  server/package.json
  server/src/config/environment.ts
  server/tsconfig.build.json
  server/tsconfig.json
  server/tsconfig.prod.json
  shared/config/browser.ts
  shared/config/index.ts
  shared/config/node.ts
  shared/package.json
  shared/tsconfig.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

refactor: improve environment configuration loading
  package-lock.json
  server/src/config/database.ts
  server/src/config/env.ts
  server/src/config/environment.ts
  server/src/server.ts
  shared/config/index.ts
  shared/package.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: resolve login page blank screen - monorepo env configuration
  .env.example
  DIAGNOSTIC_REPORT.md
  SOLUTION_SUMMARY.md
  client/src/config/env-validator.ts
  client/src/core/supabase.ts
  client/vite.config.ts
  server/src/middleware/authRateLimiter.ts
  server/src/routes/auth.routes.ts
  server/tests/enhanced/login-diagnostic.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: critical production bugs for vercel deployment
  client/src/services/auth/demoAuth.ts
  server/src/middleware/authRateLimiter.ts
  server/src/routes/auth.routes.ts
  shared/utils/cleanup-manager.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: remove dev jsx runtime from production build
  client/package.json
  client/vite.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix: allow kiosk authentication endpoint to bypass csrf protection
  server/AUTHENTICATION_DIAGNOSTIC.md
  server/src/middleware/csrf.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: extend csrf bypass to all auth endpoints for spa compatibility
  server/src/middleware/csrf.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: use anon key for supabase authentication instead of service role key
  server/src/config/database.ts
  server/src/routes/auth.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests
