Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(kitchen): Complete MVP transformation of Kitchen Display
  MVP.md
  client/src/components/kitchen/OrderCard.tsx
  client/src/components/layout/AppContent.tsx
  client/src/components/navigation/BackToDashboard.tsx
  client/src/pages/KitchenDisplayMinimal.tsx
  client/src/pages/KitchenDisplaySimple.tsx
  client/src/routes/LazyRoutes.tsx
  scripts/create-practice-orders.js
  test-kitchen-display.html
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: Resolve ESLint warnings in Kitchen Display components
  client/src/pages/KitchenDisplayMinimal.tsx
  client/src/pages/KitchenDisplaySimple.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: Complete checkout and payment flow integration
  client/src/pages/CheckoutPage.tsx
  server/src/middleware/auth.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: Resolve critical cart and payment flow issues
  client/src/App.tsx
  client/src/modules/order-system/components/CartSummary.tsx
  client/src/modules/order-system/components/CheckoutButton.tsx
  client/src/modules/order-system/components/CustomerOrderPage.tsx
  client/src/modules/order-system/components/TipSlider.tsx
  client/src/modules/order-system/context/CartContext.tsx
  client/src/pages/CheckoutPage.tsx
  server/src/services/orders.service.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: Complete order flow and payment processing fixes
  server/src/services/orders.service.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(mvp): Complete ExpoPage and KioskPage minimal transformations
  .claude/agents/openai-realtime-examples.js
  .claude/agents/openai-realtime-restaurant.json
  .claude/agents/openai-realtime-transcription.json
  .claude/agents/openai-realtime-types.ts
  .claude/agents/react-optimizer.json
  .claude/agents/strategic-analyzer.md
  .claude/agents/vite-builder.json
  MVP.md
  client/src/components/layout/AppRoutes.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/pages/ExpoPage.tsx
  client/src/pages/KioskPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(mvp): Complete MVP cleanup with massive code reduction
  MVP.md
  README.md
  client/src/pages/AdminDashboard.tsx
  client/src/pages/DriveThruPage.tsx
  client/src/pages/PerformanceDashboard.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(expo): Implement DRY architecture with shared hook
  EXPO_STATION_ANALYSIS.md
  README.md
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/pages/ExpoPage.tsx
  client/src/pages/KitchenDisplaySimple.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(dry): Implement DRY optimizations with reusable hooks and utilities
  client/src/hooks/useApiRequest.ts
  client/src/hooks/useModal.ts
  client/src/pages/CheckoutPage.tsx
  client/src/services/orders/OrderService.ts
  client/src/utils/validation.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

Pre-Claude rebuild backup: 20250823-145331 - Save work before configuration system rebuild
  .claude/README.md
  .claude/settings.json
  CLAUDE.md
  client/src/components/errors/PaymentErrorBoundary.tsx
  client/src/modules/orders/hooks/useOrderData.ts
  client/src/pages/CheckoutPage.tsx
  client/src/services/websocket/WebSocketService.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

Rebuild Claude configuration: Fix memory issues, enable chunks
  .claude/README.md
  .claude/agent.md
  .claude/commands/codebase-context.md
  .claude/commands/experiment-driven.md
  .claude/commands/github-workflow.md
  .claude/commands/meet-claude.md
  .claude/commands/ui-implementation.md
  .claude/config.json
  .claude/settings.json
  CLAUDE-REFERENCE.md
  client/vite.config.ORIGINAL.ts
  client/vite.config.backup.ts
  package.json.backup
Due: eslint --fix, npm run typecheck:staged, prettier --write

feat(kds): Pre-repair backup - Kitchen Display System analysis complete
  .claude/agents/codebase-researcher.md
  client/package.json
  client/src/services/cache/ResponseCache.ts
  client/test/setup.ts
  client/test/utils/index.ts
  client/test/utils/memory-monitor.ts
  client/vite.config.ts
  client/vitest.config.ts
  package.json
  server/vitest.config.ts
  tests/e2e/floor-plan-management.e2e.test.tsx
  tests/e2e/voice-to-kitchen.e2e.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(kds): Unify Kitchen Display and Expo page data architecture
  client/src/components/errors/OrderStatusErrorBoundary.tsx
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/pages/ExpoPage.tsx
  client/src/pages/KitchenDisplayMinimal.tsx
  client/src/utils/orderStatusValidation.ts
  docs/KITCHEN_DISPLAY.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: Resolve major TypeScript compilation issues (bypass pre-commit hooks)
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/modules/order-system/components/ItemDetailModal.tsx
  client/src/modules/order-system/components/MenuItemCard.tsx
  client/src/modules/orders/hooks/useOrderActions.ts
  client/src/pages/CheckoutPage.tsx
  client/src/pages/DriveThruPage.tsx
  client/src/pages/KioskDemo.tsx
  client/src/pages/KioskPage.tsx
  client/src/pages/ServerView.tsx
  client/src/pages/components/SeatSelectionModal.tsx
  client/src/pages/components/VoiceOrderModal.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/routes/LazyRoutes.tsx
  client/src/services/cache/ResponseCache.ts
  client/src/services/websocket/orderUpdates.ts
  client/test/setup.ts
  docs/AUTHENTICATION.md
  docs/OPERATIONAL_INSIGHTS.md
  server/src/middleware/auth.ts
  server/src/routes/orders.routes.ts
  shared/types/order.types.d.ts
  shared/utils/websocket-pool.browser.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: Add new Vercel deployment URL to CORS allowed origins
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(types): Complete KDS status handling and TypeScript improvements
  client/src/modules/orders/components/OrderActions/OrderActionsBar.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(perf): Implement comprehensive bundle optimization and code splitting
  client/src/components/kitchen/OrderCard.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/routes/LazyRoutes.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore: Phase 4 - Code quality & lint cleanup (190 → 175 violations)
  client/src/components/shared/OptimizedImage.tsx
  client/src/components/shared/lists/VirtualizedOrderList.tsx
  client/src/contexts/RoleContext.tsx
  client/src/hooks/kiosk/useOrderSubmission.ts
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/hooks/useRole.ts
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/order-system/components/MenuItemCard.tsx
  client/src/modules/order-system/components/MenuSearch.tsx
  client/src/services/audio/AudioPlaybackService.ts
  client/src/services/http/httpClient.ts
  client/src/types/filters.ts
  client/src/utils/validation.ts
  client/test/setup.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor: Phase 5 - Architecture consolidation (unified HTTP clients)
  client/src/hooks/kiosk/useOrderSubmission.ts
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/services/audio/AudioPlaybackService.ts
  client/src/services/http/httpClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

enhance: Phase 6 - Mobile & UX enhancements (responsive navigation, accessibility)
  client/src/components/layout/AppContent.tsx
  client/src/components/layout/BrandHeader.tsx
  client/src/components/layout/BrandHeaderPresets.ts
  client/src/components/layout/Navigation.tsx
  client/src/components/navigation/FloatingDashboardButton.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

cleanup: Phase 7 - Dead code cleanup (console statements, unused code)
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat: complete phase 8 final integration and deployment
  PHASE-8-INTEGRATION-REPORT.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
