Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

ci: add automated documentation validation workflows
  .github/workflows/check-links.yml
  .github/workflows/docs-validation.yml
Due: none

docs: update stale documentation and create templates
  SECURITY.md
  STALE_DOCS_QUICK_REFERENCE.md
  STALE_DOCUMENTATION_AUDIT.md
  docs/PRODUCTION_STATUS.md
  docs/explanation/architecture/AUTHENTICATION_ARCHITECTURE.md
  docs/how-to/operations/runbooks/PRODUCTION_DEPLOYMENT_CHECKLIST.md
  docs/learning-path/01_APP_OVERVIEW.md
  docs/reference/api/WEBSOCKET_EVENTS.md
  docs/reference/config/AUTH_ROLES.md
  docs/reference/config/ENVIRONMENT.md
  docs/templates/README.md
  docs/templates/feature-checklist.md
  docs/templates/migration-checklist.md
  docs/templates/post-mortem.md
  docs/tutorials/GETTING_STARTED.md
  scripts/update_stale_docs.py
  stale_docs_update_report.md
Due: prettier --write

docs: final report - documentation improvement project complete
  DOCUMENTATION_IMPROVEMENT_FINAL_REPORT.md
Due: prettier --write

feat: add eslint plugin with 5 anti-pattern detection rules
  eslint-plugin-custom/index.js
  eslint-plugin-custom/no-skip-without-quarantine.js
  eslint-plugin-custom/no-uncleared-timers.js
  eslint-plugin-custom/package.json
  eslint-plugin-custom/require-api-timeout.js
  eslint-plugin-custom/require-jwt-fields.js
  eslint-plugin-custom/require-multi-tenant-filter.js
  eslint.config.js
Due: prettier --write

docs: integrate systematic debugging protocols from claudelessons-v2
  CLAUDELESSONS_V2_INTEGRATION.md
  claude-lessons3/00-debugging-protocols/LESSONS.md
  claude-lessons3/00-debugging-protocols/README.md
Due: prettier --write

docs: add cross-references between debugging protocols and domain lessons
  README.md
  claude-lessons3/00-debugging-protocols/LESSONS.md
  claude-lessons3/01-auth-authorization-issues/LESSONS.md
  claude-lessons3/02-database-supabase-issues/LESSONS.md
  claude-lessons3/03-react-ui-ux-issues/LESSONS.md
  claude-lessons3/04-realtime-websocket-issues/LESSONS.md
  claude-lessons3/05-build-deployment-issues/LESSONS.md
  claude-lessons3/06-testing-quality-issues/LESSONS.md
  claude-lessons3/07-api-integration-issues/LESSONS.md
  claude-lessons3/08-performance-optimization-issues/LESSONS.md
  claude-lessons3/09-security-compliance-issues/LESSONS.md
  claude-lessons3/10-documentation-drift-issues/LESSONS.md
Due: prettier --write

docs: add integration completion summary
  INTEGRATION_COMPLETE.md
Due: prettier --write

feat: improve voice ordering ux with toggle mode and pre-connection
  .claude/agents/uncle-claude.md
  .env.example
  CLAUDE.md
  claude-lessons3/06-testing-quality-issues/LESSONS.md
  claude-lessons3/SIGN_IN_SHEET.md
  claude-lessons3/knowledge-base.json
  client/src/App.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/modules/voice/components/HoldToRecordButton.tsx
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  docs/potentiallessonsupgrade.md
  docs/reports/AUTHENTICATION_EVOLUTION_SUMMARY.md
  docs/reports/CLAUDELESSONS_V2_INTEGRATION.md
  docs/reports/DOCUMENTATION_IMPROVEMENT_FINAL_REPORT.md
  docs/reports/E2E_TEST_IMPACT_REPORT.md
  docs/reports/ENVIRONMENT_VALIDATION_INVESTIGATION.md
  docs/reports/INTEGRATION_COMPLETE.md
  docs/reports/STALE_DOCS_QUICK_REFERENCE.md
  docs/reports/STALE_DOCUMENTATION_AUDIT.md
  docs/reports/TEST_IMPROVEMENTS_SUMMARY.md
  docs/reports/TEST_SUITE_RESULTS.md
  docs/reports/URGENT_ENV_UPDATES_REQUIRED.md
  docs/reports/VOICE_DOCUMENTATION_UPDATE_SUMMARY.md
  docs/reports/stale_docs_update_report.md
  package.json
  playwright.config.ts
  reports/e2e/voice/playwright_console_pass1_normal.ndjson
  reports/e2e/voice/playwright_console_pass2_degraded.ndjson
  scripts/validate-env.cjs
  server/src/config/env.schema.ts
  server/src/config/env.ts
  server/src/server.ts
  tests/e2e/fixtures/test-helpers.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(voice): improve kiosk UX with industry best practices + systematic fixes
  .env.example
Due: none

feat(lessons): upgrade Claude Lessons to v4.0.0 with instant error lookup system
  .claude/agents/uncle-claude.md
  CLAUDE.md
  CLAUDE_LESSONS_V4_PHASE1_COMPLETE.md
  CLAUDE_LESSONS_V4_PLAN.md
  CLAUDE_LESSONS_V4_PROPOSAL.md
  LESSONS_V4_COMPARISON.md
  LESSONS_V4_MIGRATION_PLAN.md
  LESSONS_V4_PATTERN_EXAMPLE.json
  LESSONS_V4_SUMMARY.md
  TEST_ERRORS_2024-11-20.md
  VOICE_ORDERING_TEST_ANALYSIS.md
  VOICE_ORDERING_ULTRATHINK_ANALYSIS.md
  claude-lessons3/README.md
  claude-lessons3/SYMPTOM_INDEX.md
Due: prettier --write

fix(voice): resolve 4 P0 issues blocking multi-tenant production
  client/package.json
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/VoiceSessionConfig.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  package-lock.json
  tests/multi-tenant/24H-TEST-PLAN.md
  tests/multi-tenant/24h-monitoring-log.txt
  tests/multi-tenant/QUICK-START.md
  tests/multi-tenant/TEST-STATUS.md
  tests/multi-tenant/fast-test-log.txt
  tests/multi-tenant/monitor-24h.backup.cjs
  tests/multi-tenant/monitor-24h.mjs
  tests/multi-tenant/monitor-fast.mjs
  tests/multi-tenant/monitor-sprint.mjs
  tests/multi-tenant/sprint-test-log.txt
  tests/multi-tenant/sprint-test-results.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): correct logger import path for vercel build
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): force english transcription and add error handling
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): resolve P0 voice menu loading failures in production
  AGENT_4_SUMMARY.md
  CRITICAL_BUG_FIX.md
  INTEGRATION_TEST_REPORT.md
  VOICE_AGENT_DIAGNOSTIC_REPORT.md
  VOICE_AGENT_IMPLEMENTATION_COMPLETE.md
  VOICE_MENU_CONNECTION_INVESTIGATION_HANDOFF.md
  client/src/modules/voice/services/VoiceSessionConfig.ts
  client/src/modules/voice/services/__tests__/VoiceSessionConfig.test.ts
  server/src/routes/realtime.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(security): resolve P0 cross-tenant vulnerabilities in API routes
  SECURITY_TEST_SUITE_SUMMARY.md
  SLUG_UUID_AUDIT_REMEDIATION_PLAN.md
  server/src/routes/ai.routes.ts
  server/src/routes/realtime.routes.ts
  server/src/routes/tables.routes.ts
  server/src/services/ai.service.ts
  server/tests/ai.routes.security.test.ts
  server/tests/tables.routes.security.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(db): add foreign key constraints to security_audit_logs table
  supabase/migrations/20251121174135_fix_security_audit_logs_fk.sql
Due: none

chore(prisma): sync schema with security_audit_logs FK constraints
  DEPLOYMENT_SUMMARY_P0_SECURITY_FIXES.md
  POST_DEPLOYMENT_MONITORING_CHECKLIST.md
  prisma/schema.prisma
Due: prettier --write

test(security): fix all security test suite failures (63/63 passing)
  server/tests/ai.routes.security.test.ts
  server/tests/tables.routes.security.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(tests): use valid uuid format in bootstrap default_restaurant_id
  server/tests/bootstrap.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(voice): add explicit instruction to use menu context
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(audit): Day 1 - Voice system current state analysis
  docs/AUDIT_REPORT_VOICE_2025-11-22.md
Due: prettier --write

fix(voice): force bundle rehash
  client/src/modules/voice/services/VoiceSessionConfig.ts
  docs/VOICE_QUICK_REFERENCE.md
  docs/investigations/VOICE_ANALYSIS_INDEX.md
  docs/investigations/VOICE_ORDERING_ARCHITECTURAL_ANALYSIS_2025-11-22.md
  docs/investigations/VOICE_ORDERING_QUICK_IMPROVEMENTS.md
  docs/investigations/voice-menu-loading-production-investigation.md
  docs/voice-ordering-architecture.md
  tests/multi-tenant/check-restaurants.js
  tests/multi-tenant/check-restaurants.mjs
  tests/multi-tenant/create-test-restaurant.mjs
  tests/multi-tenant/fast-test.pid
  tests/multi-tenant/list-all.mjs
  tests/multi-tenant/monitor.pid
  tests/multi-tenant/sprint-test.pid
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore(voice): force voice session config bundle rehash
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): allow anonymous kiosk access for voice ordering
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(lessons): add INC-007 voice authentication blocking incident + comprehensive documentation
  claude-lessons3/07-api-integration-issues/LESSONS.md
  claude-lessons3/SYMPTOM_INDEX.md
  docs/explanation/architecture/AUTHENTICATION_ARCHITECTURE.md
Due: prettier --write

style(voice): make debug panel smaller and less intrusive
  client/src/modules/voice/components/VoiceDebugPanel.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): handle null auth token return for kiosk mode
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): enable debug logging in kiosk demo
  client/src/pages/KioskDemo.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): enforce english-only responses with stronger directives
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): prevent race condition where user speaks before menu context loaded
  client/src/modules/voice/services/WebRTCVoiceClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): emit session.updated event to unblock recording
  client/src/modules/voice/services/VoiceEventHandler.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): add production-visible logging for all OpenAI events
  client/src/modules/voice/services/VoiceEventHandler.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): set session configured immediately after sending update
  client/src/modules/voice/services/WebRTCVoiceClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): make menu agent's core knowledge, not reference material
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(voice): add jamaican greeting for deployment verification
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): move session config to backend ephemeral token
  server/src/routes/realtime.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs(lessons): add INC-008 session config ignored incident
  claude-lessons3/07-api-integration-issues/LESSONS.md
  claude-lessons3/SYMPTOM_INDEX.md
  docs/how-to/operations/VOICE_ORDERING_TROUBLESHOOTING.md
Due: prettier --write

fix(voice): correct debug panel label WebSocket → WebRTC
  client/src/modules/voice/components/VoiceDebugPanel.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): resolve confusing multi-click recording flow
  check-backend-deployment.sh
  check-render-backend.sh
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  diagnose-production.mjs
  test-prod-full-console.mjs
  test-voice-backend-fix-v2.mjs
  test-voice-backend-fix.mjs
  test-voice-console.mjs
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests
