Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(auth): ensure restaurant id is set in optionalauth catch block
  server/src/middleware/auth.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(cors): add x-demo-token-version to allowed headers
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(csrf): exclude orders and payments apis from csrf protection
  server/src/middleware/csrf.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(kiosk): prevent infinite loop loading terminal devices
  client/src/components/kiosk/KioskCheckoutPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(architecture): establish snake_case convention and unblock orders
  CLAUDE.md
  TESTING_CHECKLIST.md
  client/src/pages/CheckoutPage.tsx
  client/src/pages/DriveThruPage.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
  docs/ADR-001-snake-case-convention.md
  docs/DATABASE.md
  docs/MENU_SYSTEM.md
  docs/ORDER_FLOW.md
  docs/PRODUCTION_STATUS.md
  docs/ROADMAP.md
  docs/SQUARE_INTEGRATION.md
  server/src/middleware/validate.ts
  shared/contracts/order.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs(adr): complete phase 2 enterprise documentation overhaul
  docs/ADR-002-multi-tenancy-architecture.md
  docs/ADR-003-embedded-orders-pattern.md
  docs/ADR-004-websocket-realtime-architecture.md
  docs/ADR-005-client-side-voice-ordering.md
  docs/PRODUCTION_STATUS.md
  docs/README.md
  docs/TROUBLESHOOTING.md
  server/src/middleware/responseTransform.ts
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(critical): resolve 401 errors - schema mismatch
  EMERGENCY_FIX_INSTRUCTIONS.md
  client/src/core/RestaurantContext.tsx
  client/src/pages/CheckoutPage.tsx
  server/src/routes/auth.routes.ts
  supabase/migrations/20251013_emergency_kiosk_demo_scopes.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(routing): make homepage publicly accessible for online ordering
  client/src/components/layout/AppRoutes.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(rbac): add payments:process scope to kiosk_demo role
  server/src/middleware/rbac.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(payments): convert payment api to snake_case per adr-001
  server/src/routes/payments.routes.ts
  shared/contracts/payment.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(checkout): resolve [object object] error display and enhance error handling
  client/src/hooks/useApiRequest.ts
  client/src/pages/CheckoutPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(client): resolve [object object] error and payment amount mismatch
  client/src/hooks/useApiRequest.ts
  client/src/pages/CheckoutPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore: explicitly ignore vercel cli env snapshots
  .gitignore
Due: none

fix(payments): correct square sdk v43 api method names
  server/src/routes/payments.routes.ts
  server/src/routes/terminal.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(payments): correct square sdk v43 authentication format
  server/src/routes/payments.routes.ts
  server/src/routes/terminal.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(payments): shorten idempotency keys to meet square 45-char limit
  server/src/services/payment.service.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(payments): add square credential validation safeguards
  docs/POST_MORTEM_PAYMENT_CREDENTIALS_2025-10-14.md
  package.json
  scripts/validate-square-credentials.sh
  server/src/routes/payments.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(payments): separate payment status from order status progression
  server/src/services/orders.service.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: update documentation to reflect payment system operational
  docs/CHANGELOG.md
  docs/PRODUCTION_STATUS.md
  docs/SQUARE_INTEGRATION.md
Due: prettier --write

feat(auth): add dual-purpose landing page with customer order and staff login
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/pages/LandingPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): add comprehensive logging to diagnose kitchen access issue
  client/src/components/auth/ProtectedRoute.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
