Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs: add compound documentation for error handling remediation
  .claude/lessons/API_ERROR_HANDLING_ESLINT_RULES.md
  .claude/lessons/API_ERROR_HANDLING_QUICK_REFERENCE.md
  .claude/lessons/CL-SEC-001-error-handling-security.md
  docs/solutions/security-issues/api-error-info-disclosure-remediation.md
Due: prettier --write

docs: add remaining prevention strategy documentation
  .claude/lessons/API_ERROR_HANDLING_CODE_REVIEW_CHECKLIST.md
  .claude/lessons/PREVENTION_STRATEGIES_API_ERROR_HANDLING.md
  .claude/lessons/README_API_ERROR_HANDLING.md
Due: prettier --write

fix: resolve TODO items from enterprise audit review
  client/src/services/websocket/WebSocketService.test.ts
  client/src/services/websocket/WebSocketService.ts
  client/src/services/websocket/index.ts
  prisma/schema.prisma
  server/src/config/env.schema.ts
  server/src/config/environment.ts
  server/src/services/menu-embedding.service.ts
  server/src/services/scheduledOrders.service.ts
  shared/utils/error-recovery.ts
  shared/utils/error-reporter.ts
  supabase/migrations/20251226_menu_embeddings.sql
  supabase/migrations/20251226_orders_composite_indexes.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore: mark TODO items #205-#226 as resolved
  todos/205-resolved-p2-websocket-testing-method-exposed.md
  todos/206-resolved-p2-websocket-dual-singleton-pattern.md
  todos/207-resolved-p2-missing-ack-timeout-test.md
  todos/209-resolved-p2-test-setup-duplication.md
  todos/210-resolved-p3-magic-number-ack-timeout.md
  todos/211-resolved-p1-table-id-column-missing-in-migration.md
  todos/212-resolved-p1-duplicate-composite-indexes.md
  todos/216-resolved-p2-rag-premature-optimization.md
  todos/217-resolved-p2-missing-rate-limiting-embedding-generation.md
  todos/218-resolved-p2-ivfflat-index-on-empty-data.md
  todos/219-resolved-p2-n-plus-one-query-batch-embeddings.md
  todos/220-resolved-p2-missing-limit-getscheduledorders.md
  todos/221-resolved-p2-missing-restaurant-id-filter-similarity-search.md
  todos/222-resolved-p3-embedding-model-hardcoded.md
  todos/223-resolved-p3-file-splitting-increases-import-complexity.md
  todos/224-resolved-p3-magic-numbers-embedding-service.md
  todos/225-resolved-p3-missing-jsdoc-new-services.md
  todos/226-resolved-p3-performance-indexes-use-concurrently.md
Due: prettier --write

chore(review): add code review findings for commit 66773b6d
  todos/231-pending-p2-in-memory-rate-limiting-not-distributed.md
  todos/232-pending-p2-missing-tests-for-rate-limiting.md
  todos/233-pending-p2-missing-env-documentation.md
  todos/234-pending-p3-bulk-embedding-update-inefficient.md
  todos/235-pending-p3-openai-api-batch-optimization.md
  todos/236-pending-p3-redundant-restaurant-validation.md
  todos/237-pending-p3-hnsw-index-may-need-explicit-drop.md
Due: prettier --write

chore(triage): approve 5 TODOs, skip 2 deferred items
  todos/231-ready-p2-in-memory-rate-limiting-not-distributed.md
  todos/232-ready-p2-missing-tests-for-rate-limiting.md
  todos/233-ready-p2-missing-env-documentation.md
  todos/234-pending-p3-bulk-embedding-update-inefficient.md
  todos/235-ready-p3-openai-api-batch-optimization.md
  todos/236-pending-p3-redundant-restaurant-validation.md
  todos/237-ready-p3-hnsw-index-may-need-explicit-drop.md
Due: prettier --write

fix: resolve TODO items #231-#237 from code review
  .env.example
  CLAUDE.md
  server/src/config/env.schema.ts
  server/src/server.ts
  server/src/services/menu-embedding.service.ts
  server/tests/services/menu-embedding.service.test.ts
  todos/231-resolved-p2-in-memory-rate-limiting-not-distributed.md
  todos/232-resolved-p2-missing-tests-for-rate-limiting.md
  todos/233-resolved-p2-missing-env-documentation.md
  todos/235-resolved-p3-openai-api-batch-optimization.md
  todos/237-resolved-p3-hnsw-index-may-need-explicit-drop.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: add solution documentation for TODO #231-#237 resolution
  docs/solutions/code-quality-issues/menu-embedding-service-code-review-improvements.md
Due: prettier --write

fix(test): apply canvas mock globally to eliminate jsdom warnings
  client/test/setup.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

chore: clean up resolved todos and add solution docs
  .claude/lessons/PREVENTION_STRATEGIES_ENTERPRISE_AUDIT.md
  .claude/solutions/SOLUTION-SEMANTIC-SEARCH-OPTIMIZATION.md
  todos/231-ready-p2-in-memory-rate-limiting-not-distributed.md
  todos/232-ready-p2-missing-tests-for-rate-limiting.md
  todos/233-ready-p2-missing-env-documentation.md
  todos/235-ready-p3-openai-api-batch-optimization.md
  todos/237-ready-p3-hnsw-index-may-need-explicit-drop.md
Due: prettier --write

docs: archive completed todos and document canvas mock fix
  docs/solutions/test-failures/canvas-mock-global-setup.md
  todos/.archive/227-complete-p2-test-endpoints-without-auth.md
  todos/.archive/228-complete-p2-api-error-info-disclosure.md
  todos/.archive/229-complete-p2-incomplete-error-pattern-migration.md
  todos/.archive/230-complete-p3-redundant-fallback-pattern.md
Due: prettier --write

refactor: consolidate lessons into docs/solutions/, trim claude.md
  .claude/lessons/API_ERROR_HANDLING_CODE_REVIEW_CHECKLIST.md
  .claude/lessons/API_ERROR_HANDLING_ESLINT_RULES.md
  .claude/lessons/API_ERROR_HANDLING_QUICK_REFERENCE.md
  .claude/lessons/AUTH_PATTERN_BEFORE_AFTER.md
  .claude/lessons/AUTH_PATTERN_QUICK_REFERENCE.md
  .claude/lessons/CL-AUTH-002-websocket-dual-auth-prevention.md
  .claude/lessons/CL-BUILD-001-vercel-production-flag.md
  .claude/lessons/CL-BUILD-002-misleading-syntax-errors.md
  .claude/lessons/CL-BUILD-003-xargs-empty-input.md
  .claude/lessons/CL-DB-002-constraint-drift-prevention.md
  .claude/lessons/CL-KDS-001-test-mock-alignment.md
  .claude/lessons/CL-MAINT-001-worktree-system-hygiene.md
  .claude/lessons/CL-MEM-001-interval-leaks.md
  .claude/lessons/CL-SEC-001-error-handling-security.md
  .claude/lessons/CL-TEST-001-README.md
  .claude/lessons/CL-TEST-001-ci-test-fixes.md
  .claude/lessons/CL-TEST-001-code-examples.md
  .claude/lessons/CL-TEST-001-mock-drift-prevention.md
  .claude/lessons/CL-TEST-002-npm-test-hang.md
  .claude/lessons/CL-TIMER-001-stored-timeout-pattern.md
  .claude/lessons/CL-TOOL-EXIT-001-command-exit-codes.md
  .claude/lessons/MOCK_DRIFT_IMPLEMENTATION_GUIDE.md
  .claude/lessons/MOCK_DRIFT_PR_CHECKLIST.md
  .claude/lessons/PREVENTION_STRATEGIES_API_ERROR_HANDLING.md
  .claude/lessons/PREVENTION_STRATEGIES_ENTERPRISE_AUDIT.md
  .claude/lessons/PREVENTION_STRATEGIES_SUMMARY.md
  .claude/lessons/QUICK_REFERENCE_PATTERNS.md
  .claude/lessons/README.md
  .claude/lessons/README_API_ERROR_HANDLING.md
  .claude/lessons/TEST_MOCK_QUICK_REFERENCE.md
  CLAUDE.md
  docs/solutions/auth-issues/strict-auth-environment-drift.md
  docs/solutions/build-errors/vercel-production-flag-cascade.md
  docs/solutions/database-issues/constraint-drift-enum-mismatch.md
  docs/solutions/database-issues/migration-bifurcation-schema-drift.md
  docs/solutions/integration-issues/openai-silent-model-deprecation.md
  docs/solutions/performance-issues/interval-memory-leaks.md
  docs/solutions/performance-issues/webrtc-handler-timing-race.md
  docs/solutions/security-issues/header-fallback-cross-tenant-vulnerability.md
Due: prettier --write

docs: update solutions readme with migrated lessons and fix counts
  docs/solutions/README.md
Due: prettier --write

fix: resolve todo items 231, 232, 233, 235 and archive completed
  CLAUDE.md
  server/src/services/menu-embedding.service.ts
  server/tests/services/menu-embedding.service.test.ts
  todos/.archive/215-resolved-p1-test-endpoints-expose-stack-traces.md
  todos/.archive/231-resolved-p2-in-memory-rate-limiting-not-distributed.md
  todos/.archive/232-resolved-p2-missing-tests-for-rate-limiting.md
  todos/.archive/233-resolved-p2-missing-env-documentation.md
  todos/.archive/235-resolved-p3-openai-api-batch-optimization.md
  todos/.archive/237-resolved-p3-hnsw-index-may-need-explicit-drop.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: add agent crash prevention guide
  docs/solutions/AGENT_CRASH_PREVENTION.md
Due: prettier --write

fix: resolve 15 todo items from user flow testing
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/kitchen/ConnectionStatusBar.tsx
  client/src/components/kitchen/__tests__/ConnectionStatusBar.test.tsx
  client/src/components/ui/DemoModeBanner.tsx
  client/src/modules/order-system/__tests__/CheckoutValidation.test.ts
  client/src/modules/order-system/components/StripePaymentForm.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/utils/validation.ts
  server/src/middleware/rateLimiter.ts
  server/src/routes/payments.routes.ts
  server/src/services/email.service.ts
  server/src/services/orderStateMachine.ts
  server/src/services/payment.service.ts
  server/tests/services/payment-calculation.test.ts
  server/tests/services/payment-idempotency.test.ts
  tests/e2e/constants/timeouts.ts
  tests/e2e/floor-plan-chip-monkey.e2e.test.tsx
  tests/e2e/production-smoke.test.ts
  todos/archive/001-resolved-p1-e2e-tests-production-url.md
  todos/archive/002-resolved-p1-payment-rate-limiting.md
  todos/archive/003-resolved-p1-validate-order-before-payment.md
  todos/archive/004-resolved-p2-extract-payment-timeout.md
  todos/archive/005-resolved-p2-configurable-estimated-time.md
  todos/archive/006-resolved-p2-demo-token-race-condition.md
  todos/archive/007-resolved-p2-email-confirmation.md
  todos/archive/008-resolved-p2-unify-demo-messaging.md
  todos/archive/009-resolved-p2-payment-retry-logic.md
  todos/archive/010-resolved-p2-websocket-status-indicator.md
  todos/archive/011-resolved-p3-payment-element-responsive.md
  todos/archive/012-resolved-p3-aria-payment-button.md
  todos/archive/013-resolved-p3-international-phone-format.md
  todos/archive/014-resolved-p3-audit-log-idempotency.md
  todos/archive/015-resolved-p3-cvc-validation-demo.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore: add and triage code review findings (227-236)
  todos/227-ready-p2-idempotency-key-add-randomness.md
  todos/228-ready-p2-payment-confirm-missing-validation.md
  todos/229-ready-p2-cash-payment-double-processing-race.md
  todos/230-ready-p2-twilio-sendgrid-inline-require.md
  todos/231-ready-p2-duplicate-tax-rate-logic.md
  todos/232-ready-p2-any-type-violations.md
  todos/233-ready-p3-email-service-over-engineering.md
  todos/234-ready-p3-demo-mode-detection-duplication.md
  todos/235-ready-p3-unused-format-phone-function.md
  todos/236-ready-p3-sequential-hook-execution.md
Due: prettier --write

fix: resolve todo items 227-236 from code review
  client/src/hooks/useDemoMode.ts
  client/src/modules/order-system/components/StripePaymentForm.tsx
  client/src/pages/CheckoutPage.tsx
  server/src/routes/payments.routes.ts
  server/src/services/email.service.ts
  server/src/services/orderStateMachine.ts
  server/src/services/payment.service.ts
  shared/contracts/payment.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore: mark todo items 227-236 as resolved
  todos/227-resolved-p2-idempotency-key-add-randomness.md
  todos/228-resolved-p2-payment-confirm-missing-validation.md
  todos/229-resolved-p2-cash-payment-double-processing-race.md
  todos/230-resolved-p2-twilio-sendgrid-inline-require.md
  todos/231-resolved-p2-duplicate-tax-rate-logic.md
  todos/232-resolved-p2-any-type-violations.md
  todos/233-resolved-p3-email-service-over-engineering.md
  todos/234-resolved-p3-demo-mode-detection-duplication.md
  todos/235-resolved-p3-unused-format-phone-function.md
  todos/236-resolved-p3-sequential-hook-execution.md
Due: prettier --write

test: fix test mocks for todo 227-236 refactoring
  client/src/modules/order-system/components/__tests__/StripePaymentForm.test.tsx
  server/tests/services/payment-calculation.test.ts
  server/tests/services/payment-idempotency.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore: remove old ready-status todo files (replaced by resolved)
  todos/227-ready-p2-idempotency-key-add-randomness.md
  todos/228-ready-p2-payment-confirm-missing-validation.md
  todos/229-ready-p2-cash-payment-double-processing-race.md
  todos/230-ready-p2-twilio-sendgrid-inline-require.md
  todos/231-ready-p2-duplicate-tax-rate-logic.md
  todos/232-ready-p2-any-type-violations.md
  todos/233-ready-p3-email-service-over-engineering.md
  todos/234-ready-p3-demo-mode-detection-duplication.md
  todos/235-ready-p3-unused-format-phone-function.md
  todos/236-ready-p3-sequential-hook-execution.md
Due: prettier --write

docs: implement documentation hygiene sprint for compound engineering
  .claude/hooks/post-fix-compound.md
  CLAUDE.md
  SECURITY.md
  docs/INDEX.md
  docs/RISK_REGISTER.md
  docs/solutions/README.md
  docs/solutions/TEMPLATE.md
  docs/solutions/security-issues/atomic-rate-limiting.md
  docs/solutions/security-issues/csrf-protection.md
  docs/solutions/security-issues/demo-bypass-prevention.md
  docs/solutions/security-issues/httponly-cookie-auth.md
  docs/solutions/security-issues/idempotency-key-pattern.md
  docs/solutions/security-issues/timing-safe-comparison.md
Due: prettier --write

fix(docs): address code review findings for doc-hygiene-sprint
  SECURITY.md
  audit_output/01_EXEC_SUMMARY.md
  audit_output/02_RISK_REGISTER.md
  audit_output/03_ARCHITECTURAL_DECISIONS_ON_TRIAL.md
  audit_output/04_SECURITY_THREAT_MODEL.md
  audit_output/05_SCALABILITY_RELIABILITY.md
  audit_output/06_ARCHITECTURE_MAP.md
  audit_output/07_CODE_HEALTH_COMPLEXITY.md
  audit_output/08_OBSERVABILITY_OPERATIONS.md
  audit_output/09_REMEDIATION_PLAN.md
  audit_output/10_SCORECARD.md
  docs/INDEX.md
  docs/solutions/README.md
  docs/solutions/security-issues/atomic-rate-limiting.md
  docs/solutions/security-issues/csrf-protection.md
  docs/solutions/security-issues/demo-bypass-prevention.md
  docs/solutions/security-issues/httponly-cookie-auth.md
  docs/solutions/security-issues/idempotency-key-pattern.md
  docs/solutions/security-issues/timing-safe-comparison.md
  plans/doc-hygiene-sprint.md
  plans/security-remediation-phase-0-1.md
  plans/security-remediation-v2.md
  reports/e2e/voice/playwright_ws_pass1_normal.ndjson
  reports/e2e/voice/playwright_ws_pass2_degraded.ndjson
  test-screenshots/cart-add.png
  test-screenshots/cart-modify.png
  test-screenshots/cart-remove.png
  test-screenshots/cart-summary.png
  test-screenshots/checkout-page.png
  test-screenshots/kiosk-entry.png
  test-screenshots/login-page.png
  test-screenshots/login-validation.png
  test-screenshots/menu-browse.png
  test-screenshots/table-selection.png
  test-screenshots/workspace-dashboard-admin.png
  test-screenshots/workspace-dashboard-server.png
Due: prettier --write

docs: compound documentation hygiene sprint learnings
  docs/solutions/README.md
  docs/solutions/process-issues/documentation-hygiene-sprint-compound-engineering.md
Due: prettier --write

docs: complete documentation hygiene sprint
  CLAUDE.md
  SECURITY.md
  docs/INDEX.md
  docs/RISK_REGISTER.md
  docs/archive/2025-12/security-audit/01_EXEC_SUMMARY.md
  docs/archive/2025-12/security-audit/02_RISK_REGISTER.md
  docs/archive/2025-12/security-audit/03_ARCHITECTURAL_DECISIONS_ON_TRIAL.md
  docs/archive/2025-12/security-audit/04_SECURITY_THREAT_MODEL.md
  docs/archive/2025-12/security-audit/05_SCALABILITY_RELIABILITY.md
  docs/archive/2025-12/security-audit/06_ARCHITECTURE_MAP.md
  docs/archive/2025-12/security-audit/07_CODE_HEALTH_COMPLEXITY.md
  docs/archive/2025-12/security-audit/08_OBSERVABILITY_OPERATIONS.md
  docs/archive/2025-12/security-audit/09_REMEDIATION_PLAN.md
  docs/archive/2025-12/security-audit/10_SCORECARD.md
  docs/solutions/process-issues/documentation-hygiene-sprint-compound-engineering.md
  docs/solutions/security-issues/atomic-rate-limiting.md
  docs/solutions/security-issues/csrf-protection.md
  docs/solutions/security-issues/demo-bypass-prevention.md
  docs/solutions/security-issues/httponly-cookie-auth.md
  docs/solutions/security-issues/idempotency-key-pattern.md
  docs/solutions/security-issues/timing-safe-comparison.md
Due: prettier --write

security: harden authentication defaults (Phase 0)
  .env.example
  server/src/middleware/auth.ts
  server/src/middleware/restaurantAccess.ts
  server/src/services/auth/stationAuth.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

security: implement CSRF protection and HTTPOnly cookies
  client/src/services/http/httpClient.ts
  client/src/services/secureApi.ts
  server/src/middleware/auth.ts
  server/src/middleware/csrf.ts
  server/src/routes/auth.routes.ts
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

security: timing-safe PIN verification and webhook timestamp checks
  server/src/routes/webhook.routes.ts
  server/src/services/auth/pinAuth.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: compound security hardening sprint learnings
  docs/solutions/security-issues/security-hardening-sprint-2025-12.md
Due: prettier --write

fix: add refund idempotency key and update security status
  CLAUDE.md
  server/src/middleware/csrf.ts
  server/src/routes/auth.routes.ts
  server/src/routes/payments.routes.ts
  server/tests/services/payment-calculation.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(payments): idempotency key, refund status, and tenant validation
  server/src/routes/payments.routes.ts
  server/src/services/payment.service.ts
  todos/238-ready-p1-idempotency-key-random-nonce.md
  todos/239-ready-p1-refund-no-order-status-update.md
  todos/240-ready-p2-double-payment-race-condition.md
  todos/241-ready-p2-refund-tenant-validation-gap.md
  todos/242-ready-p2-refresh-token-in-response-body.md
  todos/243-ready-p2-auth-scope-fetch-duplication.md
  todos/244-ready-p3-pin-salt-column-unused.md
  todos/245-ready-p3-duplicate-validate-restaurant-access.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: compound payment security learnings from sprint
  .claude/prevention/PAYMENT-SECURITY-SUMMARY.md
  .claude/prevention/PREVENTION-INDEX.md
  .claude/prevention/PREVENTION-PAYMENT-SECURITY.md
  .claude/prevention/QUICK-REF-PAYMENT-SECURITY.md
  docs/solutions/security-issues/p1-payment-idempotency-and-multi-tenancy.md
Due: prettier --write

fix(tests): resolve @rebuild/shared/config/browser import in vitest
  client/vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(payments): security hardening - idempotency, refund status, tenant validation
  .claude/prevention/PAYMENT-SECURITY-SUMMARY.md
  .claude/prevention/PREVENTION-INDEX.md
  .claude/prevention/PREVENTION-PAYMENT-SECURITY.md
  .claude/prevention/QUICK-REF-PAYMENT-SECURITY.md
  CLAUDE.md
  client/vitest.config.ts
  docs/solutions/security-issues/p1-payment-idempotency-and-multi-tenancy.md
  server/src/middleware/csrf.ts
  server/src/routes/auth.routes.ts
  server/src/routes/payments.routes.ts
  server/src/services/payment.service.ts
  server/tests/services/payment-calculation.test.ts
  todos/238-ready-p1-idempotency-key-random-nonce.md
  todos/239-ready-p1-refund-no-order-status-update.md
  todos/240-ready-p2-double-payment-race-condition.md
  todos/241-ready-p2-refund-tenant-validation-gap.md
  todos/242-ready-p2-refresh-token-in-response-body.md
  todos/243-ready-p2-auth-scope-fetch-duplication.md
  todos/244-ready-p3-pin-salt-column-unused.md
  todos/245-ready-p3-duplicate-validate-restaurant-access.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(tests): resolve vitest mock clearing issue in payment tests
  docs/solutions/test-failures/vitest-mock-clearing-implementation-loss.md
  server/tests/services/orderStateMachine.test.ts
  server/tests/services/payment-calculation.test.ts
  server/tests/services/payment-idempotency.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

docs: add prevention patterns for vitest mocking and security hardening
  .claude/prevention/CL-TEST-004-DELIVERY-SUMMARY.md
  .claude/prevention/CL-TEST-004-IMPLEMENTATION-CHECKLIST.md
  .claude/prevention/CL-TEST-004-QUICK-REFERENCE.md
  .claude/prevention/CL-TEST-004-SUMMARY.md
  .claude/prevention/CL-TEST-004-VITEST-MOCKING-PREVENTION.md
  .claude/prevention/DEPLOYMENT-SECURITY-VERIFICATION.md
  .claude/prevention/PREVENTION-INDEX.md
  .claude/prevention/QUICK-REF-SECURITY-HARDENING.md
  .claude/prevention/SECURITY-HARDENING-PREVENTION.md
  plans/doc-hygiene-sprint.md
  plans/phased-forward-plan.md
  plans/security-and-doc-hygiene-completion.md
Due: prettier --write

docs: documentation cleanup and index.md overhaul
  .claude/prevention/CL-TEST-004-DELIVERY-SUMMARY.md
  .claude/prevention/CL-TEST-004-QUICK-REFERENCE.md
  .claude/prevention/CL-TEST-004-SUMMARY.md
  .claude/prevention/CL-TEST-004-VITEST-MOCKING-PREVENTION.md
  docs/INDEX.md
  plans/doc-hygiene-sprint.md
  plans/phased-forward-plan.md
  plans/security-and-doc-hygiene-completion.md
Due: prettier --write

fix(auth): exempt login endpoints from csrf protection
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: add csrf/auth endpoint prevention strategies
  docs/solutions/security-issues/csrf-auth-endpoint-prevention.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
