Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat: resolve todo comments across codebase
  client/src/hooks/useTableGrouping.ts
  client/src/pages/ExpoPage.tsx
  client/src/services/monitoring/performance.ts
  server/src/middleware/security.ts
  server/src/routes/metrics.ts
  shared/types/order.types.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs(todos): add code review findings for commit a699c6c6
  todos/113-pending-p1-sentry-dsn-ssrf-risk.md
  todos/114-pending-p1-api-key-log-leakage.md
  todos/115-pending-p1-security-details-leakage.md
  todos/116-pending-p1-expopage-useeffect-memory-leak.md
  todos/117-pending-p2-metrics-blocking-await.md
  todos/118-pending-p2-ordermetadata-any-type.md
  todos/119-pending-p2-console-log-drivethru.md
  todos/120-pending-p2-metadata-type-guard.md
  todos/121-pending-p2-monitoring-abstraction.md
  todos/122-pending-p2-security-any-types.md
  todos/123-pending-p2-external-api-rate-limit.md
  todos/124-pending-p2-magic-numbers.md
  todos/125-pending-p3-extract-memory-hook.md
  todos/126-pending-p3-expopage-unused-state.md
  todos/127-pending-p3-hardcoded-service-urls.md
  todos/128-pending-p3-over-memoization.md
Due: prettier --write

fix(build): remove shared memory-monitoring import causing vercel build failure
  client/src/pages/ExpoPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(todos): mark TODO-116 as resolved (memory leak fix)
  todos/116-resolved-p1-expopage-useeffect-memory-leak.md
Due: prettier --write

fix(kitchen): resolve 4 p1 issues in kitchen/expo display
  client/src/components/kitchen/ExpoTabContent.tsx
  client/src/pages/ExpoPage.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
  client/src/routes/LazyRoutes.tsx
  todos/129-complete-p1-elapsed-time-never-updates.md
  todos/130-complete-p1-dead-code-expopage.md
  todos/131-complete-p1-missing-aria-tabs.md
  todos/132-complete-p1-console-error-logging.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(kitchen): resolve 9 p2 code review issues
  client/src/components/kitchen/ExpoTabContent.tsx
  client/src/components/kitchen/__tests__/ExpoTabContent.test.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/components/layout/BrandHeaderPresets.ts
  client/src/config/demoCredentials.ts
  client/src/hooks/__tests__/useWorkspaceAccess.test.tsx
  client/src/pages/Dashboard.tsx
  client/src/pages/HomePage.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
  client/src/pages/StationLogin.tsx
  client/src/services/websocket/orderUpdates.ts
  todos/133-complete-p2-missing-error-handling.md
  todos/134-complete-p2-missing-loading-states.md
  todos/135-complete-p2-tab-state-not-in-url.md
  todos/136-complete-p2-missing-react-memo.md
  todos/137-complete-p2-missing-usecallback.md
  todos/138-complete-p2-hardcoded-urgency-threshold.md
  todos/139-complete-p2-update-expo-navigation-refs.md
  todos/140-complete-p2-missing-tests.md
  todos/141-complete-p2-tablet-responsive-layout.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(security): resolve 3 p1 security issues and 5 p2 code quality issues
  client/src/hooks/useTableGrouping.ts
  client/src/pages/DriveThruPage.tsx
  server/src/middleware/security.ts
  server/src/routes/metrics.ts
  server/src/services/orders.service.ts
  shared/types/order.types.ts
  todos/113-resolved-p1-sentry-dsn-ssrf-risk.md
  todos/114-resolved-p1-api-key-log-leakage.md
  todos/115-resolved-p1-security-details-leakage.md
  todos/117-resolved-p2-metrics-blocking-await.md
  todos/118-resolved-p2-ordermetadata-any-type.md
  todos/119-complete-p2-console-log-drivethru.md
  todos/120-resolved-p2-metadata-type-guard.md
  todos/122-resolved-p2-security-any-types.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore: resolve 5 p3 nice-to-have issues
  server/src/config/services.ts
  server/src/features/voice/realtime/MessageQueue.ts
  server/src/middleware/security.ts
  server/src/routes/metrics.ts
  todos/039-complete-p3-extract-message-queue.md
  todos/125-obsolete-p3-extract-memory-hook.md
  todos/126-obsolete-p3-expopage-unused-state.md
  todos/127-complete-p3-hardcoded-service-urls.md
  todos/128-obsolete-p3-over-memoization.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(types): resolve p1 schema mismatch and unsafe type assertions
  .claude/prevention/CHECKLIST-SCHEMA-TYPE-SAFETY.md
  .claude/prevention/PARALLEL-RESOLUTION-QUICK-REF.md
  .claude/prevention/PARALLEL-TODO-RESOLUTION-BEST-PRACTICES.md
  .claude/prevention/QUICK-REF-SCHEMA-TYPE-SAFETY.md
  .claude/prevention/README.md
  archives/plateswap.md
  client/src/pages/components/SeatSelectionModal.tsx
  docs/solutions/process-issues/parallel-agent-todo-resolution.md
  docs/solutions/type-issues/type-schema-mismatch-api-shared.md
  docs/solutions/type-safety-issues/CL-TYPE-001-schema-mismatch-type-assertions.md
  server/src/routes/tables.routes.ts
  shared/types/transformers.ts
  todos/142-resolved-p1-table-type-schema-mismatch.md
  todos/143-resolved-p1-any-type-assertions-transformers.md
  todos/144-pending-p2-prototype-pollution-metrics.md
  todos/145-pending-p2-stats-calculation-performance.md
  todos/146-pending-p2-dead-code-transformers.md
  todos/147-pending-p2-unsafe-error-access.md
  todos/148-pending-p2-timestamp-validation-metrics.md
  todos/149-pending-p3-unused-table-dtos.md
  todos/150-pending-p3-parseInt-radix-metrics.md
  todos/151-pending-p3-dev-ratelimit-warning.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: resolve 6 p2 code review issues (security, perf, cleanup)
  .claude/prevention/DELIVERY-SUMMARY-TODO-144-150.md
  .claude/prevention/INPUT-VALIDATION-AND-ERROR-SAFETY.md
  .claude/prevention/LESSONS-FROM-TODO-144-150.md
  .claude/prevention/QUICK-REF-INPUT-VALIDATION.md
  .claude/prevention/README.md
  client/src/pages/hooks/useServerView.ts
  docs/solutions/code-quality-issues/multi-layer-hardening-p2-backlog.md
  server/src/routes/metrics.ts
  shared/types/transformers.d.ts
  shared/types/transformers.d.ts.map
  shared/types/transformers.ts
  todos/144-resolved-p2-prototype-pollution-metrics.md
  todos/145-resolved-p2-stats-calculation-performance.md
  todos/146-resolved-p2-dead-code-transformers.md
  todos/147-resolved-p2-unsafe-error-access.md
  todos/148-resolved-p2-timestamp-validation-metrics.md
  todos/150-resolved-p3-parseInt-radix-metrics.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: resolve 2 p3 todos (unused dtos, rate limit warning)
  client/src/services/types/index.ts
  server/src/server.ts
  shared/types/table.types.d.ts
  shared/types/table.types.ts
  todos/149-resolved-p3-unused-table-dtos.md
  todos/151-resolved-p3-dev-ratelimit-warning.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore: rename resolved todo files from 'open' to 'resolved' prefix
  todos/094-resolved-p1-metrics-endpoint-auth.md
  todos/096-resolved-p2-table-type-inconsistency.md
  todos/097-resolved-p2-polling-realtime-race.md
  todos/098-resolved-p2-memory-leak-useeffect.md
  todos/100-resolved-p3-simplify-cache-system.md
  todos/102-resolved-p3-health-check-db-latency.md
  todos/107-resolved-p3-monitoring-stubs-cleanup.md
Due: prettier --write

fix: resolve test env isolation issues causing ci failures
  .env.test
  .gitignore
  server/tests/bootstrap.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

docs: add solution for test env isolation ci failures
  docs/solutions/test-failures/env-pollution-test-isolation.md
Due: prettier --write

chore: mark 12 code review todos as resolved
  client/src/pages/KitchenDisplayOptimized.tsx
  todos/119-resolved-p2-console-log-drivethru.md
  todos/129-resolved-p1-elapsed-time-never-updates.md
  todos/130-resolved-p1-dead-code-expopage.md
  todos/131-resolved-p1-missing-aria-tabs.md
  todos/132-resolved-p1-console-error-logging.md
  todos/133-resolved-p2-missing-error-handling.md
  todos/134-resolved-p2-missing-loading-states.md
  todos/136-resolved-p2-missing-react-memo.md
  todos/137-resolved-p2-missing-usecallback.md
  todos/140-resolved-p2-missing-tests.md
  todos/141-resolved-p2-tablet-responsive-layout.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore: fix todo filename/status mismatches
  todos/039-deferred-p3-extract-message-queue.md
  todos/127-resolved-p3-hardcoded-service-urls.md
  todos/135-resolved-p2-tab-state-not-in-url.md
  todos/138-resolved-p2-hardcoded-urgency-threshold.md
  todos/139-resolved-p2-update-expo-navigation-refs.md
Due: prettier --write

feat: implement UI/UX improvements from 8-agent review
  .claude/prevention/CL-TEST-003-SUMMARY.md
  .claude/prevention/CL-TEST-003-env-isolation-prevention.md
  .claude/prevention/CL-TEST-003-implementation-checklist.md
  .claude/prevention/CL-TEST-003-quick-reference.md
  .claude/prevention/PREVENTION-INDEX.md
  client/src/components/shared/MenuItemGrid.tsx
  client/src/components/shared/OptimizedImage.tsx
  client/src/components/shared/index.ts
  client/src/modules/order-system/components/CartItem.tsx
  client/src/modules/order-system/components/CartSummary.tsx
  client/src/modules/order-system/components/CategoryFilter.tsx
  client/src/modules/order-system/components/ItemDetailModal.tsx
  client/src/modules/order-system/components/MenuItemCard.tsx
  client/src/modules/order-system/components/ModifierSelector.tsx
  client/src/pages/Login.tsx
  client/src/pages/OrderConfirmationPage.tsx
  client/src/pages/PinLogin.tsx
  client/src/pages/StationLogin.tsx
  client/src/pages/components/VoiceOrderModal.tsx
  client/tailwind.config.js
  plans/fix-test-env-isolation.md
  plans/ui-ux-implementation-prompt.md
  prisma/schema.prisma
  server/src/middleware/rbac.ts
  shared/utils/price-validation.ts
  supabase/migrations/20251203_165803_add_menu_read_scope.sql
  todos/152-complete-p1-rbac-menu-scope-split.md
  todos/153-complete-p1-macon-orange-tailwind-config.md
  todos/154-complete-p1-color-contrast-wcag.md
  todos/155-pending-p1-86-item-management-spec.md
  todos/156-complete-p1-category-filter-sticky-position.md
  todos/157-complete-p2-enable-webp-images.md
  todos/158-complete-p2-extract-formatprice-utility.md
  todos/159-complete-p2-rename-menuitemcard-collision.md
  todos/160-complete-p2-category-filter-touch-targets.md
  todos/161-complete-p3-unavailable-item-visual-treatment.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(menu): implement 86-item management for toggling item availability
  client/src/modules/menu-management/components/MenuManagement.tsx
  client/src/modules/menu-management/index.ts
  client/src/pages/AdminDashboard.tsx
  client/src/services/menu/MenuService.ts
  docs/specs/86-item-management.md
  server/src/routes/menu.routes.ts
  server/src/services/menu.service.ts
  todos/155-complete-p1-86-item-management-spec.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs(plans): add phased todo resolution plan for fresh context
  plans/todo-resolution-phased-plan.md
Due: prettier --write

fix(a11y): wcag color contrast fixes and todo status updates
  client/src/components/kiosk/KioskModeSelector.tsx
  client/src/components/shared/MenuItemGrid.README.md
  client/src/pages/Login.tsx
  client/src/pages/PinLogin.tsx
  client/src/pages/StationLogin.tsx
  todos/152-complete-p1-rbac-menu-scope-split.md
  todos/153-complete-p1-macon-orange-tailwind-config.md
  todos/154-complete-p1-color-contrast-wcag.md
  todos/156-complete-p1-category-filter-sticky-position.md
  todos/157-complete-p2-enable-webp-images.md
  todos/158-complete-p2-extract-formatprice-utility.md
  todos/159-complete-p2-rename-menuitemcard-collision.md
  todos/160-complete-p2-category-filter-touch-targets.md
  todos/161-complete-p3-unavailable-item-visual-treatment.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(tests): resolve technical debt in .skip test files
  client/src/modules/voice/components/HoldToRecordButton.test.tsx
  client/src/modules/voice/components/HoldToRecordButton.test.tsx.skip
  client/src/modules/voice/components/RecordingIndicator.test.tsx.skip
  client/src/modules/voice/services/__tests__/WebRTCVoiceClient.test.ts.skip
  client/src/modules/voice/services/orderIntegration.integration.test.tsx.skip
  client/src/pages/__tests__/CheckoutPage.demo.test.tsx.skip
  client/src/pages/__tests__/WorkspaceDashboard.test.tsx
  client/src/pages/hooks/__tests__/useVoiceOrderWebRTC.test.tsx.skip
  client/src/services/stationRouting.test.ts.skip
  plans/technical-debt-remediation.md
  server/tests/contracts/order.contract.test.ts.skip
  server/tests/middleware/auth-restaurant-id.test.ts
  server/tests/routes/orders.auth.test.ts.skip
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore(todos): add PR #152 code review findings
  todos/162-ready-p1-database-field-mismatch.md
  todos/163-ready-p1-missing-menu-update-tests.md
  todos/164-ready-p1-console-error-menu-service.md
  todos/165-ready-p1-snake-case-violation.md
  todos/166-ready-p2-missing-database-indexes.md
  todos/167-ready-p2-inefficient-cache-invalidation.md
  todos/168-ready-p2-sequential-api-calls.md
  todos/169-ready-p2-missing-audit-logging.md
  todos/170-ready-p2-race-condition-concurrent-updates.md
  todos/171-ready-p2-no-rate-limiting-menu-update.md
  todos/172-ready-p2-unbounded-client-cache.md
  todos/173-ready-p2-type-system-redundancy.md
  todos/174-ready-p3-missing-react-memoization.md
Due: prettier --write

fix(menu): resolve p1 database field mismatch in 86-item feature
  client/src/services/menu/MenuService.ts
  docs/solutions/database-issues/menu-service-wrong-column-86-item.md
  server/src/services/menu.service.ts
  server/tests/menu.routes.security.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore(todos): archive resolved P1 todos and update phase plan
  plans/todo-resolution-phased-plan.md
  todos/.archive/162-ready-p1-database-field-mismatch.md
  todos/.archive/163-ready-p1-missing-menu-update-tests.md
  todos/.archive/164-ready-p1-console-error-menu-service.md
  todos/.archive/165-ready-p1-snake-case-violation.md
Due: prettier --write

perf(menu): optimize cache invalidation and API calls
  client/src/services/menu/MenuService.ts
  server/src/services/menu.service.ts
  supabase/migrations/20251204_menu_composite_indexes.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore(todos): archive Phase 5 resolved todos
  todos/.archive/166-ready-p2-missing-database-indexes.md
  todos/.archive/167-ready-p2-inefficient-cache-invalidation.md
  todos/.archive/168-ready-p2-sequential-api-calls.md
  todos/.archive/172-ready-p2-unbounded-client-cache.md
Due: prettier --write

feat(menu): add audit logging, optimistic locking, and rate limiting
  server/src/mappers/menu.mapper.ts
  server/src/middleware/rateLimiter.ts
  server/src/routes/menu.routes.ts
  server/src/services/audit.service.ts
  server/src/services/menu.service.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

perf(menu): add usememo for derived state in menumanagement
  client/src/modules/menu-management/components/MenuManagement.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore(todos): archive phase 6 and 7 resolved todos
  todos/.archive/169-ready-p2-missing-audit-logging.md
  todos/.archive/170-ready-p2-race-condition-concurrent-updates.md
  todos/.archive/171-ready-p2-no-rate-limiting-menu-update.md
  todos/.archive/173-ready-p2-type-system-redundancy.md
  todos/.archive/174-ready-p3-missing-react-memoization.md
Due: prettier --write

fix(hooks): prevent false positive in console.log check
  .husky/pre-commit
Due: none

docs: codify pre-commit xargs false positive fix (cl-build-003)
  .claude/lessons/CL-BUILD-003-xargs-empty-input.md
  .claude/lessons/README.md
  CLAUDE.md
  docs/solutions/build-errors/pre-commit-xargs-false-positive.md
Due: prettier --write

chore(todos): add hidden debt findings from subagent scan
  todos/175-pending-p1-grep-perl-regex-macos.md
  todos/176-pending-p1-shell-subshell-counter-bug.md
  todos/177-pending-p1-unsafe-env-loading.md
  todos/178-pending-p2-ci-silent-failures.md
  todos/179-pending-p2-sed-bsd-syntax.md
  todos/180-pending-p2-xargs-patterns.md
Due: prettier --write

docs: codify parallel subagent debt scanning methodology
  docs/solutions/process-issues/parallel-subagent-debt-scanning.md
Due: prettier --write

fix(scripts): resolve 6 shell/CI compatibility and security issues
  .github/workflows/deploy-with-validation.yml
  .github/workflows/security.yml
  .husky/pre-commit
  package.json
  scripts/cleanup-todos.sh
  scripts/cleanup-worktrees.sh
  scripts/deploy-migration.sh
  scripts/post-migration-sync.sh
  scripts/rollback-migration.sh
  scripts/setup-hooks.sh
  scripts/system-health.sh
  scripts/todo-audit.sh
  scripts/verify-migration-history.sh
  todos/175-complete-p1-grep-perl-regex-macos.md
  todos/176-complete-p1-shell-subshell-counter-bug.md
  todos/177-complete-p1-unsafe-env-loading.md
  todos/178-complete-p2-ci-silent-failures.md
  todos/179-complete-p2-sed-bsd-syntax.md
  todos/180-complete-p2-xargs-patterns.md
Due: prettier --write

fix(todos): restore incorrectly archived items + finish shell fixes
  scripts/cleanup-todos.sh
  scripts/todo-audit.sh
  todos/165-pending-p1-snake-case-violation.md
  todos/173-pending-p2-type-system-redundancy.md
Due: prettier --write

fix(types): complete adr-001 snake_case migration (todo-165, todo-173)
  .claude/plans/adr-001-completion-plan.md
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/components/shared/MenuItemGrid.tsx
  client/src/modules/menu-management/components/MenuManagement.tsx
  client/src/modules/order-system/components/ItemDetailModal.tsx
  client/src/modules/order-system/components/MenuGrid.tsx
  client/src/modules/order-system/components/MenuItemCard.tsx
  client/src/modules/voice/services/VoiceMenuMatcher.ts
  client/src/pages/components/ItemModifiersModal.tsx
  client/src/pages/components/ServerMenuGrid.tsx
  client/src/services/menu/MenuService.ts
  client/src/utils/__tests__/fuzzyMenuMatcher.manual-test.ts
  client/src/utils/__tests__/fuzzyMenuMatcher.test.ts
  client/src/utils/fuzzyMenuMatcher.example.ts
  docs/explanation/architecture-decisions/ADR-001-snake-case-convention.md
  server/src/mappers/cart.mapper.ts
  server/src/mappers/menu.mapper.ts
  server/src/middleware/responseTransform.ts
  server/src/routes/realtime.routes.ts
  server/src/services/ai.service.ts
  server/src/utils/websocket.ts
  shared/api-types.ts
  todos/165-complete-p1-snake-case-violation.md
  todos/173-complete-p2-type-system-redundancy.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(server): add responsetransform stub for adr-001 compatibility
  server/src/middleware/responseTransform.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(types): resolve type errors in serverview, stationrouting, and vite config
  client/src/pages/ServerView.tsx
  client/src/services/stationRouting.ts
  client/vite.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
