Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

fix: resolve type system issues across components
  client/src/modules/order-system/components/CategoryFilter.tsx
  client/src/modules/order-system/components/MenuGrid.tsx
  client/src/modules/order-system/components/MenuSections.tsx
  client/src/modules/order-system/types/index.ts
  client/src/modules/voice/components/VoiceControl.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: resolve voicesocketmanager and remaining type issues
  client/src/modules/voice/services/VoiceSocketManager.ts
  client/src/pages/components/ServerStats.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: Resolve Kitchen Display System WebSocket real-time updates
  CLAUDE_CODE_FEATURES_GUIDE.md
  README.md
  assets/mikeyoung304-1.mp4
  client/public/assets/mikeyoung304-1.mp4
  client/src/App.tsx
  client/src/components/kitchen/KDSDebugPanel.tsx
  client/src/hooks/kitchen/useKitchenOrders.ts
  client/src/pages/KitchenDisplay.tsx
  client/src/services/api.ts
  client/src/services/auth/demoAuth.ts
  client/src/services/http/RestaurantIdProvider.tsx
  client/src/services/http/httpClient.ts
  client/src/services/orders/OrderService.ts
  client/src/services/websocket/WebSocketService.ts
  client/src/services/websocket/index.ts
  client/src/services/websocket/orderUpdates.ts
  docs/API.md
  docs/DEMO_AUTH_SETUP.md
  docs/KDS_FIX_SUMMARY.md
  docs/QUICKSTART.md
  docs/TROUBLESHOOTING.md
  docs/development.md
  docs/testing/voice-testing.md
  docs/voice/ARCHITECTURE.md
  scripts/test-kds-button.sh
  scripts/test-kds.sh
  server/src/middleware/auth.ts
  server/src/middleware/restaurantAccess.ts
  server/src/routes/auth.routes.ts
  server/src/routes/index.ts
  server/src/routes/realtime.routes.ts
  server/src/services/orders.service.ts
  server/src/utils/websocket.ts
  shared/types/index.ts
  shared/types/order.types.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: Kitchen Display System snake_case/camelCase mismatch
  client/src/components/kitchen/KDSDebugPanel.tsx
  client/src/hooks/kitchen/useKitchenOrders.ts
  client/src/services/websocket/orderUpdates.ts
  server/src/services/orders.service.ts
  server/src/utils/websocket.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs: comprehensive documentation alignment & accuracy improvements
  CLAUDE.md
  README.md
  docs/BACKEND_SERVICES.md
  docs/FRONTEND_ARCHITECTURE.md
  docs/MCP.md
  docs/OPERATIONS_INFRASTRUCTURE.md
  docs/SYSTEM_ARCHITECTURE_OVERVIEW.md
Due: prettier --write

fix: critical memory leaks in WebSocket connections (TECHNICAL_DEBT.md #3)
  client/optimization-report.md
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/floor-plan/components/FloorPlanSidePanel.tsx
  client/src/modules/floor-plan/components/FloorPlanToolbar.tsx
  client/src/modules/floor-plan/hooks/useFloorPlanReducer.ts
  client/src/modules/voice/components/VoiceControlWithAudio.tsx
  client/src/modules/voice/hooks/useVoiceToAudio.ts
  client/src/modules/voice/services/VoiceSocketManager.ts
  client/src/pages/AdminDashboard.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/pages/PerformanceDashboard.tsx
  client/src/pages/ServerView.tsx
  client/src/pages/components/ServerFloorPlan.tsx
  client/src/pages/components/VoiceOrderModal.tsx
  client/src/pages/hooks/useServerView.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/services/performance/performanceMonitor.ts
  client/src/services/tables/TableService.ts
  client/src/services/websocket/WebSocketService.ts
  docs/MIGRATION_WEBRTC.md
  docs/OPTIMIZATION_ROADMAP.md
  docs/TECHNICAL_DEBT.md
  docs/voice/KNOWN_ISSUES.md
  optimization-report.md
  server/src/routes/tables.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore: remove console.logs from production (TECHNICAL_DEBT.md #3.3)
  client/src/App.tsx
  client/src/components/kitchen/KDSDebugPanel.tsx
  client/src/core/RestaurantContext.tsx
  client/src/core/restaurant-hooks.ts
  client/src/core/restaurant-types.ts
  client/src/hooks/kitchen/useKitchenOrders.ts
  client/src/main.tsx
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/voice/components/VoiceControlWithAudio.tsx
  client/src/modules/voice/hooks/useVoiceToAudio.ts
  client/src/modules/voice/services/VoiceOrderProcessor.ts
  client/src/modules/voice/services/VoiceSocketManager.ts
  client/src/pages/AdminDashboard.tsx
  client/src/pages/DriveThruPage.tsx
  client/src/pages/ExpoPage.tsx
  client/src/pages/KioskPage.tsx
  client/src/pages/KitchenDisplay.tsx
  client/src/pages/PerformanceDashboard.tsx
  client/src/pages/hooks/useServerView.ts
  client/src/pages/kiosk/KioskHomePage.tsx
  client/src/services/audio/AudioPlaybackService.ts
  client/src/services/auth/demoAuth.ts
  client/src/services/auth/index.ts
  client/src/services/http/httpClient.ts
  client/src/services/orders/OrderService.ts
  client/src/services/utils/EventEmitter.ts
  client/src/services/websocket/WebSocketService.ts
  client/src/services/websocket/orderUpdates.ts
  client/src/voice/audio-pipeline.ts
  client/src/voice/useVoiceOrder.tsx
  client/src/voice/ws-transport.ts
  scripts/cleanup-console-logs.js
  scripts/cleanup-console-logs.ts
  server/src/config/environment.ts
  server/src/routes/tables.routes.ts
  server/src/server.ts
  server/src/services/logger.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat: implement localStorage cleanup system per TECHNICAL_DEBT.md
  client/src/main.tsx
  client/src/services/monitoring/localStorage-manager.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: event listener and timer memory leaks per TECHNICAL_DEBT.md
  client/src/services/monitoring/localStorage-manager.ts
  client/src/voice/useVoiceOrder.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: Week 1 optimization report - technical debt cleanup complete
  OPTIMIZATION_REPORT_PHASE1.md
Due: prettier --write

fix: TypeScript errors and logger method signatures
  client/src/hooks/kitchen/useKitchenOrders.ts
  client/src/hooks/kitchen/useOrderFiltering.ts
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/voice/hooks/useVoiceToAudio.ts
  client/src/modules/voice/services/VoiceOrderProcessor.ts
  client/src/services/orders/OrderService.ts
  client/src/services/websocket/WebSocketService.ts
  client/src/services/websocket/orderUpdates.ts
  client/src/voice/ws-transport.ts
  client/test/setup.ts
  scripts/fix-logger-calls.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: additional TypeScript errors and syntax issues
  client/src/modules/voice/services/orderIntegration.ts
  client/src/services/websocket/WebSocketService.ts
  client/src/services/websocket/orderUpdates.ts
  client/src/voice/ws-transport.ts
  scripts/fix-type-errors.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat: React performance optimizations - Week 2 complete
  client/src/components/kitchen/OrdersGrid.tsx
  client/src/components/shared/lists/VirtualizedOrderList.tsx
  client/src/hooks/useVirtualization.ts
  client/src/modules/order-system/components/MenuSection.tsx
  client/src/pages/AdminDashboard.tsx
  client/src/pages/KitchenDisplay.tsx
  client/src/routes/LazyRoutes.tsx
  client/vite.config.ts
  scripts/add-hook-optimizations.js
  scripts/add-react-memo.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat: Complete optimization suite - Week 3 & final report
  OPTIMIZATION_REPORT_FINAL.md
  client/src/services/cache/ResponseCache.ts
  client/src/services/http/RequestBatcher.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: Use browser-compatible EventEmitter for WebRTC client
  client/src/modules/voice/services/WebRTCVoiceClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: Temporarily disable manual chunks to fix build
  client/vite.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write
