Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat: complete phase 8 final integration and deployment
  PHASE-8-INTEGRATION-REPORT.md
Due: prettier --write

feat: implement apple-quality consistent header system
  client/src/components/layout/AppContent.tsx
  client/src/components/layout/BrandHeader.tsx
  client/src/components/layout/BrandHeaderPresets.ts
  client/src/components/navigation/FloatingDashboardButton.tsx
  client/src/pages/ExpoPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(kiosk): resolve voice ordering issues - orders now appear in kitchen, payment integration improved
  client/src/components/kiosk/KioskCartProvider.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/pages/KitchenDisplaySimple.tsx
  client/src/pages/OrderConfirmationPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(kiosk): add missing KioskCartProvider to resolve useKioskCart hook error
  client/src/pages/KioskPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add comprehensive voice ordering fix implementation plan
  docs/VOICE_ORDERING_FIX.md
Due: prettier --write

feat(voice): implement OpenAI function calling for structured order extraction
  .mcp.json
  client/src/components/errors/KitchenErrorBoundary.tsx
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/kiosk/KioskErrorBoundary.tsx
  client/src/components/kiosk/KioskModeSelector.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/components/kiosk/accessibility.ts
  client/src/components/kitchen/ConnectionStatusBar.tsx
  client/src/components/kitchen/TouchOptimizedOrderCard.tsx
  client/src/components/kitchen/VirtualizedOrderGrid.tsx
  client/src/components/layout/AppContent.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/hooks/kiosk/useKioskOrderSubmission.ts
  client/src/hooks/useAudioAlerts.ts
  client/src/hooks/useConnectionStatus.ts
  client/src/hooks/useOfflineQueue.ts
  client/src/modules/floor-plan/components/FloorPlanCanvas.tsx
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/floor-plan/components/FloorPlanSidePanel.tsx
  client/src/modules/floor-plan/components/FloorPlanToolbar.tsx
  client/src/modules/floor-plan/types/index.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/AdminDashboard.tsx
  client/src/pages/ExpoPage.tsx
  client/src/pages/ExpoPageDebug.tsx
  client/src/pages/ExpoPageOptimized.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
  client/src/pages/components/ServerFloorPlan.tsx
  client/src/services/monitoring/logger.ts
  package-lock.json
  package.json
  test-mark-as-sent.html
  test-optimizations.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: update voice ordering progress - Phase 1 complete
  client/src/components/kiosk/VoiceOrderingMode.tsx
  docs/VOICE_ORDERING_FIX.md
  docs/VOICE_ORDERING_PROGRESS.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(payments): implement Square Terminal integration for voice-enabled hands-free payments
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/hooks/useSquareTerminal.ts
  client/src/modules/orders/services/OrderParser.ts
  client/src/modules/voice/services/VoiceCheckoutOrchestrator.ts
  client/src/modules/voice/services/__tests__/VoiceCheckoutOrchestrator.test.ts
  client/src/pages/KioskPage.tsx
  docs/SQUARE_TERMINAL_INTEGRATION.md
  server/src/routes/index.ts
  server/src/routes/terminal.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs: update progress tracker - Phase 4 Square Terminal Integration complete
  docs/VOICE_ORDERING_PROGRESS.md
Due: prettier --write

feat: implement code splitting - reduce main bundle from 1MB to 93KB
  .env.example
  LAUNCH_READY_FINAL.md
  client/package.json
  client/src/App.tsx
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/contexts/UnifiedCartContext.tsx
  client/src/hooks/useApiRequest.ts
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/order-system/components/SquarePaymentForm.tsx
  client/src/modules/order-system/components/TipSlider.tsx
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/AdminDashboard.tsx
  client/src/pages/KioskPage.tsx
  client/src/services/audio/AudioPlaybackService.ts
  client/src/services/cache/ResponseCache.ts
  client/src/services/http/httpClient.ts
  client/src/services/index.ts
  client/src/services/tables/TableService.ts
  client/src/services/websocket/WebSocketService.test.ts
  client/vite.config.ts
  docs/AUDIT_REPORT_2025-08-25.md
  docs/AUDIT_VERIFICATION_REPORT_2025-08-25.md
  docs/CODE_SPLITTING_IMPLEMENTATION.md
  docs/IMPLEMENTATION_ROADMAP.md
  docs/ISSUE_TRACKING_MATRIX.md
  docs/LAUNCH_ACTIONS_COMPLETED.md
  docs/LAUNCH_READINESS_2025-08-24.md
  docs/PATH_FORWARD_FINAL.md
  docs/REALITY_CHECK_CRITICAL_PATH.md
  docs/REALITY_CHECK_FINAL.md
  docs/analysis/bundle-analysis.json
  docs/analysis/bundle-report.md
  jest.config.mjs
  package-lock.json
  package.json
  server/package.json
  server/src/routes/orders.routes.ts
  server/src/routes/tables.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: resolve WebSocket test suite hanging issues
  client/src/services/websocket/WebSocketService.test.ts
  docs/WEBSOCKET_TEST_FIX.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

perf: reduce memory usage from 12GB to 4GB and add test coverage
  client/package.json
  client/tsconfig.app.json
  client/vitest.config.ts
  docs/PERFORMANCE_OPTIMIZATIONS_COMPLETE.md
  package.json
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix: resolve critical TypeScript compilation errors
  client/package.json
  client/src/contexts/UnifiedCartContext.tsx
  client/src/hooks/useAudioAlerts.ts
  client/src/hooks/useConnectionStatus.ts
  client/src/hooks/useSquareTerminal.ts
  package-lock.json
  shared/index.ts
  shared/monitoring/error-tracker.ts
  shared/types/transformers.ts
  shared/utils/index.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: archive outdated docs and update main documentation
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/ISSUE_TRACKING_MATRIX.md
  docs/archive/2025-01-25/AUDIT_REPORT_2025-08-25.md
  docs/archive/2025-01-25/AUDIT_VERIFICATION_REPORT_2025-08-25.md
  docs/archive/2025-01-25/ISSUE_TRACKING_MATRIX.md
  docs/archive/2025-01-25/LAUNCH_ACTIONS_COMPLETED.md
  docs/archive/2025-01-25/LAUNCH_READINESS_2025-08-24.md
  docs/archive/2025-01-25/PATH_FORWARD_FINAL.md
  docs/archive/2025-01-25/REALITY_CHECK_CRITICAL_PATH.md
  docs/archive/2025-01-25/VOICE_ORDERING_FIX.md
  docs/archive/2025-01-25/VOICE_ORDERING_PROGRESS.md
Due: prettier --write

fix: comprehensive code quality improvements and test fixes
  CHANGELOG.md
  README.md
  client/src/components/auth/RoleSelector.tsx
  client/src/components/brand/MaconLogo.tsx
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/components/kitchen/ConnectionStatusBar.tsx
  client/src/components/kitchen/TableGroupCard.tsx
  client/src/components/layout/AppContent.tsx
  client/src/components/layout/BrandHeader.tsx
  client/src/components/navigation/BackToDashboard.tsx
  client/src/components/navigation/FloatingDashboardButton.tsx
  client/src/components/shared/display/OrderIdentifiers.tsx
  client/src/components/shared/index.ts
  client/src/components/ui/ActionButton.tsx
  client/src/components/ui/NavigationCard.tsx
  client/src/components/ui/PageHeader.tsx
  client/src/components/ui/PageLayout.tsx
  client/src/modules/floor-plan/components/FloorPlanSidePanel.tsx
  client/src/modules/floor-plan/components/FloorPlanToolbar.tsx
  client/src/modules/orders/components/__tests__/OrderCard.test.tsx
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/ExpoPage.tsx
  client/src/pages/KioskDemo.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/services/http/__mocks__/httpClient.ts
  client/src/types/filters.ts
  client/test/setup.ts
  server/src/ai/index.ts
  shared/monitoring/error-tracker.ts
  shared/types/transformers.ts
  shared/utils/performance-hooks.ts
  shared/utils/react-performance.ts
  shared/utils/websocket-pool.browser.ts
  tests/manual/test-optimizations.js
  tests/performance/lighthouse.spec.ts
  tests/server/ai.routes.test.ts
  tests/server/order.matching.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: complete order flow stability improvements
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/hooks/useSquareTerminal.ts
  client/src/pages/Dashboard.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: comprehensive documentation overhaul for v6.0.2
  CHANGELOG.md
  README.md
  docs/DEPLOYMENT_GUIDE.md
  docs/ORDER_FLOW.md
  docs/SYSTEM_ARCHITECTURE.md
  docs/TESTING_GUIDE.md
Due: prettier --write

fix: stabilize test suite and update documentation to production status
  README.md
  client/eslint.config.js
  client/package.json
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/services/http/httpClient.ts
  client/src/services/websocket/WebSocketService.test.ts
  client/src/services/websocket/WebSocketService.ts
  docs/06-development/contributing.md
  docs/06-development/known-issues.md
  package-lock.json
  package.json
  server/package.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: complete cart unification and eliminate technical debt
  CHANGELOG_2025-08-28.md
  CLAUDE.md
  client/src/components/kiosk/KioskCartProvider.tsx
  client/src/contexts/UnifiedCartContext.tsx
  client/src/modules/order-system/components/CartDrawer.tsx
  client/src/modules/order-system/components/CustomerOrderPage.tsx
  client/src/modules/order-system/components/MenuItemCard.tsx
  client/src/modules/order-system/context/cartContext.context.ts
  client/src/modules/order-system/context/cartContext.hooks.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat: comprehensive production readiness improvements
  PRODUCTION_DEPLOYMENT_STATUS.md
  PRODUCTION_READY_SUMMARY.md
  SECURITY_AUDIT_REPORT.md
  aug29audit.md
  client/src/modules/order-system/context/CartContext.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/pages/KioskPage.tsx
  client/src/services/menu/MenuService.ts
  client/src/services/websocket/WebSocketService.test.ts
  client/src/services/websocket/WebSocketServiceV2.ts
  client/vite.config.ts
  code-analysis.json
  code-analysis.md
  diagnose-frontend.html
  docs/AUTH_ROADMAP.md
  package-lock.json
  package.json
  server/package.json
  server/scripts/add-performance-indexes-safe.sql
  server/scripts/add-performance-indexes.sql
  server/scripts/create-indexes-for-actual-schema.sql
  server/scripts/create-indexes-via-supabase.js
  server/scripts/discover-schema-and-index.sql
  server/scripts/generated-indexes.sql
  server/scripts/inspect-schema.js
  server/scripts/seed-basic-restaurant.ts
  server/scripts/seed-minimal-restaurant.ts
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/ai/voice/EnhancedOpenAIAdapter.ts
  server/src/middleware/auth.ts
  server/src/middleware/csrf.ts
  server/src/routes/payments.routes.ts
  server/src/routes/restaurants.routes.ts
  server/src/server.ts
  server/src/services/orderStateMachine.ts
  server/src/services/payment.service.ts
  simulate-frontend.js
  test-frontend-api.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
