Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

fix(auth): add comprehensive logging to diagnose kitchen access issue
  client/src/components/auth/ProtectedRoute.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(kds): implement order grouping for online orders
  client/src/components/kitchen/OrderGroupCard.tsx
  client/src/hooks/useOrderGrouping.ts
  client/src/pages/KitchenDisplayOptimized.tsx
  server/src/routes/orders.routes.ts
  shared/types/order.types.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(kds): enhance order display with type badges, filters, and scheduled orders
  KDS_ORDER_FLOW.md
  KDS_STRATEGIC_PLAN_2025.md
  client/src/components/kitchen/OrderGroupCard.tsx
  client/src/components/kitchen/ScheduledOrdersSection.tsx
  client/src/hooks/useScheduledOrders.ts
  client/src/pages/KitchenDisplayOptimized.tsx
  docs/IMPLEMENTATION_PLAN_ORDER_GROUPING.md
  docs/KDS_COMPETITIVE_ANALYSIS_2025.md
  server/src/services/scheduledOrders.service.ts
  shared/types/order.types.ts
  supabase/migrations/20251014_scheduled_orders.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(kds): remove empty import statement causing build failure
  client/src/pages/KitchenDisplayOptimized.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(kds): resolve variable conflict and missing closing div tag
  client/src/pages/KitchenDisplayOptimized.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(kds): simplify to 2 order types with clean brand-colored design
  client/src/components/kitchen/OrderGroupCard.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(monitoring): disable analytics endpoint causing infinite load
  client/src/services/monitoring/performance.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(security): skip sanitization for auth tokens in query params
  server/src/middleware/requestSanitizer.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

chore(auth): add comprehensive diagnostic logging to demo login flow
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/contexts/AuthContext.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(kds): resolve grid mode infinite loading due to race condition
  client/src/components/kitchen/VirtualizedOrderGrid.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(code-quality): add autonomous overnight code scanning system
  scans/README.md
  scans/USAGE-EXAMPLES.md
  scans/agents/agent-1-multi-tenancy-guardian.md
  scans/agents/agent-2-convention-enforcer.md
  scans/agents/agent-3-race-condition-detective.md
  scans/agents/agent-4-security-auditor.md
  scans/agents/agent-5-performance-profiler.md
  scans/agents/agent-6-complexity-analyzer.md
  scans/reports/2025-10-14-22-02-28/EXECUTIVE-SUMMARY.md
  scans/reports/2025-10-14-22-02-28/EXECUTIVE_SUMMARY.md
  scans/reports/2025-10-14-22-02-28/INDEX.md
  scans/reports/2025-10-14-22-02-28/QUICK-REFERENCE.md
  scans/reports/2025-10-14-22-02-28/README.md
  scans/reports/2025-10-14-22-02-28/SUMMARY.md
  scans/reports/2025-10-14-22-02-28/complexity-analyzer.md
  scans/reports/2025-10-14-22-02-28/convention-enforcer.md
  scans/reports/2025-10-14-22-02-28/multi-tenancy-guardian.md
  scans/reports/2025-10-14-22-02-28/performance-index.md
  scans/reports/2025-10-14-22-02-28/performance-profiler.md
  scans/reports/2025-10-14-22-02-28/race-condition-detective.md
  scans/reports/2025-10-14-22-02-28/security-auditor.md
  scans/reports/2025-10-14-22-02-28/security-summary.json
  scripts/check-orders-kds.ts
  scripts/check-schema.ts
  scripts/test-kitchen-login-flow.ts
  test-payment-flow.sh
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(auth): remove demo creds, enforce jwt secret, sanitize logs
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/contexts/AuthContext.tsx
  server/src/middleware/auth.ts
  server/src/routes/auth.routes.ts
  server/tests/security/auth-security.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: kds websocket double init, stable deps, strict cleanup
  client/src/App.tsx
  client/src/hooks/__tests__/useKitchenOrdersRealtime.test.ts
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/services/websocket/WebSocketService.ts
  client/src/services/websocket/orderUpdates.ts
  tests/e2e/kds-websocket-race-conditions.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(mt): add restaurant_id guards to scheduled orders and pin auth
  server/src/services/auth/pinAuth.ts
  server/src/services/scheduledOrders.service.ts
  server/tests/multi-tenancy.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

perf: memoize heavy components, stabilize handlers, cleanup timers/listeners
  client/src/components/kitchen/TableGroupCard.tsx
  client/src/components/layout/AppContent.tsx
  client/src/modules/order-system/components/MenuGrid.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
  client/src/pages/ServerView.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: auth refresh timer & ws/voice race conditions
  client/src/contexts/AuthContext.tsx
  client/src/contexts/__tests__/AuthContext.test.tsx
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/services/websocket/WebSocketService.test.ts
  client/src/services/websocket/WebSocketService.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: enforce restaurant_id on all mutations
  server/src/services/auth/pinAuth.ts
  server/src/services/orders.service.ts
  server/tests/multi-tenancy.test.ts
  supabase/migrations/20251015_multi_tenancy_rls_and_pin_fix.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: refresh core docs for v6.0.8-rc.1
  AUTHENTICATION_ARCHITECTURE.md
  DEPLOYMENT.md
  PRODUCTION_STATUS.md
  README.md
  SECURITY.md
  TROUBLESHOOTING.md
  VERSION.md
  index.md
Due: prettier --write

docs(database): document rls policies, per-restaurant pin, and indexes
  docs/DATABASE.md
Due: prettier --write

docs(deploy): merge vercel specifics into deployment; archive vercel.md
  DEPLOYMENT.md
  EMERGENCY_FIX_INSTRUCTIONS.md
  client/src/contexts/AuthContext.tsx
  client/src/hooks/useSquareTerminal.ts
  client/src/modules/order-system/components/TipSlider.tsx
  client/src/modules/voice/components/RealtimeTranscription.tsx
  client/src/pages/SplashScreen.tsx
  client/src/services/websocket/WebSocketService.ts
  docs/archive/IMPLEMENTATION_PLAN_ORDER_GROUPING.md
  docs/archive/KDS_COMPETITIVE_ANALYSIS_2025.md
  docs/archive/VERCEL.md
  scans/AUTH_FIX_REPORT.md
  scans/COMPLETED_WORK_SUMMARY.md
  scans/DIAGNOSTIC_REPORT.md
  scans/ROLE_PERMISSIONS_AUDIT_REPORT.md
  scans/SOLUTION_SUMMARY.md
  scans/otherscan.md
  supabase/.temp/cli-latest
  tests/e2e/e2e-kds-realtime.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: archive legacy/strategy/incident docs into structured folders
  docs/archive/CLAUDE.md
  docs/strategy/KDS_STRATEGIC_PLAN_2025.md
Due: prettier --write

ci(docs): add docs:check guard and workflow
  .github/workflows/docs-check.yml
  package.json
  scripts/docs-check.js
Due: prettier --write

docs(env): add single-source environment configuration
  ENVIRONMENT.md
Due: prettier --write

docs: add modern getting started guide
  GETTING_STARTED.md
Due: prettier --write

docs(changelog): add 6.0.8-rc.1 entry
  CHANGELOG.md
Due: prettier --write

docs(roadmap): align to post-launch sprint and priorities
  ROADMAP.md
Due: prettier --write

docs(kds): modernize order flow operations and reliability notes
  KDS_ORDER_FLOW.md
Due: prettier --write

docs(archive): move legacy server auth diagnostics; add banner; retarget links
  docs/archive/incidents/AUTHENTICATION_DIAGNOSTIC.md
  docs/archive/incidents/AUTHENTICATION_DIAGNOSTIC_COMPLETE.md
  docs/archive/moved/2025-10-15_server__AUTHENTICATION_DIAGNOSTIC.md
  docs/archive/moved/2025-10-15_server__AUTHENTICATION_DIAGNOSTIC_COMPLETE.md
  reports/docs_stragglers.md
Due: prettier --write

docs: add guarded-merge evidence & claims map
  reports/docs_claims_map.json
  reports/docs_claims_summary.md
  reports/docs_guarded_merge_evidence.md
Due: prettier --write

docs: guarded merge verified claims to canonical deployment docs
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/DATABASE.md
  docs/DEPLOYMENT.md
  docs/MIGRATION_V6_AUTH.md
  docs/ORDER_FLOW.md
  docs/POST_MORTEM_PAYMENT_CREDENTIALS_2025-10-14.md
  docs/PRODUCTION_STATUS.md
  docs/README.md
  docs/ROADMAP.md
  docs/SQUARE_INTEGRATION.md
  docs/WEBSOCKET_EVENTS.md
  docs/api/README.md
  docs/archive/moved/2025-10-15_MIGRATION_V6_AUTH.md
  docs/archive/moved/2025-10-15_POST_MORTEM_PAYMENT_CREDENTIALS_2025-10-14.md
  docs/archive/moved/2025-10-15_SQUARE_INTEGRATION.md
  docs/archive/moved/2025-10-15_WEBSOCKET_EVENTS.md
  docs/index.md
  reports/docs_merge_plan.md
Due: prettier --write
