Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

lint(client): add ESLint guard against subpath imports
  client/eslint.config.js
Due: prettier --write

fix(shared): export MemoryMonitorInstance from utils
  shared/utils/index.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(server): add missing semicolon after applySecurity call
  .github/workflows/deploy-client-vercel.yml
  .gitignore
  .nvmrc
  client/vercel.json
  server/src/server.ts
  vercel.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

chore(vercel): configure Node 20 engines and workspace installs
  client/src/utils/orderStatusUtils.ts
  package.json
  render.yaml
  server/package.json
  vercel.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore(ci): force Rollup JS build + standardize Vercel commands
  client/package.json
  package-lock.json
  vercel.json
Due: prettier --write

fix(build): add Rollup Linux binary as optional dependency for Vercel
  _forensics/diagnosis.md
  _forensics/diff-summary.md
  _forensics/env-required.json
  _forensics/log-insights.json
  _forensics/next-commands.md
  _forensics/path-issues.md
  _forensics/repro-client.sh
  _forensics/repro-server.sh
  _forensics/window.json
  client/package.json
  package-lock.json
Due: prettier --write

fix(production): critical fixes for deployment failures
  PRODUCTION_DIAGNOSTICS.md
  fix-vercel-env.sh
  render.yaml
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(vercel): update build command to use root package script
  DEPLOYMENT.md
  client/index.html
  client/public/debug.js
  fix-vercel-env.sh
  vercel.json
Due: prettier --write

fix(build): resolve Rollup native module error on Vercel and TypeScript issues
  DEPLOYMENT.md
  client/package.json
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/ExpoConsolidated.tsx
  client/src/pages/ExpoPage.tsx
  client/src/pages/ExpoPageDebug.tsx
  client/src/pages/ExpoPageOptimized.tsx
  client/src/pages/KitchenDisplayMinimal.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
  client/src/services/menu/MenuService.ts
  client/src/services/monitoring/performance.ts
  vercel.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

security: comprehensive audit and critical security fixes
  .github/workflows/security.yml
  docs/README_DEPLOY.md
  reports/00_context.md
  reports/01_static-health.md
  reports/02_naming-alignment.md
  reports/03_security-auth.md
  reports/04_order-flow.md
  reports/05_ai-bloat.md
  reports/06_vercel-plan.md
  reports/07_refactor-queue.md
  reports/EXECUTIVE_SUMMARY.md
  reports/README.md
  reports/v2/EXEC_SUMMARY.md
  reports/v2/ai-proof.md
  reports/v2/bundle.json
  reports/v2/ci-proof.md
  reports/v2/contracts.md
  reports/v2/eslint-baseline.txt
  reports/v2/eslint-summary.json
  reports/v2/order-proof.md
  reports/v2/orphans.json
  reports/v2/security-proof.md
  reports/v2/static.json
  reports/v2/typecheck-baseline.txt
  reports/v2/vercel-verify.md
  server/src/middleware/auth.ts
  server/src/middleware/webhookSignature.ts
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

[deploy] link vercel at root + preview script + runbook
  docs/DEPLOY_RUNBOOK.md
  reports/v3/00_foundation.md
  reports/v3/artifacts/vercel-env.txt
  reports/v3/artifacts/vercel-projects.json
  reports/v3/artifacts/vercel-projects.txt
  scripts/deploy-preview.sh
Due: prettier --write

[deploy] canonicalize Vercel project to july25-client + guard
  .github/workflows/vercel-guard.yml
  README.md
  docs/DEPLOY_RUNBOOK.md
  docs/README_DEPLOY.md
  package.json
  reports/v3/00_canonicalize.md
  reports/v3/artifacts/vercel-env.txt
  reports/v3/artifacts/vercel-projects.json
  scripts/deploy-preview.sh
  tools/verify-vercel-project.mjs
Due: prettier --write

[security] cors allow-list + webhook hmac + negative proofs
  .github/workflows/security.yml
  reports/v3/01_security.md
  server/src/routes/index.ts
  server/src/routes/webhook.routes.ts
  server/src/server.ts
  server/tests/security/cors.proof.test.ts
  server/tests/security/webhook.proof.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

[naming] enforce boundary transforms + contract proofs (wave 1)
  reports/v3/02_contracts.md
  reports/v3/artifacts/contracts-matrix.json
  server/src/middleware/responseTransform.ts
  server/src/server.ts
  server/src/utils/websocket.ts
  server/tests/contracts/boundary-transform.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

[client] react prod-crash hotfix: single-version + vite hardening
  client/package.json
  client/vite.config.ts
  package-lock.json
  package.json
  reports/v3/04_react-prod-crash.md
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix: critical CI and security failures
  client/src/hooks/useApiRequest.ts
  client/src/services/http/httpClient.ts
  fix-eslint-errors.js
  server/.gitignore
  server/fix-index-signatures.js
  server/src/middleware/webhookSignature.ts
  server/src/server.ts
  server/tests/performance/transform-benchmark.ts
  server/tests/security/ratelimit.proof.test.ts
  server/tests/security/rbac.proof.test.ts
  server/tests/security/webhook.proof.test.ts
  test-chip-monkey-simple.js
  test-chip-monkey-workaround.js
  test-chip-monkey.js
  test-frontend-api.js
  test-voice-flow.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat: enable demo auth panel in production with VITE_DEMO_PANEL flag
  client/src/components/auth/DevAuthOverlay.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor: simplify demo panel UI to match dashboard aesthetic
  client/src/components/auth/DevAuthOverlay.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: allow demo panel in production when VITE_DEMO_PANEL=1 is set
  client/src/contexts/AuthContext.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: resolve Vercel deployment "Configuration Required" error
  docs/VERCEL_ENV_FIX.md
Due: prettier --write
