Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs(voice): document session normalization and updated defaults
  docs/BASELINE_REALITY.md
  docs/VOICE_SYSTEM_CURRENT.md
Due: prettier --write

feat(voice): server-side session normalizer & logging
  docs/buglogs/voice-guard/20250115/doc-snap.md
  docs/buglogs/voice-guard/20250115/supabase.md
  docs/buglogs/voice-session-config/20250915/final-report.md
  server/src/middleware/normalizeVoiceSession.ts
  server/src/routes/realtime.routes.ts
  server/src/voice/sessionLimits.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(voice): env/venue overrides (clamped via normalizer)
  docs/voice/RESTAURANT_VOICE_CONFIG_IMPLEMENTATION.md
  docs/voice/examples/restaurant-voice-setup.ts
  docs/voice/restaurant-voice-config.md
  server/src/middleware/__tests__/normalizeVoiceSession.test.ts
  server/src/middleware/normalizeVoiceSession.ts
  server/src/services/restaurant.service.ts
  shared/index.ts
  shared/types/index.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(voice): reconnection/mic error handling & dev connectivity panel
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore(voice): add structured logs & timers for session lifecycle
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  docs/voice/METRICS.md
  docs/voice/metrics-example.ts
  server/src/middleware/normalizeVoiceSession.ts
  shared/utils/__tests__/voice-metrics.test.ts
  shared/utils/index.ts
  shared/utils/voice-metrics.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore(ci): lint/ban require() in client + default temperature guard test
  .github/workflows/client-safety.yml
  client/eslint.config.js
  client/src/modules/voice/services/__tests__/voice-agent-modes.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

test(voice): manual E2E verification guide (Puppeteer unavailable)
  docs/buglogs/voice-guard/20250115/verify/manual-verification.md
Due: prettier --write

docs(voice): server normalizer, env overrides, reconnection behavior; stamp
  docs/BASELINE_REALITY.md
  docs/VOICE_SYSTEM_CURRENT.md
Due: prettier --write

docs(voice): add final report for voice reliability phase 2
  docs/buglogs/voice-guard/20250115/final-report.md
Due: prettier --write

docs(voice): add PR description template
  docs/buglogs/voice-guard/20250115/PR_DESCRIPTION.md
Due: prettier --write

docs: update all documentation with current voice improvements
  CLAUDE.md
  README.md
  docs/BASELINE_REALITY.md
  docs/VOICE_SYSTEM_CURRENT.md
  docs/buglogs/voice-guard/20250915/PR_DESCRIPTION.md
  docs/buglogs/voice-guard/20250915/doc-snap.md
  docs/buglogs/voice-guard/20250915/final-report.md
  docs/buglogs/voice-guard/20250915/supabase.md
  docs/buglogs/voice-guard/20250915/verify/manual-verification.md
Due: prettier --write

fix(kds): add exhaustive status handling with assertNever
  client/src/components/kitchen/StationStatusBar.tsx
  client/src/components/kitchen/__tests__/StationStatusBar.test.tsx
  client/src/hooks/__tests__/useTableGrouping.test.ts
  client/src/hooks/useTableGrouping.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(websocket): add memory cleanup with CleanupManager integration
  client/src/services/websocket/WebSocketService.ts
  scripts/memory-soak-test-short.js
  scripts/memory-soak-test.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

sec(middleware): implement requireRestaurantId for tenant isolation
  server/src/middleware/__tests__/requireRestaurantId.test.ts
  server/src/middleware/requireRestaurantId.ts
  server/src/routes/orders.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(kiosk): use RestaurantContext instead of environment variable
  client/src/hooks/kiosk/__tests__/useOrderSubmission.test.tsx
  client/src/hooks/kiosk/useOrderSubmission.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(voice): require Square token for customer orders + client payment sheet
  client/src/config/features.ts
  client/src/modules/payments/PaymentSheet.tsx
  client/src/modules/payments/useSquarePayment.ts
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  server/src/config/features.ts
  server/src/dto/order.dto.ts
  server/src/middleware/__tests__/paymentGate.test.ts
  tests/integration/voice-customer-payment.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(test): add vitest jest-compat shim and stabilize suite
  client/src/core/RestaurantContext.tsx
  server/package.json
  server/src/middleware/__tests__/paymentGate.test.ts
  server/tests/bootstrap.ts
  server/vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore(security): remove auth bypasses and harden restaurant context
  server/src/middleware/auth.ts
  server/src/middleware/csrf.ts
  server/src/middleware/rateLimiter.ts
  server/src/routes/auth.routes.ts
  server/src/routes/tables.routes.ts
  server/tests/bootstrap.ts
  server/tests/integration/auth-hardening.test.ts
  server/tests/integration/auth-simple.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(kds): ensure exhaustive handling of all 7 order statuses
  client/src/components/kitchen/StationStatusBar.tsx
  client/src/hooks/useTableGrouping.ts
  client/src/modules/orders/components/OrderActions/OrderActionsBar.tsx
  client/src/types/unified-order.ts
  client/src/utils/__tests__/orderStatusExhaustive.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: update documentation for v6.1.0 release
  CLAUDE.md
  README.md
  RELEASE_NOTES_SPRINT_2025_09_16.md
  client/package.json
  package.json
  server/package.json
Due: prettier --write

fix(kds): handle all 7 order statuses exhaustively
  client/src/constants/orderStatuses.ts
  client/src/hooks/useKitchenOrdersOptimized.ts
  client/src/pages/KitchenDisplayOptimized.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(core): establish camelCase migration foundation
  docs/CAMELCASE_MIGRATION.md
  eslint.config.js
  ops/audits/2025-01-17/EXEC_SUMMARY.md
  ops/audits/2025-01-17/baseline_sha.txt
  ops/audits/2025-01-17/baseline_test_results.txt
  ops/audits/2025-01-17/reports/_tech_debt_flags.txt
  ops/audits/2025-01-17/reports/_tech_debt_sample.txt
  ops/audits/2025-09-17/REMEDIATION_REPORT.md
  server/src/lib/casing.ts
  server/src/middleware/normalize-casing.ts
  shared/types/order.types.canonical.ts
  tools/check-no-snake-case.sh
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(api): apply normalize casing middleware to all API routes
  ops/audits/2025-01-17/MASTER_AUDIT_REPORT.md
  ops/audits/2025-01-17/MIGRATION_STATUS.md
  ops/audits/2025-01-17/baseline_bundle.txt
  ops/audits/2025-01-17/baseline_lint.txt
  ops/audits/2025-01-17/baseline_tests.txt
  ops/audits/2025-01-17/baseline_typecheck.txt
  ops/audits/2025-01-17/baselines.json
  ops/audits/2025-01-17/start_time.txt
  server/src/dto/order.dto.ts
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

test(setup): strengthen Jest→Vitest compatibility shim
  client/test/setup.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(orders): add comprehensive tests for required order fields
  server/src/dto/__tests__/order.dto.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(kds): add exhaustive status handling with fallbacks
  client/src/components/kitchen/StationStatusBar.tsx
  client/src/hooks/useTableGrouping.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): stabilize WebRTC client and prevent reconnection loops
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  ops/audits/2025-01-17/phase-1-report.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): bridge kiosk token into auth context to enable authenticated kiosk orders
  client/src/hooks/useKioskAuth.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore(security): remove development bypasses for auth, CSRF, and rate limiting
  CHANGELOG.md
  CLAUDE.md
  README.md
  SECURITY.md
  docs/DOCUMENTATION_AUDIT_REPORT.md
  docs/LAUNCH_ACTION_PLAN.md
  ops/audits/2025-01-17/EXECUTIVE_SUMMARY.md
  schema-ddl.sql
  server/src/config/database.ts
  server/src/middleware/auth.ts
  server/src/middleware/csrf.ts
  server/src/middleware/normalize-casing.ts
  server/src/middleware/normalizeVoiceSession.ts
  server/src/middleware/rateLimiter.ts
  supabase/.temp/cli-latest
  supabase/.temp/storage-version
  supabase/seed.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(orders): compute and attach subtotal/tax/tip/total for all order submissions
  client/src/services/orders/OrderService.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(realtime): verify auth on WebSocket reconnection; close with 1008 when unauthorized
  server/src/utils/websocket.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

test(infra): add vitest shim/cleanup; convert remaining jest.*; fix server test glob
  client/src/modules/payment/hooks/__tests__/useTablePayment.test.ts
  client/test/setup.ts
  package.json
  server/src/middleware/__tests__/normalizeVoiceSession.test.ts
  server/src/routes/__tests__/table-payment.routes.test.ts
  server/src/services/__tests__/payment-flow.service.test.ts
  server/vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

refactor(env): use bracketed process.env access to satisfy strict TS rules
  server/src/ai/voice/EnhancedOpenAIAdapter.ts
  server/src/config/features.ts
  server/src/dto/order.dto.ts
  server/src/middleware/__tests__/auth.test.ts
  server/src/middleware/__tests__/normalizeVoiceSession.test.ts
  server/src/middleware/auth-dev-fix.ts
  server/src/middleware/auth.ts
  server/src/middleware/csrf.ts
  server/src/middleware/rateLimiter.ts
  server/src/middleware/security-headers.ts
  server/src/middleware/security.ts
  server/src/routes/__tests__/security.test.ts
  server/src/routes/auth.routes.ts
  server/src/routes/health.routes.ts
  server/src/routes/metrics.ts
  server/src/routes/realtime.routes.ts
  server/src/routes/security.routes.ts
  server/src/routes/terminal.routes.ts
  server/src/server.ts
  server/src/services/auth/AuthenticationService.ts
  server/src/test-utils/index.ts
  server/src/tests/auth.integration.test.ts
  server/src/voice/debug-dashboard.ts
  server/src/voice/openai-adapter.ts
  server/src/voice/twilio-bridge.ts
  server/src/voice/voice-routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(payment): standardize total handling; tighten useTablePayment DTOs; update picker spec
  client/src/modules/payment/components/PaymentMethodPicker.tsx
  client/src/modules/payment/components/__tests__/PaymentMethodPicker.test.tsx
  client/src/modules/payment/components/__tests__/TipSelector.test.tsx
  client/src/modules/payment/hooks/__tests__/useTablePayment.test.ts
  client/src/modules/payment/hooks/useTablePayment.ts
  client/test/setup.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor(imports): standardize shared imports to @rebuild/shared
  client/src/modules/voice/services/MenuContextManager.ts
  server/src/lib/casing.ts
  server/src/routes/tables.routes.ts
  server/src/services/OrderMatchingService.ts
  server/src/services/restaurant.service.ts
  server/src/voice/openai-adapter.ts
  server/src/voice/types.ts
  server/src/voice/websocket-server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(shared): dedupe VoiceMetrics export to avoid re-export conflicts
  shared/utils/index.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

feat(security): default hardening bundle
  server/src/middleware/security.ts
  server/src/middleware/strict-auth.ts
  server/src/routes/index.ts
  server/src/routes/payments.routes.ts
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

chore(rules): add check:rls
  .github/workflows/ci.yml
  package.json
  scripts/verify-rls.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

test(server): add health check via supertest
  server/src/app.ts
  server/src/server.ts
  server/tests/health.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
