Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

build(server): compiled prod (dist/) + CI build check (#58)
  .github/workflows/server-build.yml
  .gitignore
  docs/DEPLOYMENT.md
  server/package.json
  server/tsconfig.build.json
Due: prettier --write

fix(types): critical type fixes in shared and client
  client/src/pages/ExpoPage.tsx
  client/src/pages/KitchenDisplaySimple.tsx
  client/src/pages/SplashScreen.tsx
  docs/audits/raw/branches.txt
  docs/audits/raw/build-client.before.txt
  docs/audits/raw/build-server.before.txt
  docs/audits/raw/lint.before.txt
  docs/audits/raw/offenders.json
  docs/audits/raw/smells.txt
  docs/audits/raw/testquick.before.txt
  docs/audits/raw/typecheck.before.txt
  server/tests/security/rbac.proof.test.ts
  shared/types/transformers.ts
  shared/utils/error-handling.ts
  shared/utils/performance-hooks.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(server): resolve index signature and mapper type errors
  client/src/pages/ExpoPage.tsx
  client/src/pages/KitchenDisplaySimple.tsx
  client/src/pages/SplashScreen.tsx
  package-lock.json
  package.json
  server/fix-index-signatures.js
  server/src/mappers/cart.mapper.ts
  server/src/mappers/menu.mapper.ts
  server/src/middleware/__tests__/auth.test.ts
  server/src/middleware/csrf.ts
  server/src/middleware/rateLimiter.ts
  server/src/middleware/requestSanitizer.ts
  server/src/middleware/security-headers.ts
  server/src/middleware/security.ts
  server/src/routes/auth.routes.ts
  server/src/routes/health.routes.ts
  server/src/routes/metrics.ts
  server/src/routes/realtime.routes.ts
  server/src/routes/security.routes.ts
  server/src/routes/tables.routes.ts
  server/src/routes/terminal.routes.ts
  server/src/server.ts
  server/src/services/auth/pinAuth.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(client): reduce ESLint errors by fixing unused variables
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/floor-plan/components/__tests__/chip-monkey.test.tsx
  client/src/modules/orders/hooks/useOrderData.ts
  client/src/modules/voice/services/VoiceOrderProcessor.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/AdminDashboard.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/pages/DriveThruPage.tsx
  client/src/pages/ExpoConsolidated.tsx
  client/src/pages/ExpoPage.tsx
  client/src/pages/ExpoPageDebug.tsx
  client/src/pages/KitchenDisplaySimple.tsx
  client/src/services/api.ts
  client/src/services/cache/ResponseCache.ts
  fix-client-eslint.cjs
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(types): critical type fixes in shared and client (#60)
  client/src/pages/ExpoPage.tsx
  client/src/pages/KitchenDisplaySimple.tsx
  client/src/pages/SplashScreen.tsx
  docs/audits/raw/branches.txt
  docs/audits/raw/build-client.before.txt
  docs/audits/raw/build-server.before.txt
  docs/audits/raw/lint.before.txt
  docs/audits/raw/offenders.json
  docs/audits/raw/smells.txt
  docs/audits/raw/testquick.before.txt
  docs/audits/raw/typecheck.before.txt
  server/tests/security/rbac.proof.test.ts
  shared/types/transformers.ts
  shared/utils/error-handling.ts
  shared/utils/performance-hooks.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(server): resolve index signature and mapper type errors (#61)
  docs/audits/overnight-20250920.md
  package-lock.json
  package.json
  server/fix-index-signatures.js
  server/src/mappers/cart.mapper.ts
  server/src/mappers/menu.mapper.ts
  server/src/middleware/__tests__/auth.test.ts
  server/src/middleware/csrf.ts
  server/src/middleware/rateLimiter.ts
  server/src/middleware/requestSanitizer.ts
  server/src/middleware/security-headers.ts
  server/src/middleware/security.ts
  server/src/routes/auth.routes.ts
  server/src/routes/health.routes.ts
  server/src/routes/metrics.ts
  server/src/routes/realtime.routes.ts
  server/src/routes/security.routes.ts
  server/src/routes/tables.routes.ts
  server/src/routes/terminal.routes.ts
  server/src/server.ts
  server/src/services/auth/pinAuth.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(shared): resolve index signature errors in config module
  shared/config/index.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

test(ci): make test:quick CI-safe (vitest config + setup + env helpers)
  docs/audits/raw/build-client.before.txt
  docs/audits/raw/build-server.before.txt
  docs/audits/raw/lint.before.txt
  docs/audits/raw/testquick.before.txt
  docs/audits/raw/ts-offenders.txt
  docs/audits/raw/typecheck.before.txt
  package.json
  server/tests/security/csrf.proof.test.ts
  server/tests/security/headers.proof.test.ts
  server/tests/security/ratelimit.proof.test.ts
  server/tests/security/rbac.proof.test.ts
  shared/cart.js.map
  shared/config/index.js.map
  shared/env.ts
  shared/index.js.map
  shared/runtime.js.map
  shared/src/voice-types.js.map
  shared/types/events.types.js.map
  shared/types/orders.js.map
  shared/types/transformers.js.map
  shared/types/validation.js.map
  shared/utils/cleanup-manager.js.map
  shared/utils/index.js.map
  shared/utils/memory-monitoring.js.map
  tests/setup.ts
  vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

chore(ci): add quality gates + bundle budget + checks script
  .github/workflows/gates.yml
  scripts/check-bundle-budget.mjs
  server/docs/CHECKS.sh
Due: none

test(ci): make test:quick CI-safe (vitest config + setup + env helpers) (#64)
  docs/audits/raw/build-client.pre2.txt
  docs/audits/raw/build-server.pre2.txt
  docs/audits/raw/lint.pre2.txt
  docs/audits/raw/testquick.pre2.txt
  docs/audits/raw/ts-offenders.txt
  docs/audits/raw/typecheck.pre2.txt
  package.json
  server/tests/security/csrf.proof.test.ts
  server/tests/security/headers.proof.test.ts
  server/tests/security/ratelimit.proof.test.ts
  server/tests/security/rbac.proof.test.ts
  shared/cart.js.map
  shared/config/index.js.map
  shared/env.ts
  shared/index.js.map
  shared/runtime.js.map
  shared/src/voice-types.js.map
  shared/types/events.types.js.map
  shared/types/orders.js.map
  shared/types/transformers.js.map
  shared/types/validation.js.map
  shared/utils/cleanup-manager.js.map
  shared/utils/index.js.map
  shared/utils/memory-monitoring.js.map
  tests/setup.ts
  vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

chore(ci): add quality gates + bundle budget + checks script (#65)
  .github/workflows/gates.yml
  scripts/check-bundle-budget.mjs
  server/docs/CHECKS.sh
Due: none

fix(build): restore shared/config export for client build
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  server/docs/audits/overnight-20250921.md
  server/src/config/environment.ts
  shared/cart.js.map
  shared/config/index.js.map
  shared/config/index.ts
  shared/config/simple.ts
  shared/index.js.map
  shared/runtime.js.map
  shared/src/voice-types.js.map
  shared/types/customer.types.js.map
  shared/types/events.types.js.map
  shared/types/index.js.map
  shared/types/menu.types.js.map
  shared/types/order.types.js.map
  shared/types/orders.js.map
  shared/types/table.types.js.map
  shared/types/transformers.js.map
  shared/types/validation.js.map
  shared/types/websocket.types.js.map
  shared/utils/cleanup-manager.js.map
  shared/utils/index.js.map
  shared/utils/memory-monitoring.js.map
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(build): restore shared/config export for client build (#66)
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  server/docs/audits/overnight-20250921.md
  server/src/config/environment.ts
  shared/cart.js.map
  shared/config/index.js.map
  shared/config/index.ts
  shared/config/simple.ts
  shared/index.js.map
  shared/runtime.js.map
  shared/src/voice-types.js.map
  shared/types/customer.types.js.map
  shared/types/events.types.js.map
  shared/types/index.js.map
  shared/types/menu.types.js.map
  shared/types/order.types.js.map
  shared/types/orders.js.map
  shared/types/table.types.js.map
  shared/types/transformers.js.map
  shared/types/validation.js.map
  shared/types/websocket.types.js.map
  shared/utils/cleanup-manager.js.map
  shared/utils/index.js.map
  shared/utils/memory-monitoring.js.map
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(typescript): reduce errors from 233 to 145 - phase 1
  client/src/config/index.ts
  docs/audits/overnight-20250921.md
  docs/audits/raw/build-client.p3.before.txt
  docs/audits/raw/build-server.p3.before.txt
  docs/audits/raw/lint.p3.before.txt
  docs/audits/raw/testquick.p3.before.txt
  docs/audits/raw/typecheck.p3.before.txt
  server/src/ai/functions/realtime-menu-tools.test.ts
  server/src/ai/voice/EnhancedOpenAIAdapter.ts
  server/src/config/environment.ts
  server/src/middleware/rateLimiter.ts
  server/src/middleware/security.ts
  server/src/routes/__tests__/payments.test.ts
  server/src/routes/__tests__/security.test.ts
  server/src/routes/auth.routes.ts
  server/src/routes/orders.routes.ts
  server/src/routes/payments.routes.ts
  server/src/routes/realtime.routes.ts
  server/src/routes/security.routes.ts
  server/src/routes/tables.routes.ts
  server/src/routes/terminal.routes.ts
  server/src/server.ts
  server/src/services/ai.service.ts
  server/src/services/menu.service.ts
  server/src/services/orderStateMachine.ts
  server/src/test-utils/index.ts
  server/src/voice/debug-dashboard.ts
  server/src/voice/openai-adapter.ts
  server/src/voice/twilio-bridge.ts
  server/src/voice/voice-routes.ts
  shared/monitoring/error-tracker.ts
  shared/monitoring/performance-monitor.ts
  shared/package.json
  shared/utils/cleanup-manager.ts
  shared/utils/memory-monitoring.ts
  shared/utils/performance-hooks.ts
  shared/utils/react-performance.ts
  shared/utils/websocket-pool.browser.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(ts/shared): phase 2 type tightening - shared config & monitoring (no runtime change)
  client/src/config/index.ts
  docs/audits/overnight-20250121.md
  docs/audits/raw/build-client.p2.before.txt
  docs/audits/raw/build-server.p2.before.txt
  docs/audits/raw/lint.p2.before.txt
  docs/audits/raw/testquick.p2.before.txt
  docs/audits/raw/ts-files.p2.txt
  docs/audits/raw/ts-offenders.p2.txt
  docs/audits/raw/typecheck.p2.before.txt
  server/src/config/environment.ts
  server/src/middleware/authRateLimiter.ts
  server/src/middleware/rateLimiter.ts
  server/src/middleware/security.ts
  server/src/routes/auth.routes.ts
  shared/config/index.ts
  shared/monitoring/error-tracker.ts
  shared/types/transformers.ts
  shared/utils/performance-hooks.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(ts/shared): phase 2 type tightening - shared config & monitoring (no runtime change) (#68)
  client/src/config/index.ts
  docs/audits/overnight-20250121.md
  docs/audits/raw/build-client.p2.before.txt
  docs/audits/raw/build-server.p2.before.txt
  docs/audits/raw/lint.p2.before.txt
  docs/audits/raw/testquick.p2.before.txt
  docs/audits/raw/ts-files.p2.txt
  docs/audits/raw/ts-offenders.p2.txt
  docs/audits/raw/typecheck.p2.before.txt
  server/src/config/environment.ts
  server/src/middleware/authRateLimiter.ts
  server/src/middleware/rateLimiter.ts
  server/src/middleware/security.ts
  server/src/routes/auth.routes.ts
  shared/config/index.ts
  shared/monitoring/error-tracker.ts
  shared/types/transformers.ts
  shared/utils/performance-hooks.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(ts/server): phase 2 server middleware & routes tightening (no runtime change)
  server/src/ai/functions/realtime-menu-tools.test.ts
  server/src/middleware/security.ts
  server/src/middleware/validate.ts
  server/src/routes/auth.routes.ts
  server/src/routes/realtime.routes.ts
  server/src/routes/security.routes.ts
  server/src/routes/tables.routes.ts
  server/src/routes/terminal.routes.ts
  server/src/server.ts
  server/src/services/ai.service.ts
  server/src/services/menu.service.ts
  server/src/services/orderStateMachine.ts
  server/src/services/orders.service.ts
  server/src/test-utils/index.ts
  server/src/voice/debug-dashboard.ts
  server/src/voice/openai-adapter.ts
  server/src/voice/twilio-bridge.ts
  server/src/voice/voice-routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(ts/server): phase 2 server middleware & routes tightening (no runtime change) (#69)
  server/src/ai/functions/realtime-menu-tools.test.ts
  server/src/middleware/security.ts
  server/src/middleware/validate.ts
  server/src/routes/auth.routes.ts
  server/src/routes/realtime.routes.ts
  server/src/routes/security.routes.ts
  server/src/routes/tables.routes.ts
  server/src/routes/terminal.routes.ts
  server/src/server.ts
  server/src/services/ai.service.ts
  server/src/services/menu.service.ts
  server/src/services/orderStateMachine.ts
  server/src/services/orders.service.ts
  server/src/test-utils/index.ts
  server/src/voice/debug-dashboard.ts
  server/src/voice/openai-adapter.ts
  server/src/voice/twilio-bridge.ts
  server/src/voice/voice-routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(ts): phase 1 slice 3 - reduce TypeScript errors from 159 to 151 (type-only changes)
  docs/audits/phase2-progress.md
  docs/audits/raw/build-client.pS3.before.txt
  docs/audits/raw/build-server.pS3.before.txt
  docs/audits/raw/lint.pS3.before.txt
  docs/audits/raw/testquick.pS3.before.txt
  docs/audits/raw/typecheck.pS3.before.txt
  server/src/ai/functions/realtime-menu-tools.test.ts
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/middleware/authRateLimiter.ts
  server/src/middleware/errorHandler.ts
  server/src/middleware/metrics.ts
  server/src/middleware/security.ts
  server/src/routes/__tests__/payments.test.ts
  server/src/routes/auth.routes.ts
  server/src/server.ts
  server/src/services/ai.service.ts
  server/src/services/menu.service.ts
  shared/types/transformers.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(eslint): reduce errors from 172 to 27 (no runtime changes)
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/components/auth/UserMenu.tsx
  client/src/contexts/AuthContext.tsx
  client/src/contexts/UnifiedCartContext.tsx
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/hooks/useTableGrouping.ts
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/ExpoConsolidated.tsx
  client/src/pages/ExpoPage.tsx
  client/src/pages/ExpoPageDebug.tsx
  client/src/pages/ExpoPageOptimized.tsx
  client/src/pages/HomePage.tsx
  client/src/pages/KitchenDisplayMinimal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(ts/server): slice 4 - fix unused variable errors (TS6133)
  docs/audits/phase3-progress.md
  docs/audits/raw/skips.inventory.txt
  docs/audits/raw/ts-offenders.pS4.txt
  docs/audits/raw/typecheck.pS4.before.txt
  docs/audits/test-skip-inventory.md
  server/src/ai/functions/realtime-menu-tools.test.ts
  server/src/routes/__tests__/orders.rctx.test.ts
  server/src/routes/__tests__/payments.test.ts
  server/src/routes/__tests__/security.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(ts/server): slice 4 - reduce errors from 158 to 123 (no runtime change)
  server/src/middleware/__tests__/auth.test.ts
  server/src/middleware/__tests__/restaurantAccess.test.ts
  server/src/routes/__tests__/orders.rctx.test.ts
  server/src/routes/__tests__/payments.test.ts
  server/src/routes/__tests__/rctx-comprehensive.test.ts
  shared/utils/memory-monitoring.ts
  shared/utils/websocket-pool.browser.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(ts): slice 5 - reduce TS errors 158→97 (below 100 target)
  server/src/ai/functions/realtime-menu-tools.test.ts
  server/src/middleware/errorHandler.ts
  server/src/middleware/security.ts
  server/src/routes/ai.routes.ts
  server/src/routes/health.routes.ts
  server/src/routes/orders.routes.ts
  server/src/routes/payments.routes.ts
  server/src/routes/realtime.routes.ts
  server/src/routes/security.routes.ts
  server/src/routes/tables.routes.ts
  server/src/routes/terminal.routes.ts
  server/src/voice/debug-dashboard.ts
  server/src/voice/openai-adapter.ts
  server/src/voice/twilio-bridge.ts
  server/src/voice/voice-routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(eslint): eliminate all 10 errors → 0 (no runtime change)
  server/fix-index-signatures.js
  server/src/middleware/requestSanitizer.ts
  server/src/middleware/security.ts
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

test(csrf): re-enable CSRF test batch with deterministic helpers
  server/tests/security/csrf.proof.test.ts
  tests/utils/csrf.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(ts): critical type blockers for CI gates (159→146 errors)
  docs/audits/phase3-progress.md
  fix-eslint-errors.js
  server/src/voice/voice-routes.ts
  server/src/voice/websocket-server.test.ts
  server/src/voice/websocket-server.ts
  shared/monitoring/error-tracker.ts
  shared/monitoring/performance-monitor.ts
  shared/types/transformers.ts
  shared/types/validation.ts
  shared/utils/error-handling.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(ts): achieve 0 TypeScript errors
  fix-all-ts-errors.cjs
  server/src/routes/__tests__/orders.rctx.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(ts): complete TypeScript error fixes in shared workspace (no runtime change)
  shared/monitoring/performance-monitor.ts
  shared/types/transformers.ts
  shared/types/validation.ts
  shared/utils/cleanup-manager.ts
  shared/utils/error-handling.ts
  shared/utils/memory-monitoring.ts
  shared/utils/performance-hooks.ts
  shared/utils/react-performance.ts
  shared/utils/websocket-pool.browser.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(ts): critical type blockers for CI gates (159→146 errors) (#76)
  docs/audits/phase3-progress.md
  fix-eslint-errors.js
  server/src/voice/voice-routes.ts
  server/src/voice/websocket-server.test.ts
  server/src/voice/websocket-server.ts
  shared/monitoring/error-tracker.ts
  shared/monitoring/performance-monitor.ts
  shared/types/transformers.ts
  shared/types/validation.ts
  shared/utils/error-handling.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(ts): final sweep to achieve TS=0 in shared workspace (no runtime change) (#77)
  docs/audits/phase4-complete.md
  docs/audits/raw/build-client.p4.baseline.txt
  docs/audits/raw/build-server.p4.baseline.txt
  docs/audits/raw/lint.p4.baseline.txt
  docs/audits/raw/testquick.p4.baseline.txt
  docs/audits/raw/typecheck.p4.baseline.txt
  fix-all-ts-errors.cjs
  scripts/forbidden-patterns.mjs
  server/src/routes/__tests__/orders.rctx.test.ts
  shared/monitoring/performance-monitor.ts
  shared/types/transformers.ts
  shared/utils/cleanup-manager.ts
  shared/utils/error-handling.ts
  shared/utils/memory-monitoring.ts
  shared/utils/performance-hooks.ts
  shared/utils/react-performance.ts
  shared/utils/websocket-pool.browser.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests
