Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs: guarded merge (partial) kds path corrections and diagnostics
  docs/DEPLOYMENT.md
  docs/KDS-BIBLE.md
  docs/PRODUCTION_DIAGNOSTICS.md
  docs/README.md
  docs/archive/moved/2025-10-15_KDS-BIBLE.md
  docs/archive/moved/2025-10-15_PRODUCTION_DIAGNOSTICS.md
  docs/index.md
Due: prettier --write

docs: guarded merge (pass) verified content into deployment.md
  DEPLOYMENT.md
  TESTING_CHECKLIST.md
  docs/CONTRIBUTING.md
Due: prettier --write

docs: normalize auth migration anchor and add backward-compat alias
  DEPLOYMENT.md
Due: prettier --write

docs: investigations sync — 3 critical fixes applied
  docs/archive/moved/2025-10-15_WEBSOCKET_EVENTS.md
  reports/docs_claims_map.json
  reports/docs_guarded_merge_evidence.md
Due: prettier --write

docs: guarded merge remaining stragglers (security/auth/roadmap)
  docs/AGENTS.md
  docs/AUTHENTICATION_ARCHITECTURE.md
  docs/MENU_SYSTEM.md
  docs/ORDER_FLOW.md
  docs/PRODUCTION_STATUS.md
  docs/ROADMAP.md
  docs/SECURITY.md
  docs/archive/moved/2025-10-15_AGENTS.md
  docs/archive/moved/2025-10-15_ARCHITECTURE.md
  docs/archive/moved/2025-10-15_DOCUMENTATION_STANDARDS.md
  docs/archive/moved/2025-10-15_MENU_SYSTEM.md
  docs/archive/moved/2025-10-15_ORDER_FLOW.md
  docs/archive/moved/2025-10-15_voice_VOICE_ORDERING_EXPLAINED.md
  docs/voice/VOICE_ORDERING_EXPLAINED.md
  reports/docs_critical_fixes.md
Due: prettier --write

docs: normalize authentication migration anchor; add alias
  docs/DEPLOYMENT.md
Due: prettier --write

ci(docs): add guardrails to docs:check and workflow
  .github/workflows/docs-check.yml
  scripts/docs-check.js
Due: prettier --write

ci(docs): guardrails hotfix v1 — stub/orphan/grep refinements
  reports/guardrails_hotfix_result.md
  scripts/docs-check.js
Due: prettier --write

docs: anchor auto-heal — aliases + link corrections
  docs/AUTHENTICATION_ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/SECURITY.md
  reports/anchor_autoheal_map.md
  scripts/docs-check.js
Due: prettier --write

docs: orphan triage — index 24 canonical docs in 7 sections
  index.md
  reports/orphan_triage_result.md
Due: prettier --write

ci(docs): nightly reality auditor v3
  .github/workflows/reality-audit.yml
  reports/docs_revalidate_summary.md
  reports/reality_auditor_v3_setup.md
  reports/reality_greps_evidence.md
  reports/staging_smoke_summary.md
  scripts/reality-audit.sh
Due: prettier --write

docs: archive legacy duplicates; stubs + index hygiene
  ARCHITECTURE.md
  AUTHENTICATION_ARCHITECTURE.md
  CHANGELOG.md
  DEPLOYMENT.md
  ENVIRONMENT.md
  GETTING_STARTED.md
  KDS_ORDER_FLOW.md
  KITCHEN_DISPLAY_UPGRADE.md
  KITCHEN_FIX_SUMMARY.md
  PRODUCTION_STATUS.md
  ROADMAP.md
  SECURITY.md
  TROUBLESHOOTING.md
  VERSION.md
  client/src/modules/kitchen/PERFORMANCE-FIX.md
  docs/archive/incidents/2025-10-15_KDS_ORDER_FLOW.md
  docs/archive/incidents/2025-10-15_KITCHEN_DISPLAY_UPGRADE.md
  docs/archive/incidents/2025-10-15_KITCHEN_FIX_SUMMARY.md
  docs/archive/incidents/2025-10-15_PERFORMANCE-FIX.md
  docs/archive/legacy-root/2025-10-15_ARCHITECTURE.md
  docs/archive/legacy-root/2025-10-15_AUTHENTICATION_ARCHITECTURE.md
  docs/archive/legacy-root/2025-10-15_CHANGELOG.md
  docs/archive/legacy-root/2025-10-15_DEPLOYMENT.md
  docs/archive/legacy-root/2025-10-15_ENVIRONMENT.md
  docs/archive/legacy-root/2025-10-15_GETTING_STARTED.md
  docs/archive/legacy-root/2025-10-15_PRODUCTION_STATUS.md
  docs/archive/legacy-root/2025-10-15_ROADMAP.md
  docs/archive/legacy-root/2025-10-15_SECURITY.md
  docs/archive/legacy-root/2025-10-15_TROUBLESHOOTING.md
  docs/archive/legacy-root/2025-10-15_VERSION.md
  docs/archive/legacy-root/2025-10-15_env_presence.md
  server/src/routes/docs/reports/overnight/env_presence.md
Due: prettier --write

docs: fix stubs with canonical anchors (docs:check green)
  ARCHITECTURE.md
  AUTHENTICATION_ARCHITECTURE.md
  CHANGELOG.md
  DEPLOYMENT.md
  ENVIRONMENT.md
  GETTING_STARTED.md
  KDS_ORDER_FLOW.md
  KITCHEN_DISPLAY_UPGRADE.md
  KITCHEN_FIX_SUMMARY.md
  PRODUCTION_STATUS.md
  ROADMAP.md
  SECURITY.md
  TESTING_CHECKLIST.md
  TROUBLESHOOTING.md
  VERSION.md
  client/src/modules/kitchen/PERFORMANCE-FIX.md
  docs/SECURITY.md
  docs/archive/legacy-root/2025-10-15_docs_README.md
  docs/archive/legacy-root/2025-10-15_docs_index.md
  reports/legacy/env_presence.md
  reports/orphan_archive_plan.md
  scripts/docs-check.js
Due: prettier --write

ci(docs): add docs ci and gate heavy jobs for docs-only changes
  .github/workflows/docs-ci.yml
Due: none

fix(docs): exempt standard root files and module docs from orphan check
  scripts/docs-check.js
Due: prettier --write

fix(ci): use npm instead of pnpm for docs-ci workflow
  .github/workflows/docs-ci.yml
Due: none

fix(ci): add paths-ignore to skip docs-only changes in heavy workflows
  .github/workflows/frontend-ci.yml
  .github/workflows/lighthouse-performance.yml
Due: none

fix(ci): gate heavy workflows and fix docs-check for docs-only prs
  .github/workflows/docs-check.yml
  .github/workflows/gates.yml
  .github/workflows/quick-tests.yml
  .github/workflows/security.yml
  .github/workflows/vercel-guard.yml
Due: none

docs: archive legacy duplicates (v6.0.8)
  ARCHITECTURE.md
  AUTHENTICATION_ARCHITECTURE.md
  CHANGELOG.md
  DEPLOYMENT.md
  ENVIRONMENT.md
  GETTING_STARTED.md
  KDS_ORDER_FLOW.md
  KITCHEN_DISPLAY_UPGRADE.md
  KITCHEN_FIX_SUMMARY.md
  PRODUCTION_STATUS.md
  ROADMAP.md
  SECURITY.md
  TESTING_CHECKLIST.md
  TROUBLESHOOTING.md
  VERSION.md
  client/src/modules/kitchen/PERFORMANCE-FIX.md
  docs/SECURITY.md
  docs/archive/incidents/2025-10-15_KDS_ORDER_FLOW.md
  docs/archive/incidents/2025-10-15_KITCHEN_DISPLAY_UPGRADE.md
  docs/archive/incidents/2025-10-15_KITCHEN_FIX_SUMMARY.md
  docs/archive/incidents/2025-10-15_PERFORMANCE-FIX.md
  docs/archive/legacy-root/2025-10-15_ARCHITECTURE.md
  docs/archive/legacy-root/2025-10-15_AUTHENTICATION_ARCHITECTURE.md
  docs/archive/legacy-root/2025-10-15_CHANGELOG.md
  docs/archive/legacy-root/2025-10-15_DEPLOYMENT.md
  docs/archive/legacy-root/2025-10-15_ENVIRONMENT.md
  docs/archive/legacy-root/2025-10-15_GETTING_STARTED.md
  docs/archive/legacy-root/2025-10-15_PRODUCTION_STATUS.md
  docs/archive/legacy-root/2025-10-15_ROADMAP.md
  docs/archive/legacy-root/2025-10-15_SECURITY.md
  docs/archive/legacy-root/2025-10-15_TROUBLESHOOTING.md
  docs/archive/legacy-root/2025-10-15_VERSION.md
  docs/archive/legacy-root/2025-10-15_docs_README.md
  docs/archive/legacy-root/2025-10-15_docs_index.md
  docs/archive/legacy-root/2025-10-15_env_presence.md
  reports/legacy/env_presence.md
  reports/orphan_archive_plan.md
  scripts/docs-check.js
Due: prettier --write

chore(release): bump version to 6.0.8
  docs/CHANGELOG.md
  docs/VERSION.md
  package.json
Due: prettier --write

docs(release): add v6.0.8 release summary report
  reports/release_v6.0.8_summary.md
Due: prettier --write

docs(badges): add docs ci badges to readme and docs index
  README.md
  index.md
  reports/docs_postrelease_check.txt
Due: prettier --write

ci(docs): short-circuit heavy workflows on docs-only prs
  .github/workflows/frontend-ci.yml
  .github/workflows/gates.yml
  .github/workflows/lighthouse-performance.yml
  .github/workflows/playwright-smoke.yml
  .github/workflows/quick-tests.yml
  .github/workflows/security.yml
  .github/workflows/vercel-guard.yml
Due: none

fix(voice): fix server voice ordering - items now parse correctly
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/components/VoiceOrderModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
