Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat: comprehensive production readiness improvements
  PRODUCTION_DEPLOYMENT_STATUS.md
  PRODUCTION_READY_SUMMARY.md
  SECURITY_AUDIT_REPORT.md
  aug29audit.md
  client/src/modules/order-system/context/CartContext.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/pages/KioskPage.tsx
  client/src/services/menu/MenuService.ts
  client/src/services/websocket/WebSocketService.test.ts
  client/src/services/websocket/WebSocketServiceV2.ts
  client/vite.config.ts
  code-analysis.json
  code-analysis.md
  diagnose-frontend.html
  docs/AUTH_ROADMAP.md
  package-lock.json
  package.json
  server/package.json
  server/scripts/add-performance-indexes-safe.sql
  server/scripts/add-performance-indexes.sql
  server/scripts/create-indexes-for-actual-schema.sql
  server/scripts/create-indexes-via-supabase.js
  server/scripts/discover-schema-and-index.sql
  server/scripts/generated-indexes.sql
  server/scripts/inspect-schema.js
  server/scripts/seed-basic-restaurant.ts
  server/scripts/seed-minimal-restaurant.ts
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/ai/voice/EnhancedOpenAIAdapter.ts
  server/src/middleware/auth.ts
  server/src/middleware/csrf.ts
  server/src/routes/payments.routes.ts
  server/src/routes/restaurants.routes.ts
  server/src/server.ts
  server/src/services/orderStateMachine.ts
  server/src/services/payment.service.ts
  simulate-frontend.js
  test-frontend-api.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: eliminate all ESLint errors and update documentation
  CLAUDE.md
  NEXT_STEPS_SUMMARY.md
  README.md
  ROADMAP.md
  client/src/api/normalize.ts
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/components/shared/OptimizedImage.tsx
  client/src/components/shared/errors/ErrorBoundary.tsx
  client/src/components/shared/lists/VirtualizedOrderList.tsx
  client/src/contexts/UnifiedCartContext.tsx
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/hooks/useOfflineQueue.ts
  client/src/hooks/useSquareTerminal.ts
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/modules/voice/services/VoiceCheckoutOrchestrator.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/services/types/index.ts
  client/src/services/utils/EventEmitter.ts
  client/src/types/unified-order.ts
  docs/README.md
  docs/SYSTEM_ARCHITECTURE.md
  eslint.config.js
  server/src/voice/types.ts
  shared/monitoring/error-tracker.ts
  shared/runtime.ts
  shared/utils/error-handling.ts
  shared/utils/memory-monitoring.ts
  shared/utils/performance-hooks.ts
  shared/utils/react-performance.ts
  shared/utils/websocket-pool.browser.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: resolve TypeScript errors and standardize naming conventions
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/hooks/kiosk/useKioskOrderSubmission.ts
  client/src/modules/voice/components/RealtimeTranscription.tsx
  client/src/modules/voice/services/VoiceCheckoutOrchestrator.ts
  client/src/services/mockData.ts
  client/src/types/unified-order.ts
  shared/index.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: comprehensive documentation overhaul for v6.0.2
  CHANGELOG.md
  DOCUMENTATION_ACCURACY_AUDIT.md
  README.md
  SECURITY.md
  docs/01-architecture/README.md
  docs/02-api/README.md
Due: prettier --write

fix: reduce ESLint warnings from 573 to 549
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/order-system/components/MenuItemCard.tsx
  client/src/modules/order-system/components/MenuSearch.tsx
  client/src/modules/orders/hooks/useOrderData.ts
  client/src/modules/orders/hooks/useOrderSubscription.ts
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/modules/voice/services/VoiceOrderProcessor.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  shared/utils/error-handling.ts
  shared/utils/memory-monitoring.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: resolve React hooks dependency warnings
  client/src/hooks/kiosk/useOrderSubmission.ts
  client/src/hooks/useSquareTerminal.ts
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/order-system/components/SquarePaymentForm.tsx
  client/src/modules/order-system/components/TipSlider.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/pages/AdminDashboard.tsx
  shared/utils/performance-hooks.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor: improve TypeScript type safety
  client/src/core/api/unifiedApiClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(auth): implement complete authentication & RBAC system
  ROADMAP.md
  client/src/App.tsx
  client/src/components/auth/ProtectedRoute.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/contexts/AuthContext.tsx
  client/src/pages/Login.tsx
  client/src/pages/PinLogin.tsx
  client/src/pages/StationLogin.tsx
  docs/ADR/ADR-001-authentication.md
  server/src/middleware/rbac.ts
  server/src/routes/auth.routes.ts
  server/src/services/auth/pinAuth.ts
  server/src/services/auth/stationAuth.ts
  supabase/migrations/20250130_auth_tables.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(docs): sync documentation to reflect completed auth/RBAC milestone
  .husky/pre-commit
  CHANGELOG.md
  CLAUDE.md
  PRODUCTION_DEPLOYMENT_STATUS.md
  ROADMAP.md
  SECURITY.md
  client/src/components/errors/GlobalErrorBoundary.tsx
  client/src/modules/voice/components/VoiceDebugPanel.tsx
  client/src/modules/voice/services/VoiceCheckoutOrchestrator.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/services/http/httpClient.ts
  client/src/services/monitoring/performance.ts
  docs/AUTHENTICATION_STRATEGY.md
  docs/AUTH_ROADMAP.md
  docs/PAYMENTS_STRATEGY.md
  eslint.config.js
  package-lock.json
  package.json
  server/src/config/environment.ts
  server/src/utils/env.ts
  shared/monitoring/error-tracker.ts
  shared/types/api.types.ts
  shared/types/websocket.types.ts
  shared/utils/cleanup-manager.ts
  shared/utils/memory-monitoring.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(payments): implement production-ready payment processing with RBAC
  docs/PAYMENTS_STRATEGY.md
  scripts/load-test/order-flow-test.ts
  scripts/load-test/payment-load-test.ts
  scripts/load-test/run-tests.sh
  server/src/routes/payments.routes.ts
  server/src/services/payment.service.ts
  supabase/migrations/20250201_payment_audit_logs.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

test: add auth and payment test suites with bootstrap fix
  reports/BLACKLIGHT-changemap.md
  reports/BLACKLIGHT-e2e-audit.md
  server/src/middleware/__tests__/auth.test.ts
  server/src/routes/__tests__/payments.test.ts
  server/tests/bootstrap.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(types): eliminate TypeScript errors in critical auth/payment paths
  code-analysis.json
  code-analysis.md
  package-lock.json
  package.json
  reports/TS-BURNDOWN.md
  server/package.json
  server/src/middleware/auth.ts
  server/src/middleware/rbac.ts
  server/src/routes/payments.routes.ts
  server/src/services/auth/pinAuth.ts
  server/src/services/auth/stationAuth.ts
  server/src/services/payment.service.ts
  tools/check-ts-freeze.js
  tools/ts-error-allowlist.json
  typecheck-output.txt
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: update TS-BURNDOWN report after PR A completion
  reports/TS-BURNDOWN.md
Due: prettier --write

docs: comprehensive documentation audit and cleanup
  NEXT_STEPS_SUMMARY.md
  README.md
  docs/archive/completed-features/AUTHENTICATION_STRATEGY_COMPLETED.md
  docs/archive/completed-features/AUTH_ROADMAP_COMPLETED.md
  reports/TS-BURNDOWN.md
Due: prettier --write

fix: runtime hotfix - install bcryptjs and fix AI TypeScript errors
  package-lock.json
  server/package.json
  server/src/ai/adapters/openai/openai-chat.ts
  server/src/ai/adapters/openai/openai-order-nlp.ts
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/services/auth/pinAuth.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: resolve CI gate failures for runtime hotfix
  client/src/services/monitoring/performance.ts
  eslint.config.js
  package.json
  scripts/smoke.mjs
  server/src/routes/__tests__/payments.test.ts
  server/src/server.ts
  server/tsconfig.prod.json
  shared/monitoring/performance-monitor.ts
  shared/src/voice-types.js
  shared/types/customer.types.js
  shared/types/events.types.js
  shared/types/index.js
  shared/types/menu.types.js
  shared/types/order.types.js
  shared/types/orders.js
  shared/types/table.types.js
  shared/types/transformers.js
  shared/types/validation.js
  shared/types/websocket.types.js
  shared/utils/cleanup-manager.js
  shared/utils/index.js
  shared/utils/memory-monitoring.js
  tools/check-ts-freeze.mjs
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

sec: patch express family vulnerabilities
  package-lock.json
  server/package.json
Due: prettier --write

chore: dependency cleanup and organization
  package-lock.json
  server/package.json
Due: prettier --write

chore: quality improvements - boundary-first typing
  server/src/ai/functions/realtime-menu-tools.test.ts
  server/src/ai/functions/realtime-menu-tools.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: update documentation after overnight operations
  CHANGELOG.md
  PRODUCTION_DEPLOYMENT_STATUS.md
  ROADMAP.md
  SECURITY.md
  reports/LINT-BURNDOWN.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
