Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

refactor(auth): canonical role enum + rbac alignment
  server/src/middleware/rbac.ts
  server/src/routes/orders.routes.ts
  shared/types/auth.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(orders): enforce dto + scope + context
  server/src/dto/order.dto.ts
  server/src/routes/orders.routes.ts
  server/src/services/idempotency.service.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(client): correct order payload + voice idempotency
  client/src/hooks/kiosk/useKioskOrderSubmission.ts
  client/src/hooks/kiosk/useOrderSubmission.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

test(e2e): role matrix + voice idempotency
  .github/workflows/auth-tests.yml
  server/src/tests/auth.integration.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: update auth tiers, api, adr; feat(telemetry): add structured logging
  CHANGELOG.md
  docs/ADR/ADR-007-unified-auth-normalization.md
  docs/TROUBLESHOOTING.md
Due: prettier --write

chore: feature flag authV2; enable in dev
  scripts/enable-authv2.mjs
  server/src/config/features.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

P0: Enforce explicit restaurant context for staff writes
  CRITICAL_AUDIT_FINDINGS.md
  PRODUCTION_VERIFICATION_REPORT.md
  scripts/check-rls-status.cjs
  scripts/verify-tenancy-and-cache.cjs
  server/src/middleware/auth.ts
  server/src/routes/orders.routes.ts
  server/tests/integration/tenancy.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(auth): enforce staff membership check in validateRestaurantAccess
  scripts/verify-tenancy-and-cache.cjs
  server/src/middleware/auth.ts
  server/src/routes/payments.routes.ts
  server/src/routes/table-payment.routes.ts
  server/src/routes/terminal.routes.ts
  server/tests/bootstrap.ts
  server/tests/guards/routes.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(auth): use 403 for staff membership denial in validateRestaurantAccess
  .github/workflows/ci-auth-orders.yml
  .husky/pre-commit
  package.json
  server/src/middleware/auth.ts
  server/src/middleware/restaurantAccess.ts
  server/tests/middleware/validateRestaurantAccess.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: add RCTX rollout plan and post-merge checklist
  docs/RCTX_POST_MERGE_CHECKLIST.md
  docs/RCTX_ROLLOUT.md
Due: prettier --write

fix(ai): guard/correct args references in realtime-menu-tools to prevent runtime crash
  reports/eslint-server.txt
  reports/test-realtime-tools.txt
  reports/ts-errors-server.txt
  scripts/check-rls-status.cjs
  scripts/verify-tenancy-and-cache.cjs
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/ai/functions/tests/realtime-menu-tools.spec.ts
  server/tests/bootstrap.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

chore(sec): bump axios to resolve HIGH DoS per audit
  package-lock.json
  server/reports/npm-audit-after-axios.txt
Due: prettier --write

test(auth): rctx middleware 400/403 + route guard coverage
  reports/test-rctx.txt
  reports/test-validateRestaurantAccess.txt
  server/tests/bootstrap.ts
  server/tests/guards/routes.spec.ts
  server/tests/middleware/validateRestaurantAccess.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

docs: comprehensive v6.0.4 documentation update for production readiness
  CHANGELOG_v6.0.4.md
  CLAUDE.md
  README.md
  docs/ENVIRONMENT_VARIABLES_GUIDE.md
  docs/MIGRATION_GUIDE_v6.0.4.md
  docs/OPERATIONAL_RUNBOOK.md
  docs/PRODUCTION_DEPLOYMENT_CHECKLIST.md
  docs/v6.0.4_RELEASE_SUMMARY.md
  reports/RCTX_STABILIZATION_SUMMARY.md
  reports/rls-status-verified.txt
  reports/rls-status.txt
  reports/supabase-schema.sql
  reports/tenancy-staging.txt
  reports/tenancy-verifier-result.json
  server/reports/rls-status.txt
Due: prettier --write

fix(security): critical security vulnerabilities patched - v6.0.5
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/PRODUCTION_SPRINT_PLAN.md
  docs/SECURITY_FIXES_v6.0.5.md
  eslint-analysis.txt
  package-lock.json
  server/package.json
  server/src/middleware/auth.ts
  server/src/routes/__tests__/orders.rctx.test.ts
  server/src/routes/__tests__/rctx-comprehensive.test.ts
  server/src/server.ts
  server/src/voice/debug-dashboard.ts
  typecheck-analysis.txt
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: Update documentation for v6.0.6 release
  CHANGELOG.md
  docs/PRODUCTION_SPRINT_PLAN.md
Due: prettier --write

feat(config): implement centralized configuration service (v6.0.6)
  CLAUDE.md
  README.md
  client/src/config/index.ts
  client/src/core/api/unifiedApiClient.ts
  client/src/modules/voice/components/VoiceDebugPanel.tsx
  client/src/services/http/httpClient.ts
  client/src/services/websocket/WebSocketService.ts
  client/src/services/websocket/WebSocketServiceV2.ts
  docs/ENVIRONMENT_VARIABLES.md
  server/src/config/environment.ts
  server/src/server.ts
  shared/config/index.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(security): implement Phase 2 security hardening (v6.0.6)
  docs/JWT_AUTHENTICATION_FLOW.md
  docs/SECURITY_AUDIT_v6.0.6.md
  package-lock.json
  package.json
  server/src/config/environment.ts
  server/src/middleware/authRateLimiter.ts
  server/src/middleware/requestSanitizer.ts
  server/src/routes/auth.routes.ts
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(auth): add development bypass for restaurant membership check
  ARCHITECTURE.md
  ROADMAP.md
  artifacts/aa-20250113-final/PRODUCTION_READINESS_FINAL.md
  docs/CHANGELOG.md
  docs/CURRENT_STATUS.md
  docs/DEPLOYMENT_GUIDE.md
  docs/MULTI_AGENT_AUDIT_REPORT.md
  docs/PRODUCTION_ROADMAP.md
  docs/ROUGH_AGENT_OUTLINE.md
  docs/TECH_DEBT_REALITY.md
  docs/TEST_SUITE_STATUS.md
  docs/VOICE_AGENT_ACTUAL_STATUS.md
  docs/VOICE_AGENT_IMPLEMENTATION_STATUS.md
  docs/VOICE_AGENT_MASTER_PLAN.md
  docs/VOICE_AGENT_TECHNICAL_ANALYSIS.md
  scripts/fix-restaurant-membership.js
  scripts/fix-restaurant-membership.sql
  server/src/middleware/auth-dev-fix.ts
  server/src/middleware/auth.ts
  server/src/services/auth/AuthenticationService.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(server): enforce server-side voice mode + payment gate on order submit
  server/src/middleware/orderMode.ts
  server/src/middleware/paymentGate.ts
  server/src/routes/orders.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

test(server): add minimal order-mode/payment-gate tests
  server/tests/orderMode.customer.requiresPayment.test.ts
  server/tests/orderMode.employee.happyPath.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

chore(ci): add docs CI and pre-commit verification for active docs
  .github/workflows/docs-ci.yml
  .husky/pre-commit
Due: none

docs(audit): add reality audit pack (matrix, endpoints, fields, states, inventory)
  docs/reality-audit/2025-01-15/01_reality_matrix.md
  docs/reality-audit/2025-01-15/02_claims_vs_code.csv
  docs/reality-audit/2025-01-15/03_endpoints.csv
  docs/reality-audit/2025-01-15/04_fields_map.csv
  docs/reality-audit/2025-01-15/05_states.json
  docs/reality-audit/2025-01-15/06_root_docs_inventory.csv
  docs/reality-audit/2025-01-15/07_findings.md
  docs/reality-audit/2025-01-15/08_patch_plan.md
  docs/reality-audit/2025-01-15/09_evidence_snippets.md
Due: prettier --write

feat: implement payment integration for customer voice orders
  client/src/components/layout/AppRoutes.tsx
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/config/fall-menu-agent.ts
  client/src/modules/voice/config/voice-agent-modes.ts
  client/src/modules/voice/hooks/useVoiceMenuIntegration.ts
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/modules/voice/payments/VoicePaymentStrategy.ts
  client/src/modules/voice/services/ConversationStateMachine.ts
  client/src/modules/voice/services/MenuContextManager.ts
  client/src/modules/voice/services/VoiceAgentModeDetector.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/modules/voice/services/WebRTCVoiceClientEnhanced.ts
  client/src/modules/voice/services/orderIntegration.ts
  client/src/pages/CheckoutPage.tsx
  client/src/pages/VoiceAgentTest.tsx
  client/src/services/orders/OrderService.ts
  client/src/services/realtime/orderSubscription.ts
  docs/ACTUAL_DEPLOYMENT.md
  docs/BASELINE_REALITY.md
  docs/CRITICAL_WARNINGS.md
  docs/ORDER_FLOW.md
  docs/VOICE_SYSTEM_CURRENT.md
  docs/archive/2025-01-15-lockdown/ARCHITECTURE.md
  docs/archive/2025-01-15-lockdown/CRITICAL_AUDIT_FINDINGS.md
  docs/archive/2025-01-15-lockdown/FALL_MENU_IMPLEMENTATION.md
  docs/archive/2025-01-15-lockdown/GO_LIVE_STEPS.md
  docs/archive/2025-01-15-lockdown/ORDER_SUBMISSION_FAILURE_ANALYSIS.md
  docs/archive/2025-01-15-lockdown/PRODUCTION_VERIFICATION_REPORT.md
  docs/archive/2025-01-15-lockdown/PROJECT_STRUCTURE.md
  docs/archive/2025-01-15-lockdown/ROADMAP.md
  scripts/seed-fall-menu.ts
  server/src/dto/order.dto.ts
  server/src/payments/square.adapter.ts
  server/src/routes/payments.routes.ts
  server/src/services/menu-ai-sync.service.ts
  server/src/services/menu.service.ts
  server/tests/payment-gate-verification.js
  server/tests/payments.intent.status.test.ts
  server/tests/voice-payment-integration.test.js
  server/tests/voice.customer.requiresToken.e2e.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(payments): implement comprehensive payment hardening
  docs/ORDER_FLOW.md
  docs/VOICE_SYSTEM_CURRENT.md
  package.json
  server/migrations/20250115_payment_intents.sql
  server/scripts/reconcile-payments.ts
  server/src/middleware/idempotency.ts
  server/src/middleware/paymentGate.ts
  server/src/middleware/webhookSignature.ts
  server/src/payments/square.adapter.ts
  server/src/routes/index.ts
  server/src/routes/orders.routes.ts
  server/src/routes/webhooks.routes.ts
  server/tests/orders.idempotency.test.ts
  server/tests/orders.token-replay.test.ts
  server/tests/payments.persistence.test.ts
  server/tests/webhook.signature.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(voice): remove Node require from browser path; switch to ESM/dynamic import
  client/src/modules/voice/config/voice-agent-modes.ts
  client/src/modules/voice/services/RealtimeGuards.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  server/src/utils/supabase.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

test(voice): add realtimeGuards unit tests + no-require-in-client check
  client/src/modules/voice/__tests__/buildSafety.test.ts
  client/src/modules/voice/__tests__/realtimeGuards.test.ts
  docs/BASELINE_REALITY.md
  docs/VOICE_SYSTEM_CURRENT.md
  docs/buglogs/voice-require/rca.md
  docs/buglogs/voice-require/repro.md
  docs/buglogs/voice-require/telemetry-summary.md
  docs/buglogs/voice-require/verify.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(voice): document event whitelist & browser ESM constraints; stamp metadata
  client/src/modules/voice/services/RealtimeGuards.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): add SessionConfigNormalizer and clamp session params per provider limits
  PAYMENT_HARDENING_REPORT.md
  client/src/modules/voice/config/voice-agent-modes.ts
  client/src/modules/voice/services/SessionConfigNormalizer.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  docs/buglogs/voice-session-config/20250915/rca.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

test(voice): add SessionConfigNormalizer unit tests
  client/src/modules/voice/services/__tests__/SessionConfigNormalizer.test.ts
  docs/buglogs/voice-session-config/20250915/verify/manual-test-log.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests
