Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

fix: add UnifiedCartProvider wrapper to MenuGrid in touch mode
  client/src/pages/components/VoiceOrderModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

perf: phase 1 quick wins - memory optimization and dead code removal
  client/src/api/normalize.ts
  client/src/core/api/unifiedApiClient.ts
  client/src/modules/voice/services/WebRTCConnection.ts
  client/src/services/cache/ResponseCache.ts
  client/src/services/http/RequestBatcher.ts
  package-lock.json
  server/package.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(ci): enhance migration validation with rpc checks and integration tests
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/migration-integration.yml
  .github/workflows/pr-validation.yml
  .husky/pre-commit
  supabase/migrations/.template.sql
Due: prettier --write

refactor(types): consolidate type system to single source of truth
  client/src/components/shared/badges/index.tsx
  client/src/components/shared/filters/SortControl.tsx
  client/src/components/shared/lists/OrderItemRow.tsx
  client/src/hooks/useOrderFilters.ts
  client/src/modules/filters/components/FilterBar.tsx
  client/src/modules/filters/components/StatusFilter.tsx
  client/src/modules/filters/hooks/useOrderFilters.ts
  client/src/modules/filters/types/filter.types.ts
  client/src/modules/kitchen/components/StationFilter.tsx
  client/src/modules/orders/hooks/__tests__/useOrderData.test.ts
  client/src/modules/orders/hooks/useOrderData.ts
  client/src/pages/components/PostOrderPrompt.tsx
  client/src/pages/components/SeatSelectionModal.tsx
  client/src/pages/components/ServerHeader.tsx
  client/src/pages/components/VoiceOrderModal.tsx
  client/src/services/stationRouting.ts
  client/src/types/common.ts
  client/src/types/filters.ts
  client/src/types/restaurant.ts
  client/src/types/table.ts
  client/src/types/unified-order.ts
  shared/types/filters.types.ts
  shared/types/index.ts
  shared/types/station.types.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(api): implement useHttpClient hook for Phase 2 consolidation
  ERROR_BOUNDARY_ANALYSIS_README.txt
  client/src/services/http/__tests__/hooks.test.ts
  client/src/services/http/hooks.ts
  client/src/services/http/index.ts
  docs/API_CLIENT_CONSOLIDATION_REPORT.md
  docs/API_CLIENT_SUMMARY.md
  docs/API_CONSOLIDATION_IMPLEMENTATION_TIMELINE.md
  docs/API_CONSOLIDATION_INDEX.md
  docs/ERROR_BOUNDARY_CONSOLIDATION_ANALYSIS.md
  docs/ERROR_BOUNDARY_EXECUTIVE_SUMMARY.md
  docs/ERROR_BOUNDARY_INDEX.md
  docs/ERROR_BOUNDARY_QUICK_REFERENCE.md
  index.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor(api): migrate all useapirequest consumers to usehttpclient
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/components/payments/CardPayment.tsx
  client/src/components/payments/CashPayment.tsx
  client/src/hooks/kiosk/useKioskOrderSubmission.ts
  client/src/hooks/useSquareTerminal.ts
  client/src/modules/voice/services/VoiceCheckoutOrchestrator.ts
  client/src/pages/CheckoutPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor(api): migrate api facade consumers to direct domain services
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/hooks/useOrderHistory.ts
  client/src/modules/analytics/components/OrderHistoryTable.tsx
  client/src/modules/voice/services/VoiceOrderProcessor.ts
  client/src/modules/voice/services/orderIntegration.ts
  client/src/services/stationRouting.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor(api): delete deprecated useapirequest hook
  client/src/hooks/useApiRequest.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

test(api): migrate test files from api facade to domain services
  client/src/hooks/__tests__/useKitchenOrdersRealtime.test.ts
  client/src/hooks/useOrderHistory.test.tsx
  client/src/modules/voice/services/orderIntegration.integration.test.tsx.skip
  client/src/services/stationRouting.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor(api): delete deprecated api facade
  client/src/services/api.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: resolve react hydration error #318 in server view ordering flow
  client/src/components/layout/AppRoutes.tsx
  client/src/pages/ServerView.tsx
  client/src/pages/hooks/useServerView.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: resolve react #318 hydration errors with ssr-safe patterns
  client/src/contexts/UnifiedCartContext.tsx
  client/src/modules/order-system/components/ItemDetailModal.tsx
  client/src/pages/ServerView.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: remove all non-deterministic values causing react error #418
  client/src/pages/ServerView.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: critical build failure preventing voice/touch ordering
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/modules/voice/services/WebRTCConnection.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: resolve react hydration error #318 in production
  client/src/components/shared/timers/ElapsedTimer.tsx
  client/src/pages/ServerView.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: remove nested provider causing voice/touch order failures
  client/src/pages/components/VoiceOrderModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: restore nested cart provider with unique persistkey
  client/src/pages/components/VoiceOrderModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: critical react hydration bug blocking voice and touch ordering
  client/src/pages/components/VoiceOrderModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: post-mortem analysis of react #318 hydration bug
  docs/postmortems/2025-11-10-react-318-hydration-bug.md
Due: prettier --write

feat: create claudelessons directory for future debugging reference
  claudelessons/README.md
  claudelessons/react-hydration-early-return-bug.md
Due: prettier --write

fix: resolve voice ordering state machine deadlock in waiting_user_final
  AI_AGENT_MISTAKE_ANALYSIS.md
  PERFORMANCE_REGRESSION_ANALYSIS.md
  PERFORMANCE_REGRESSION_SUMMARY.txt
  PRODUCTION_SERVERVIEW_TEST_REPORT.md
  SERVERVIEW_TEST_SUMMARY.txt
  TECHNICAL_DEBT_BLOAT_ANALYSIS.md
  claudelessons/LESSONS_SUMMARY.md
  claudelessons/README.md
  claudelessons/git-history-lessons.json
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  performance-regressions.csv
  performance-regressions.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

debug: add critical diagnostic logging to trace microphone enable failures
  client/src/modules/voice/services/WebRTCConnection.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

debug: add WebRTC stats check to verify audio transmission
  claudelessons/CLAUDE_AI_GUIDELINES.md
  claudelessons/README.md
  claudelessons/auth-multi-tenancy-security.md
  claudelessons/code-complexity-debt.md
  claudelessons/configuration-environment-errors.md
  claudelessons/database-schema-mismatches.md
  claudelessons/testing-debugging-strategies.md
  client/src/modules/voice/services/WebRTCConnection.ts
  tests/e2e/production-serverview-detailed.spec.ts
  tests/e2e/production-serverview-interaction.spec.ts
  tests/e2e/production-serverview-test.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: add comprehensive WebSocket disconnection diagnostics and preventive fixes
  WEBSOCKET_DISCONNECTION_ROOT_CAUSE_ANALYSIS.md
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/WebRTCConnection.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  server/src/routes/realtime.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix: unify cart providers to fix touch ordering cart updates
  TOUCH_ORDERING_CART_BUG_ANALYSIS.md
  client/src/pages/components/VoiceOrderModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: connect touch ordering add button to correct state system
  client/src/modules/order-system/components/MenuGrid.tsx
  client/src/modules/order-system/components/MenuItemCard.tsx
  client/src/pages/components/VoiceOrderModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): critical voice transcription race condition + defensive fallbacks
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/VoiceSessionConfig.ts
  client/src/modules/voice/services/WebRTCConnection.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): correct logger import paths - fixes broken production build
  client/src/modules/voice/services/VoiceSessionConfig.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: critical auth hang - sync restaurant id with httpclient state
  client/src/contexts/AuthContext.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: add 5s timeout to user_restaurants database query
  server/src/middleware/restaurantAccess.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(payments): implement two-phase audit logging to prevent charged-but-unrecorded scenario
  docs/investigations/P0_PAYMENT_AUDIT_ANALYSIS.md
  docs/security/CREDENTIAL_EXPOSURE_INCIDENT.md
  server/src/routes/payments.routes.ts
  server/src/services/payment.service.ts
  server/tests/services/payment-audit.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(payments): add 30-second timeout to all Square API calls
  server/src/routes/payments.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

test: add payment calculation tests + fix quantity bug (p0.6)
  server/src/services/payment.service.ts
  server/tests/services/payment-calculation.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat: enhance startup environment validation (p0.7)
  server/src/config/env.ts
  server/tests/config/env-validation.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: add stabilization initiative progress report
  docs/investigations/STABILIZATION_PROGRESS.md
Due: prettier --write

fix(memory): resolve critical memory leaks in voice server and auth rate limiter (P0.8)
  docs/investigations/P0.8_MEMORY_LEAK_COMPLETION_SUMMARY.md
  docs/investigations/P0_MEMORY_LEAK_ANALYSIS.md
  server/src/config/env.ts
  server/src/middleware/authRateLimiter.ts
  server/src/server.ts
  server/src/voice/websocket-server.ts
  server/tests/memory-leak-prevention.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: comprehensive documentation cleanup and P0.9 Phase 2B updates
  DOCUMENTATION_CLEANUP_REPORT.md
  P0.9_PHASE_2_PUNCHLIST.md
  docs/NAVIGATION.md
  docs/ROADMAP.md
  docs/archive/2025-11/analysis/PERFORMANCE_REGRESSION_ANALYSIS.md
  docs/archive/2025-11/analysis/TECHNICAL_DEBT_BLOAT_ANALYSIS.md
  docs/archive/2025-11/architecture-analysis/ARCHITECTURAL_ANALYSIS_COMPREHENSIVE.md
  docs/archive/2025-11/architecture-analysis/ARCHITECTURAL_ANALYSIS_SUMMARY.md
  docs/archive/2025-11/auth-audits/AUTH_ERROR_HANDLING_AUDIT.md
  docs/archive/2025-11/auth-audits/AUTH_PIN_STATION_SECURITY_AUDIT.md
  docs/archive/2025-11/auth-audits/AUTH_TEST_FAILURES_ROOT_CAUSE.md
  docs/archive/2025-11/auth-audits/AUTH_TOKEN_LIFECYCLE_AUDIT.md
  docs/archive/2025-11/investigations/INVESTIGATION_COMPLETE.md
  docs/archive/2025-11/investigations/ai-services/AI_SERVICES_MEMORY_LEAK_REPORT.md
  docs/archive/2025-11/investigations/ai-services/AI_SERVICES_MEMORY_LEAK_SUMMARY.md
  docs/archive/2025-11/investigations/timer-audit/TIMER_AUDIT_SUMMARY.txt
  docs/archive/2025-11/investigations/timer-audit/TIMER_MEMORY_LEAK_AUDIT.md
  docs/archive/2025-11/investigations/timer-audit/TIMER_QUICK_FIX_GUIDE.md
  docs/archive/2025-11/investigations/voice-ordering/VOICE_CART_FLOW_DIAGRAM.txt
  docs/archive/2025-11/investigations/voice-ordering/VOICE_CART_INVESTIGATION_SUMMARY.md
  docs/archive/2025-11/investigations/voice-ordering/VOICE_ORDERING_INVESTIGATION.md
  docs/archive/2025-11/investigations/voice-ordering/VOICE_TO_CART_ANALYSIS.md
  docs/archive/2025-11/investigations/websocket-audit/WEBSOCKET_MEMORY_LEAK_REPORT.md
  docs/archive/2025-11/investigations/websocket-audit/WEBSOCKET_MEMORY_LEAK_SUMMARY.md
  docs/archive/2025-11/p0.9-phase-1/P0.9_QUICK_WIN_1_AUTH_TESTS.md
  docs/archive/2025-11/p0.9-phase-1/P0.9_QUICK_WIN_2_PIN_GENERATION.md
  docs/archive/2025-11/p0.9-phase-1/P0.9_QUICK_WIN_3_ANONYMOUS_WEBSOCKET.md
  docs/archive/2025-11/p0.9-phase-2a/P0.9_PHASE_2A_COMPLETION_SUMMARY.md
  docs/investigations/STABILIZATION_PROGRESS.md
  index.md
  server/src/voice/websocket-server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs: add comprehensive handoff summary for Phase 2B deployment
  HANDOFF_SUMMARY_2025-11-11.md
Due: prettier --write

fix(tests): resolve circular dependency and fix security test suite
  server/src/utils/logger.ts
  server/tests/security/auth-security.test.ts
  server/tests/security/rbac.proof.test.ts
  server/tests/security/voice-multi-tenancy.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests
