Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(voice): resolve 404 errors, method name, and audio validation
  client/src/modules/voice/hooks/useVoiceToAudio.ts
  client/src/pages/KioskPage.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(cors): improve origin parsing and add debug logging
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

cleanup: remove unused testRealtimeEndpoint function from voice hook
  client/src/modules/voice/hooks/useVoiceToAudio.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(deploy): skip husky in production/ci environments
  package.json
Due: prettier --write

fix(deploy): remove husky prepare script entirely
  package-lock.json
  package.json
Due: prettier --write

fix(voice): use /api/v1/ai/transcribe endpoint for audio responses
  client/src/modules/voice/hooks/useVoiceToAudio.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): add audio response support to voice-chat endpoint
  client/src/modules/voice/hooks/useVoiceToAudio.ts
  server/src/routes/ai.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(voice): critical fix for TTS method calls and add test endpoints
  server/src/routes/ai.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(client): simplify audio handling and add better logging
  client/src/modules/voice/hooks/useVoiceToAudio.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add critical openai setup documentation
  CRITICAL_SETUP.md
Due: prettier --write

fix: expose real errors instead of hiding them
  server/src/ai/adapters/openai/openai-transcriber.ts
  server/src/ai/adapters/openai/openai-tts.ts
  server/src/routes/ai.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: correct openai tts response handling
  server/src/ai/adapters/openai/openai-tts.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat: connect voice orders to actual menu items
  client/src/modules/voice/components/VoiceControlWithAudio.tsx
  client/src/modules/voice/hooks/useVoiceToAudio.ts
  client/src/pages/KioskPage.tsx
  server/src/routes/ai.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat: connect AI to actual restaurant menu
  server/src/routes/ai.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat: optimize voice agent for speed and natural conversation
  server/src/routes/ai.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: CORS configuration for Vercel deployments
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix: client API base URL for production deployments
  client/src/modules/voice/hooks/useVoiceToAudio.ts
  client/src/services/auth/demoAuth.ts
  client/src/services/http/httpClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: hardcode api url in vercel build configuration
  client/vercel.json
Due: prettier --write

🚨 critical security fix: remove test-token bypass from production
  .claude/agents/strategic-analyzer.md
  debug-kiosk.sh
  monitor-server.sh
  server/src/middleware/auth.ts
  server/src/middleware/rateLimiter.ts
  test-kiosk-api.sh
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

refactor: remove double transformation layer to fix type system
  SECURITY_CRITICAL_ACTIONS.md
  client/src/modules/order-system/components/ItemDetailModal.tsx
  client/src/modules/order-system/components/MenuGrid.tsx
  client/src/modules/order-system/components/MenuItemCard.tsx
  client/src/modules/order-system/types/index.ts
  client/src/services/http/httpClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
