Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

chore(audit): verification workflow scaffolding and p0 import
  .github/ISSUE_TEMPLATE/verification.yml
  .github/PULL_REQUEST_TEMPLATE.md
  docs/audits/codebase-audit-2025-10-19.json
  docs/audits/codebase-audit-detailed-2025-10-19.json
  docs/audits/verification-map-P0.json
  scripts/verify_p0_db.sh
  scripts/verify_p0_local.sh
Due: prettier --write

chore(db): duplicate table names investigation and diagnostic tools
  DIAGNOSTIC_RESULTS_2025-10-18.md
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  docs/DATABASE.md
  docs/incidents/2025-10-18_DUPLICATE_TABLE_NAMES_INVESTIGATION.md
  scripts/check-db-schema.js
  scripts/check-rls-and-constraints.sql
  scripts/diagnose-duplicate-tables.js
  scripts/diagnose-duplicate-tables.sql
  scripts/seed-duplicate-test-data.js
  scripts/test-duplicate-fix.sql
  scripts/verify-tables-schema.js
  server/src/routes/tables.routes.ts
  supabase/migrations/20251018_fix_duplicate_table_labels.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(audit): implement 6 critical p0 fixes from security and performance audit
  client/src/components/shared/timers/ElapsedTimer.test.tsx
  client/src/components/shared/timers/ElapsedTimer.tsx
  docs/ADR-003-embedded-orders-pattern.md
  docs/CHANGELOG.md
  docs/DATABASE.md
  docs/SECURITY.md
  docs/audit/ACTION_CHECKLIST.md
  docs/audit/P0-FIX-ROADMAP.md
  docs/audit/README.md
  docs/audit/TRACKING-QUICK-REFERENCE.md
  docs/audit/codebase-audit-2025-10-19.json
  docs/audit/codebase-audit-detailed-2025-10-19.json
  scripts/verify_p0_db.sh
  scripts/verify_p0_local.sh
  server/src/api/routes/tables.ts
  server/src/routes/tables.routes.ts
  server/src/services/orders.service.ts
  server/src/services/payment.service.ts
  supabase/migrations/20251019_add_batch_update_tables_rpc.sql
  supabase/migrations/20251019_add_create_order_with_audit_rpc.sql
  supabase/migrations/20251019_add_tax_rate_to_restaurants.sql
  supabase/migrations/20251019_add_version_to_orders.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs(audit): add missing adr files for fixes #119 and #120
  docs/ADR-007-per-restaurant-configuration.md
  docs/ADR-009-error-handling-philosophy.md
Due: prettier --write

refactor(floor-plan): decompose floor plan editor god component
  client/src/modules/floor-plan/components/CanvasInstructions.tsx
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx.backup
  client/src/modules/floor-plan/components/LoadingOverlay.tsx
  client/src/modules/floor-plan/components/TableEditor.tsx
  client/src/modules/floor-plan/hooks/index.ts
  client/src/modules/floor-plan/hooks/useCanvasControls.ts
  client/src/modules/floor-plan/hooks/useFloorPlanLayout.ts
  client/src/modules/floor-plan/hooks/useTableManagement.ts
  client/src/modules/floor-plan/services/TablePersistenceService.ts
  docs/CHANGELOG.md
  docs/audit/P0-FIX-ROADMAP.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(audit): update all documentation for p0 audit completion milestone
  README.md
  client/src/pages/CheckoutPage.tsx
  client/src/pages/KioskDemo.tsx
  client/src/utils/orderStatusValidation.ts
  docs/PRODUCTION_STATUS.md
  docs/ROADMAP.md
  docs/TESTING_CHECKLIST.md
  docs/VERSION.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(ci): resolve 2-week infrastructure failures blocking all prs
  client/vite.config.ts
  docs/CI_INFRASTRUCTURE_ISSUES.md
  server/tests/security/webhook.proof.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(ci): build shared package before client in smoke tests
  .github/workflows/playwright-smoke.yml
Due: none

fix(ci): remove dead smoke test workflow blocking ci
  .github/workflows/playwright-smoke.yml
  docs/CI_INFRASTRUCTURE_ISSUES.md
Due: prettier --write

fix(ci): remove circular dependency blocking all tests
  server/src/config/environment.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(tests): add version column and restaurants mock to multi-tenancy test
  server/tests/multi-tenancy.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

docs(ci): clarify pre-existing vs fixed test failures
  docs/CI_INFRASTRUCTURE_ISSUES.md
Due: prettier --write

fix(ci): resolve 2-week infrastructure failures blocking all prs (#126)
  .github/workflows/playwright-smoke.yml
  client/vite.config.ts
  docs/CI_INFRASTRUCTURE_ISSUES.md
  server/src/config/environment.ts
  server/tests/multi-tenancy.test.ts
  server/tests/security/webhook.proof.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(migration): drop function before recreating to change return signature
  supabase/migrations/20251020221553_fix_create_order_with_audit_version.sql
Due: none

fix(tests): add version column to test mocks and fix import paths
  server/tests/security/auth-security.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(orders): complete track a fixes for order creation failures (p0)
  client/src/modules/voice/services/VoiceOrderProcessor.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  supabase/migrations/20251020221553_fix_create_order_with_audit_version.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(tests): add restaurants table mock for tax rate queries
  server/tests/multi-tenancy.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(orders): complete track a fixes for order creation failures (p0) (#125)
  client/src/modules/voice/services/VoiceOrderProcessor.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  server/tests/multi-tenancy.test.ts
  server/tests/security/auth-security.test.ts
  supabase/migrations/20251020221553_fix_create_order_with_audit_version.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(incident): mark track a deployment complete
  ORDER_FAILURE_INCIDENT_REPORT.md
Due: prettier --write

docs(track-a): add incident report, migration docs, and changelog for v6.0.11
  .gitignore
  docs/CHANGELOG.md
  docs/MIGRATION_RECONCILIATION_2025-10-20.md
  docs/SUPABASE_CONNECTION_GUIDE.md
  docs/archive/incidents/PR_PLAN.md
  order_verification.sql
  supabase/migrations/.archive/20250130_auth_tables.sql
  supabase/migrations/.archive/20250201_payment_audit_logs.sql
  supabase/migrations/.archive/README.md
  supabase/migrations/20251019180000_add_tax_rate_to_restaurants.sql
  supabase/migrations/20251019180800_add_create_order_with_audit_rpc.sql
  supabase/migrations/20251019183600_add_version_to_orders.sql
  supabase/migrations/20251019202700_add_batch_update_tables_rpc.sql
  verify_order_flows.sh
Due: prettier --write

feat(tax): centralize tax rate configuration (v6.0.12)
  TRACK_A_VERIFICATION_REPORT.md
  client/src/core/RestaurantContext.tsx
  client/src/core/restaurant-types.ts
  client/src/hooks/kiosk/useKioskOrderSubmission.ts
  client/src/hooks/useTaxRate.ts
  client/src/modules/voice/services/VoiceOrderProcessor.ts
  client/src/pages/ServerView.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  docs/CHANGELOG.md
  scripts/verify_track_a_stabilization.sh
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/middleware/auth.ts
  server/src/middleware/restaurantAccess.ts
  server/tests/multi-tenancy.test.ts
  supabase/.temp/cli-latest
  supabase/migrations/20251019180000_add_tax_rate_to_restaurants.sql
  supabase/migrations/20251021000000_update_tax_rate_to_0_08.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(p0): resolve schema drift and order submission failures (v6.0.13)
  client/src/hooks/kiosk/useKioskOrderSubmission.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  server/src/services/orders.service.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(build): correct import paths for supabase and userestaurant
  client/src/hooks/useTaxRate.ts
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(phase2-3): comprehensive documentation cleanup and prevention automation
  .husky/pre-commit
  CONTRIBUTING.md
  docs/CHANGELOG.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/POST_MORTEM_SCHEMA_DRIFT_2025-10-21.md
  docs/RUNBOOKS.md
  docs/archive/MIGRATION_GUIDE_DEPRECATED_2025-10-21.md
  index.md
  scripts/verify_schema_sync.sh
  supabase/migrations/.template.sql
  supabase/migrations/README.md
Due: prettier --write

fix(schema): resolve order_status_history schema drift (v6.0.13 incident #2)
  docs/CHANGELOG.md
  docs/POST_MORTEM_SCHEMA_DRIFT_2025-10-21.md
  supabase/migrations/20251021231910_add_created_at_to_order_status_history.sql
Due: prettier --write

fix(schema): resolve RPC function type mismatch (text vs varchar)
  supabase/migrations/20251022033200_fix_rpc_type_mismatch.sql
Due: none
