Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

fix(ts): final sweep to achieve TS=0 in shared workspace (no runtime change) (#77)
  docs/audits/phase4-complete.md
  docs/audits/raw/build-client.p4.baseline.txt
  docs/audits/raw/build-server.p4.baseline.txt
  docs/audits/raw/lint.p4.baseline.txt
  docs/audits/raw/testquick.p4.baseline.txt
  docs/audits/raw/typecheck.p4.baseline.txt
  fix-all-ts-errors.cjs
  scripts/forbidden-patterns.mjs
  server/src/routes/__tests__/orders.rctx.test.ts
  shared/monitoring/performance-monitor.ts
  shared/types/transformers.ts
  shared/utils/cleanup-manager.ts
  shared/utils/error-handling.ts
  shared/utils/memory-monitoring.ts
  shared/utils/performance-hooks.ts
  shared/utils/react-performance.ts
  shared/utils/websocket-pool.browser.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

chore(server): use tsconfig.build.json to exclude tests from build (no runtime change)
  server/package.json
  server/tsconfig.build.json
Due: prettier --write

fix(typescript): resolve production code type errors (no runtime change)
  docs/audits/phase4-complete.md
  docs/audits/raw/build-client.p5.before.txt
  docs/audits/raw/build-server.p5.before.txt
  docs/audits/raw/forbidden.p5.before.txt
  docs/audits/raw/lint.p5.before.txt
  docs/audits/raw/testquick.p5.before.txt
  docs/audits/raw/typecheck.p5.before.txt
  scripts/fix-ts-errors.js
  server/src/routes/ai.routes.ts
  server/src/routes/orders.routes.ts
  server/src/routes/payments.routes.ts
  server/src/routes/realtime.routes.ts
  server/src/routes/security.routes.ts
  server/src/routes/terminal.routes.ts
  server/src/server.ts
  server/src/services/ai.service.ts
  server/src/services/auth/pinAuth.ts
  server/src/services/menu.service.ts
  server/src/services/orders.service.ts
  server/src/voice/twilio-bridge.ts
  server/src/voice/voice-routes.ts
  shared/utils/performance-hooks.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(eslint): reduce errors to 0 (no runtime change)
  server/src/middleware/requestSanitizer.ts
  server/src/middleware/security.ts
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

chore(forbidden): clean up console.log and @ts-ignore patterns
  client/src/services/monitoring/logger.ts
  scripts/forbidden-patterns.mjs
  server/src/middleware/security.ts
  server/src/routes/payments.routes.ts
  server/tests/bootstrap.ts
  server/tests/guards/routes.spec.ts
  shared/monitoring/error-tracker.ts
  shared/monitoring/performance-monitor.ts
  shared/monitoring/web-vitals.ts
  shared/runtime.ts
  shared/utils/error-handling.ts
  shared/utils/websocket-pool.browser.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

test: re-enable security tests (74/87 passing)
  server/tests/security/ratelimit.proof.test.ts
  server/tests/security/rbac.proof.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(typescript): fix test TS errors and client build issues
  client/src/config/index.ts
  client/vite.config.ts
  server/src/ai/functions/realtime-menu-tools.test.ts
  server/src/middleware/__tests__/auth.test.ts
  server/src/middleware/__tests__/restaurantAccess.test.ts
  server/src/routes/__tests__/orders.rctx.test.ts
  server/src/routes/__tests__/payments.test.ts
  server/src/routes/__tests__/rctx-comprehensive.test.ts
  server/src/routes/__tests__/security.test.ts
  server/src/services/auth/pinAuth.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(ci/build): stabilize Rollup CI build with proper npm workspace usage
  .github/workflows/frontend-ci.yml
  client/vite.config.ts
  docs/audits/raw/build-client.rc1.before.txt
  docs/audits/raw/build-server.rc1.before.txt
  docs/audits/raw/lint.rc1.before.txt
  docs/audits/raw/testquick.rc1.before.txt
  docs/audits/raw/typecheck.rc1.before.txt
  server/src/services/auth/pinAuth.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(ci/build): stabilize Rollup CI build with proper npm workspace usage (#82)
  .github/workflows/frontend-ci.yml
  client/vite.config.ts
  docs/audits/raw/build-client.rc1.before.txt
  docs/audits/raw/build-server.rc1.before.txt
  docs/audits/raw/lint.rc1.before.txt
  docs/audits/raw/testquick.rc1.before.txt
  docs/audits/raw/typecheck.rc1.before.txt
  server/src/services/auth/pinAuth.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

test: re-enable final 13 CSRF/RBAC tests (deterministic; no runtime change)
  docs/audits/phase5-rc1-progress.md
  docs/audits/raw/build-client.rc1c.before.txt
  docs/audits/raw/build-server.rc1c.before.txt
  docs/audits/raw/lint.rc1c.before.txt
  docs/audits/raw/skips.final.txt
  docs/audits/raw/testquick.rc1c.after.txt
  docs/audits/raw/testquick.rc1c.before.txt
  docs/audits/raw/typecheck.rc1c.before.txt
  server/tests/security/csrf.proof.test.ts
  server/tests/security/rbac.proof.test.ts
  tests/utils/agent.ts
  tests/utils/csrf.ts
  tests/utils/rbac.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

test: skip flaky rate limit header test
  docs/audits/phase5-rc1-progress.md
  docs/audits/raw/forbidden.rc1c.after.txt
  server/tests/security/ratelimit.proof.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

test: skip all rate limit header tests temporarily
  server/tests/security/ratelimit.proof.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

test: re-enable final 13 CSRF/RBAC tests (deterministic) (#83)
  docs/audits/phase5-rc1-progress.md
  docs/audits/raw/build-client.rc1c.before.txt
  docs/audits/raw/build-server.rc1c.before.txt
  docs/audits/raw/forbidden.rc1c.after.txt
  docs/audits/raw/lint.rc1c.before.txt
  docs/audits/raw/skips.final.txt
  docs/audits/raw/testquick.rc1c.after.txt
  docs/audits/raw/testquick.rc1c.before.txt
  docs/audits/raw/typecheck.rc1c.before.txt
  server/tests/security/csrf.proof.test.ts
  server/tests/security/ratelimit.proof.test.ts
  server/tests/security/rbac.proof.test.ts
  tests/utils/agent.ts
  tests/utils/csrf.ts
  tests/utils/rbac.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(eslint): reduce client errors to 0 (no runtime change)
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/components/auth/UserMenu.tsx
  client/src/contexts/AuthContext.tsx
  client/src/contexts/UnifiedCartContext.tsx
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/hooks/useTableGrouping.ts
  client/src/modules/floor-plan/components/FloorPlanEditor.tsx
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/ExpoConsolidated.tsx
  client/src/pages/ExpoPage.tsx
  client/src/pages/ExpoPageDebug.tsx
  client/src/pages/ExpoPageOptimized.tsx
  client/src/pages/HomePage.tsx
  client/src/pages/KitchenDisplayMinimal.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
  client/src/pages/KitchenDisplaySimple.tsx
  client/src/services/http/httpClient.ts
  client/src/services/menu/MenuService.ts
  client/src/services/monitoring/performance.ts
  client/src/services/orders/OrderHistoryService.ts
  client/src/services/orders/OrderService.ts
  client/src/services/secureApi.ts
  client/src/services/websocket/WebSocketService.ts
  docs/audits/raw/build-client.rc1-seal.before.txt
  docs/audits/raw/build-server.rc1-seal.before.txt
  docs/audits/raw/forbidden.rc1-seal.before.txt
  docs/audits/raw/lint.rc1-seal.afterfix.txt
  docs/audits/raw/lint.rc1-seal.before.txt
  docs/audits/raw/testquick.rc1-seal.before.txt
  docs/audits/raw/typecheck.rc1-seal.before.txt
  fix-eslint-errors.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore(forbidden): remove console.log & clear skips (no runtime change)
  client/public/ignition-animation/animation.js
  client/src/modules/order-system/components/SquarePaymentForm.tsx
  client/src/pages/ExpoPageDebug.tsx
  server/fix-index-signatures.js
  server/src/routes/__tests__/payments.test.ts
  server/src/routes/__tests__/security.test.ts
  server/tests/security/ratelimit.proof.test.ts
  server/tests/security/rbac.proof.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

chore(forbidden): remove all console.log and test skips (no runtime change)
  server/src/routes/__tests__/payments.test.ts
  server/src/routes/__tests__/security.test.ts
  server/tests/security/ratelimit.proof.test.ts
  server/tests/security/rbac.proof.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

chore(ci): add auto-deploy workflows for Vercel and Render
  .github/workflows/deploy-client-vercel.yml
  .github/workflows/deploy-server-render.yml
  client/.gitignore
  client/vercel.json
  docs/audits/phase5-rc1-progress.md
  render.yaml
Due: prettier --write

fix(client): add shared module path aliases for Vercel build
  client/tsconfig.app.json
  client/vite.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(client): use public @rebuild/shared import (no subpaths)
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/contexts/UnifiedCartContext.tsx
  client/src/modules/order-system/context/CartContext.tsx
  client/src/modules/order-system/types/index.ts
  client/src/pages/KitchenDisplaySimple.tsx
  client/src/services/mockData.ts
  client/src/services/types/index.ts
  client/tsconfig.app.json
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(shared): export api-types from public API
  shared/index.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

build(shared): configure exports map and build output
  shared/package.json
  shared/tsconfig.json
Due: prettier --write

ci(vercel): build shared package before client
  vercel.json
Due: prettier --write

lint(client): add ESLint guard against subpath imports
  client/eslint.config.js
Due: prettier --write
