Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

docs(solutions): add shared package barrel imports solution
  docs/solutions/test-failures/shared-package-exports-barrel-imports.md
Due: prettier --write

fix: resolve p0 todos - debug code, cache clearing, flaky tests
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/contexts/__tests__/AuthContext.test.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/services/http/httpClient.ts
  client/src/services/http/index.ts
  server/tests/routes/orders.auth.test.ts
  tests/e2e/multi-tenant.e2e.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: update todo scan summary with 2025-11-28 audit results
  docs/archive/2025-11/TODO_SCAN_SUMMARY.md
Due: prettier --write

fix(security): resolve p0/p1 backlog - websocket auth parity, uuid validation
  docs/solutions/security-issues/p0-p1-backlog-websocket-auth-uuid-validation.md
  server/src/middleware/auth.ts
  server/src/routes/metrics.ts
  server/src/server.ts
  server/src/services/orderStateMachine.ts
  server/src/services/table.service.ts
  server/tests/routes/orders.auth.test.ts
  server/tests/security/ratelimit.proof.test.ts
  server/tests/security/rbac.proof.test.ts
  server/tests/services/orderStateMachine.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

docs(plans): add POS payment workflow plans
  docs/plans/feat-pos-payment-workflow-mvp.md
  docs/plans/feat-pos-seat-selection-payment-workflow.md
  docs/plans/pos-seat-selection-payment-flow-research.md
Due: prettier --write

fix(voice): correct brace indentation in voiceeventhandler
  client/src/modules/voice/services/VoiceEventHandler.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add lesson CL-BUILD-002 for misleading typescript syntax errors
  .claude/lessons/CL-BUILD-002-misleading-syntax-errors.md
  .claude/lessons/README.md
  docs/solutions/build-errors/typescript-mismatched-braces-vercel.md
Due: prettier --write

fix(payments): resolve p1 security and data integrity issues
  client/src/components/payments/CashPayment.tsx
  client/src/components/payments/TipSelector.tsx
  client/src/pages/ServerView.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor(payments): resolve p2/p3 code quality issues
  client/src/components/payments/TipSelector.tsx
  client/src/pages/ServerView.tsx
  client/src/pages/components/PostOrderPrompt.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(payments): add pos payment workflow for dine-in tables
  client/src/components/payments/PaymentModal.tsx
  client/src/components/payments/TipSelector.tsx
  client/src/components/payments/__tests__/PaymentModal.test.tsx
  client/src/components/payments/__tests__/TipSelector.test.tsx
  client/src/components/payments/index.ts
  client/src/pages/ServerView.tsx
  client/src/pages/components/PostOrderPrompt.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

test(voice): fix voiceeventhandler test expectations for trimmed transcript
  client/src/modules/voice/services/__tests__/VoiceEventHandler.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(payments): resolve p2 security and code quality issues
  client/src/components/payments/CardPayment.tsx
  client/src/pages/ServerView.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice,payments): resolve p1 security and reliability issues
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/VoiceStateMachine.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/routes/realtime.routes.ts
  server/src/services/orders.service.ts
  server/src/utils/validation.ts
  server/tests/ai/functions/realtime-menu-tools.test.ts
  server/tests/utils/validation.test.ts
  shared/src/voice/PromptConfigService.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs(todos): update todo status after p1 parallel resolution
  todos/005-resolved-p1-modifier-pricing-bug.md
  todos/008-completed-p1-response-started-dead-code.md
  todos/016-pending-p1-modifier-input-validation.md
  todos/017-completed-p1-modifier-pricing-cache.md
  todos/019-pending-p1-voice-config-cache.md
  todos/020-pending-p1-timeout-race-condition.md
  todos/021-pending-p1-error-state-transition.md
  todos/080-completed-p1-server-floating-point-arithmetic.md
  todos/081-pending-p1-prompt-injection-menu-data.md
  todos/085-accepted-risk-p1-modifier-zero-fallback.md
  todos/093-completed-p1-multi-tenant-order-fetch.md
  todos/094-completed-p1-tip-max-validation.md
  todos/095-completed-p1-floating-point-accumulation.md
  todos/096-completed-p1-payment-success-race-condition.md
  todos/097-completed-p2-weak-idempotency-key.md
  todos/098-completed-p2-type-safety-any-cast.md
  todos/099-completed-p2-missing-error-boundary.md
  todos/100-completed-p2-performance-tip-calculation.md
  todos/101-completed-p2-duplicate-table-transform.md
  todos/102-pending-p3-unnecessary-usecallback.md
  todos/103-completed-p3-duplicate-finish-table-handlers.md
  todos/104-completed-p3-missing-loading-state.md
Due: prettier --write

fix(todos): resolve p2/p3 backlog issues via parallel agents
  .vercel/project.json
  P3_POLISH_FINAL_REPORT.md
  client/src/components/payments/PaymentModal.tsx
  docs/p3-polish-resolution-summary.md
  plans/p0-p1-backlog-resolution.md
  todos/003-pending-p1-dual-hook-architecture.md
  todos/009-completed-p2-voice-checkout-orchestrator-coupling.md
  todos/010-completed-p2-timeout-race-condition.md
  todos/011-completed-p2-order-item-format-mismatch.md
  todos/012-completed-p2-missing-context-prop.md
  todos/014-completed-p2-data-channel-error-handling.md
  todos/057-complete-p2-kds-modifier-rendering-duplication.md
  todos/058-complete-p2-kds-guest-name-duplication.md
  todos/059-complete-p2-kds-ordergroupcard-missing-memo.md
  todos/060-complete-p2-kds-card-size-calculation-in-render.md
  todos/061-complete-p2-kds-missing-unit-tests.md
  todos/062-complete-p3-kds-urgency-color-duplication.md
  todos/063-complete-p3-kds-unused-status-colors.md
  todos/064-complete-p3-kds-magic-numbers-card-sizing.md
  todos/087-pending-p2-error-message-disclosure.md
  todos/090-pending-p2-usereducer-closure-rerender.md
  todos/091-pending-p2-cache-thundering-herd.md
  todos/092-pending-p2-multi-tenant-tests-missing.md
  todos/102-complete-p3-unnecessary-usecallback.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add comprehensive prevention strategies for backlog management
  .claude/PREVENTION_STRATEGIES.md
Due: prettier --write

docs(solutions): codify parallel agent backlog resolution pattern
  docs/solutions/process-issues/parallel-agent-p2-p3-backlog-resolution.md
Due: prettier --write

fix(tests): align kds test mocks with component interfaces
  client/src/components/kitchen/__tests__/OrderCard.test.tsx
  client/src/components/kitchen/__tests__/OrderGroupCard.test.tsx
  client/src/components/kitchen/__tests__/ScheduledOrdersSection.test.tsx
  client/src/components/kitchen/__tests__/TableGroupCard.test.tsx
  client/src/components/kitchen/__tests__/TouchOptimizedOrderCard.test.tsx
  client/test/setup.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(solutions): codify kds test mock interface drift fix
  .claude/lessons/CL-KDS-001-test-mock-alignment.md
  .claude/lessons/CL-TEST-001-README.md
  .claude/lessons/CL-TEST-001-mock-drift-prevention.md
  .claude/lessons/MOCK_DRIFT_IMPLEMENTATION_GUIDE.md
  .claude/lessons/MOCK_DRIFT_PR_CHECKLIST.md
  .claude/lessons/README.md
  .claude/lessons/TEST_MOCK_QUICK_REFERENCE.md
  docs/solutions/test-failures/kds-test-mock-interface-drift.md
Due: prettier --write

fix(voice): resolve TODO backlog via parallel agent processing
  .env.example
  client/src/modules/voice/constants.ts
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/WebRTCConnection.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/config/env.schema.ts
  server/src/middleware/rateLimiter.ts
  server/src/routes/realtime.routes.ts
  server/src/routes/voiceConstants.ts
  todos/006-pending-p1-data-channel-race-condition.md
  todos/013-pending-p2-openai-fetch-timeout.md
  todos/015-pending-p2-voice-order-context-dead-code.md
  todos/024-pending-p2-verbose-error-messages.md
  todos/025-pending-p2-transcript-validation.md
  todos/026-pending-p2-rate-limit-anonymous.md
  todos/029-pending-p2-session-size-validation.md
  todos/030-pending-p2-openai-timeout-aggressive.md
  todos/032-pending-p2-response-started-restrictive.md
  todos/033-pending-p2-orchestration-in-handler.md
  todos/035-pending-p2-datachannel-closeevent.md
  todos/036-complete-p3-modifier-price-bounds.md
  todos/037-pending-p3-timeout-environment-var.md
  todos/038-pending-p3-menu-truncation.md
  todos/040-pending-p3-magic-numbers.md
  todos/041-pending-p3-commented-debug-code.md
  todos/051-pending-p2-floating-point-prices.md
  todos/076-pending-p3-rollback-migration-file.md
  todos/078-pending-p3-orders-status-not-null.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs(prevention): codify comprehensive TODO backlog prevention framework
  .claude/BACKLOG_PREVENTION_FRAMEWORK.md
  .claude/BACKLOG_QUICK_REFERENCE.md
  .claude/PREVENTION_IMPLEMENTATION_CHECKLIST.md
Due: prettier --write

docs(solutions): codify parallel TODO resolution session 2025-11-29
  .claude/solutions/parallel-todo-resolution-2025-11-29.md
Due: prettier --write

chore(todos): remove redundant STATUS.md, use /maintain instead
  todos/STATUS.md
Due: prettier --write

docs: add maintenance system and codified lessons
  .claude/commands/cleanitup.md
  .claude/commands/maintain.md
  .claude/lessons/CL-MAINT-001-worktree-system-hygiene.md
  .claude/lessons/CL-TEST-002-npm-test-hang.md
  .claude/lessons/README.md
  .claude/prevention/DELIVERY-SUMMARY.md
  .claude/prevention/IMPLEMENTATION-GUIDE.md
  .claude/prevention/README.md
  .claude/prevention/WORKTREE-TODO-MAINTENANCE.md
  .claude/solutions/parallel-agent-backlog-resolution.md
  .claude/solutions/worktree-and-todo-system-maintenance.md
  .claude/solutions/worktree-todo-system-maintenance.md
  .github/workflows/worktree-maintenance.yml
  .gitignore
  client/src/modules/voice/services/__tests__/WebRTCConnection.test.ts
  client/vitest.config.ts
  docs/solutions/performance-issues/vitest-hanging-output-buffering.md
  scripts/cleanup-todos.sh
  scripts/cleanup-worktrees.sh
  scripts/setup-hooks.sh
  scripts/system-health.sh
  scripts/todo-audit.sh
  vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add AI deep research reference guide
  docs/AI_RESEARCH_REFERENCE.md
Due: prettier --write

feat: replace generic blue/purple with brand colors, fix touch targets
  client/src/components/auth/UserMenu.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/components/kitchen/TableGroupCard.tsx
  client/src/components/kitchen/TouchOptimizedOrderCard.tsx
  client/src/constants/stations.ts
  client/src/modules/order-system/components/MenuItemCard.tsx
  client/src/pages/Login.tsx
  client/src/pages/PinLogin.tsx
  client/src/pages/StationLogin.tsx
  client/src/styles/design-tokens.css
  client/tailwind.config.js
  plans/GITHUB_ISSUE_PROMPT.md
  plans/ui-ux-brand-color-fix-SYNTHESIZED.md
  plans/ui-ux-design-system-update.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: replace console.log with logger in devauthoverly
  client/src/components/auth/DevAuthOverlay.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(db): sync Prisma schema with production database
  prisma/schema.prisma
Due: none

fix(kiosk): improve checkout resilience for 404/500 errors
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/contexts/UnifiedCartContext.tsx
  server/scripts/seed-restaurants.ts
  server/src/routes/payments.routes.ts
  server/src/routes/restaurants.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(tables): complete phase 3 table automation with real-time updates
  client/src/components/kitchen/StationStatusBar.tsx
  client/src/contexts/__tests__/AuthContext.test.tsx
  client/src/hooks/useTableStatus.ts
  client/src/modules/floor-plan/components/FloorPlanCanvas.tsx
  client/src/modules/floor-plan/types/index.ts
  client/src/modules/order-system/components/MenuItemCard.tsx
  client/src/pages/hooks/useServerView.ts
  client/src/services/http/httpClient.ts
  server/scripts/seed-menu-mapped.ts
  server/src/lib/ports.ts
  server/src/routes/__tests__/security.test.ts
  server/src/routes/metrics.ts
  shared/types/table.types.ts
  tests/e2e/table-realtime.spec.ts
  tests/e2e/workspace-landing.spec.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(security): comprehensive RLS + metrics auth + code cleanup
  client/src/hooks/useTableStatus.ts
  client/src/pages/hooks/useServerView.ts
  client/src/services/http/RequestBatcher.ts
  client/src/services/http/httpClient.ts
  plans/code-review-backlog-resolution-2025-12.md
  server/src/routes/metrics.ts
  supabase/migrations/20251202_comprehensive_rls.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(security): comprehensive RLS + metrics auth + code cleanup (#150)
  client/src/hooks/useTableStatus.ts
  client/src/pages/hooks/useServerView.ts
  client/src/services/http/RequestBatcher.ts
  client/src/services/http/httpClient.ts
  plans/code-review-backlog-resolution-2025-12.md
  server/src/routes/metrics.ts
  supabase/migrations/20251202_comprehensive_rls.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs(todos): add code review findings from PR #150 review
  todos/103-open-p1-missing-rls-audit-tables.md
  todos/104-open-p1-cache-key-tenant-isolation.md
  todos/105-open-p2-tables-composite-index.md
  todos/106-open-p2-cache-invalidation-duplication.md
  todos/107-open-p3-monitoring-stubs-cleanup.md
Due: prettier --write

fix(security): resolve P1/P2 code review findings from PR #150
  client/src/services/http/httpClient.ts
  supabase/migrations/20251203_audit_tables_rls.sql
  todos/103-open-p1-missing-rls-audit-tables.md
  todos/104-open-p1-cache-key-tenant-isolation.md
  todos/105-open-p2-tables-composite-index.md
  todos/106-open-p2-cache-invalidation-duplication.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(security): address code review findings from PR #151 review
  client/src/services/http/httpClient.ts
  supabase/migrations/20251203_audit_tables_rls.sql
  todos/108-resolved-p1-rls-insert-policy-null-check.md
  todos/109-resolved-p1-cache-clear-on-restaurant-switch.md
  todos/110-resolved-p2-no-tenant-cache-fallback.md
  todos/111-resolved-p2-console-error-violation.md
  todos/112-resolved-p2-fragile-endpoint-matching.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(security): resolve P1/P2 code review findings from PR #150 (#151)
  client/src/services/http/httpClient.ts
  supabase/migrations/20251203_audit_tables_rls.sql
  todos/103-open-p1-missing-rls-audit-tables.md
  todos/104-open-p1-cache-key-tenant-isolation.md
  todos/105-open-p2-tables-composite-index.md
  todos/106-open-p2-cache-invalidation-duplication.md
  todos/108-resolved-p1-rls-insert-policy-null-check.md
  todos/109-resolved-p1-cache-clear-on-restaurant-switch.md
  todos/110-resolved-p2-no-tenant-cache-fallback.md
  todos/111-resolved-p2-console-error-violation.md
  todos/112-resolved-p2-fragile-endpoint-matching.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add CL-SEC-003 multi-tenant isolation solution
  docs/solutions/security-issues/multi-tenant-isolation-rls-cache.md
Due: prettier --write

chore(todos): sync todo statuses after PR #151 review fixes
  todos/.archive/031-deferred-p2-multiseat-isolation.md
  todos/085-accepted-risk-p1-modifier-zero-fallback.md
  todos/093-resolved-p1-tables-rls-policies.md
  todos/094-open-p1-metrics-endpoint-auth.md
  todos/095-open-p2-dual-state-management.md
  todos/096-open-p2-table-type-inconsistency.md
  todos/097-open-p2-polling-realtime-race.md
  todos/098-open-p2-memory-leak-useeffect.md
  todos/099-open-p2-metrics-code-duplication.md
  todos/100-open-p3-simplify-cache-system.md
  todos/101-open-p3-remove-unused-batcher.md
  todos/102-open-p3-health-check-db-latency.md
  todos/103-resolved-p1-missing-rls-audit-tables.md
  todos/104-resolved-p1-cache-key-tenant-isolation.md
  todos/105-resolved-p2-tables-composite-index.md
  todos/106-resolved-p2-cache-invalidation-duplication.md
Due: prettier --write
