Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(voice): fix server voice ordering - items now parse correctly
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/components/VoiceOrderModal.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): update demo auth to use correct /demo-session endpoint
  client/src/services/auth/demoAuth.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(orders): add 'server' role to order creation endpoints
  server/src/routes/orders.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(auth): bypass restaurant access check for all demo users
  server/src/middleware/restaurantAccess.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(orders): add required price field and correct type field name
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(kds): httpclient now checks localstorage for demo/pin/station tokens
  client/src/services/http/httpClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(v6.0.8): complete documentation updates for dual auth pattern
  docs/ADR-006-dual-authentication-pattern.md
  docs/AUTHENTICATION_ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/DOCUMENTATION_UPDATE_SUMMARY_2025-10-17.md
  docs/PRODUCTION_STATUS.md
  docs/TROUBLESHOOTING.md
  docs/VERSION.md
  docs/archive/CLAUDE.md
  index.md
Due: prettier --write

docs(reports): add quality baseline and voice repro checklist
  reports/quality_baseline_summary.md
  reports/voice_repro_checklist.md
Due: prettier --write

docs(audit): complete documentation system audit
  reports/DOCUMENTATION_AUDIT_2025-10-17.md
Due: prettier --write

docs(topology): migrate to industry-standard root directory structure
  ARCHITECTURE.md
  AUTHENTICATION_ARCHITECTURE.md
  CHANGELOG.md
  CONTRIBUTING.md
  DEPLOYMENT.md
  ENVIRONMENT.md
  GETTING_STARTED.md
  KDS_ORDER_FLOW.md
  KITCHEN_DISPLAY_UPGRADE.md
  KITCHEN_FIX_SUMMARY.md
  PRODUCTION_STATUS.md
  README.md
  ROADMAP.md
  SECURITY.md
  TROUBLESHOOTING.md
  VERSION.md
  docs/AUTH_DIAGNOSTIC_GUIDE.md
  docs/DOCUMENTATION_STANDARDS.md
  docs/TESTING_CHECKLIST.md
  index.md
Due: prettier --write

feat(auth): introduce 'customer' role for public orders with kiosk_demo alias
  .env.example
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/services/auth/roleHelpers.ts
  server/src/middleware/auth.ts
  server/src/middleware/rbac.ts
  server/src/routes/ai.routes.ts
  server/src/routes/orders.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs(auth): add v6.0.8 role definitions and migration guide
  docs/AUTH_ROLES_V6.0.8.md
Due: prettier --write

chore(auth): post dual-auth next steps (tests, migration, monitoring, runbook)
  .env.example
  .github/workflows/auth-guards.yml
  docs/runbooks/POST_DUAL_AUTH_ROLL_OUT.md
  nextplan.md
  scripts/monitor-auth-roles.sh
  server/tests/routes/orders.auth.test.ts
  supabase/migrations/20251018_add_customer_role_scopes.sql
Due: eslint --fix, npm run typecheck:staged, prettier --write

test(auth): fix all 12 integration tests - logger mock and module loading
  server/tests/routes/orders.auth.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

docs(naming): add charter, lexicon, and role-scope registry
  docs/naming/LEXICON.md
  docs/naming/NAMING_CHARTER.md
  docs/naming/ROLE_SCOPE_MATRIX.md
  docs/naming/lexicon.json
Due: prettier --write

docs(auth): unify dual-auth architecture, adr, and runbook
  docs/ADR-006-dual-authentication-pattern.md
  docs/AUTHENTICATION_ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/GETTING_STARTED.md
  docs/runbooks/POST_DUAL_AUTH_ROLL_OUT.md
Due: prettier --write

docs(readme): fix package manager and add auth summary
  README.md
  index.md
Due: prettier --write

fix(orders): resolve cors and auth blocking online checkout flow
  client/src/pages/CheckoutPage.tsx
  client/src/services/auth/demoAuth.ts
  client/src/services/auth/roleHelpers.ts
  docs/DEPLOYMENT.md
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs(auth): update documentation for v6.0.9 auth pattern changes
  docs/AUTH_ROLES_V6.0.8.md
  docs/CHANGELOG.md
  docs/GETTING_STARTED.md
  docs/TROUBLESHOOTING.md
Due: prettier --write

chore: add auth checklist to pr template and baseline reports
  .github/PULL_REQUEST_TEMPLATE.md
  oct18plan.md
  reports/AUTOMATED_EXECUTION_PLAN.md
  reports/COMPREHENSIVE_ACTION_PLAN_2025-10-17.md
  reports/DOCUMENTATION_TOPOLOGY_MIGRATION_PLAN.md
  reports/_preconditions_branch.txt
  reports/_preconditions_env.txt
  reports/_preconditions_status.txt
  reports/baseline_eslint.txt
  reports/baseline_tsc.txt
  reports/docscheck_baseline.txt
  reports/eslint_baseline.txt
  reports/quality_baseline_summary.json
  reports/scans/2025-10-17-22-00-00/01-multi-tenancy-guardian.md
  reports/scans/2025-10-17-22-00-00/02-security-auditor.md
  reports/scans/2025-10-17-22-00-00/03-typescript-enforcer.md
  reports/scans/2025-10-17-22-00-00/04-performance-hunter.md
  reports/scans/2025-10-17-22-00-00/05-test-coverage-analyst.md
  reports/scans/2025-10-17-22-00-00/06-convention-enforcer.md
  reports/scans/2025-10-17-22-00-00/07-error-handling-guardian.md
  reports/scans/2025-10-17-22-00-00/08-architecture-analyst.md
  reports/scans/AGENT_PROMPT_MASTER.md
  reports/scans/LAUNCH_INSTRUCTIONS.md
  reports/tsc_baseline.txt
Due: prettier --write

chore(audit): verification workflow scaffolding and p0 import
  .github/ISSUE_TEMPLATE/verification.yml
  .github/PULL_REQUEST_TEMPLATE.md
  docs/audits/codebase-audit-2025-10-19.json
  docs/audits/codebase-audit-detailed-2025-10-19.json
  docs/audits/verification-map-P0.json
  scripts/verify_p0_db.sh
  scripts/verify_p0_local.sh
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
