Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

refactor: improve React Fast Refresh compatibility
  client/src/components/auth/ProtectedRoute.tsx
  client/src/components/auth/withProtectedRoute.tsx
  client/src/components/kiosk/KioskCheckoutPage.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/contexts/AuthContext.tsx
  client/src/contexts/UnifiedCartContext.tsx
  client/src/contexts/auth.hooks.ts
  client/src/contexts/auth.index.ts
  client/src/contexts/cart.hooks.ts
  client/src/modules/order-system/components/CartDrawer.tsx
  client/src/modules/order-system/components/CustomerOrderPage.tsx
  client/src/modules/order-system/components/MenuItemCard.tsx
  client/src/pages/CheckoutPage.tsx
  client/src/pages/KioskPage.tsx
  client/src/pages/Login.tsx
  client/src/pages/PinLogin.tsx
  client/src/pages/StationLogin.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat: improve WebSocket connection management
  client/src/App.tsx
  client/src/hooks/useKitchenOrdersRealtime.ts
  client/src/hooks/useWebSocketConnection.ts
  client/src/services/websocket/ConnectionManager.ts
  docs/archive/2025-09-02/CHANGELOG_2025-08-28.md
  docs/archive/2025-09-02/DOCUMENTATION_INDEX.md
  docs/archive/2025-09-02/NEXT_STEPS_SUMMARY.md
  docs/archive/2025-09-02/OPERATIONS_REPORT_20250831.md
  docs/archive/2025-09-02/PRODUCTION_DEPLOYMENT_STATUS.md
  docs/archive/2025-09-02/PUPPETEER_TEST_REPORT.md
  docs/archive/2025-09-02/SECURITY_AUDIT_REPORT.md
  docs/archive/2025-09-02/code-analysis.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat: add specialized error boundaries
  client/src/components/errors/KDSErrorBoundary.tsx
  client/src/components/errors/WebSocketErrorBoundary.tsx
  client/src/pages/ExpoPage.tsx
  client/src/pages/KitchenDisplayOptimized.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: memory leaks and timer cleanup improvements
  ARCHITECTURE.md
  CHANGELOG.md
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/components/shared/badges/index.tsx
  client/src/hooks/useModal.ts
  client/src/modules/order-system/__tests__/checkout.e2e.test.tsx
  client/src/modules/order-system/context/CartContext.test.tsx
  client/src/modules/voice/components/VoiceDebugPanel.tsx
  client/src/pages/SplashScreen.tsx
  docs/ADR/ADR-002-unified-backend.md
  docs/ADR/ADR-003-cart-unification.md
  docs/ADR/ADR-004-voice-system-consolidation.md
  docs/DOCS_AUDIT_SUMMARY.md
  docs/DOCS_INDEX.md
  docs/api/API-REFERENCE.md
  docs/api/README.md
  docs/api/websockets/README.md
  docs/architecture/README.md
  docs/archive/2025-09-02/01-architecture/README.md
  docs/archive/2025-09-02/02-api/API_REFERENCE.md
  docs/archive/2025-09-02/02-api/README.md
  docs/archive/2025-09-02/02-architecture/overview.md
  docs/archive/2025-09-02/04-api/rest/API-REFERENCE.md
  docs/archive/2025-09-02/04-api/rest/README.md
  docs/archive/2025-09-02/04-api/websockets/README.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

perf: optimize OrderCard with React.memo
  client/src/components/kitchen/OrderCard.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix: improve accessibility in kiosk components
  client/src/components/kiosk/KioskModeSelector.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: add post-documentation verification reports
  docs/reports/HUMAN_REVIEW_TODO.md
  docs/reports/POST_DOC_VERIFY_SUMMARY_20250902.md
Due: prettier --write

docs: cross-link human review TODO from audit summary
  docs/DOCS_AUDIT_SUMMARY.md
Due: prettier --write

perf: major TypeScript and performance optimizations
  client/src/pages/ExpoPage.tsx
  client/src/pages/KitchenDisplaySimple.tsx
  docs/reports/OPTIMIZATION_REPORT_20250902.md
  server/src/ai/functions/realtime-menu-tools.test.ts
  server/src/ai/functions/realtime-menu-tools.ts
  server/src/config/environment.ts
  server/src/mappers/cart.mapper.ts
  server/src/mappers/menu.mapper.ts
  shared/utils/cleanup-manager.ts
  shared/utils/memory-monitoring.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat: comprehensive production deployment infrastructure
  client/src/pages/ExpoPage.tsx
  client/src/pages/KitchenDisplaySimple.tsx
  client/vite.config.ts
  config/performance-budget.json
  docs/DEPLOYMENT_CHECKLIST.md
  docs/PRODUCTION_DEPLOYMENT_GUIDE.md
  scripts/check-bundle-size.js
  scripts/database-optimization.sql
  server/src/config/environment.ts
  server/src/middleware/security-headers.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

docs: production readiness summary - 9.5/10 score achieved
  docs/reports/PRODUCTION_READINESS_SUMMARY.md
Due: prettier --write

chore(server): enforce user-scoped supabase client on all write routes
  docs/diffs/user_client_routes.patch
  docs/mcp/MCP_TOOLS.json
  docs/reports/code/SERVICE_KEY_USAGE.md
  docs/reports/db/POLICY_DUMP.json
  docs/reports/db/RLS_HARDENING_SUMMARY.md
  docs/reports/db/migrations/force_rls.json
  docs/reports/git/STATUS_PRE.md
  server/src/routes/payments.routes.ts
  server/src/routes/terminal.routes.ts
  server/src/routes/users.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

feat(rls): stage-verified membership RLS + user-scoped writes; smoke tests green
  docs/reports/OVERNIGHT_STAGING_SUMMARY.md
  docs/reports/auth/AUTH_ISSUE.md
  docs/reports/auth/EMAIL_SESSIONS.json
  docs/reports/ci/RLS_CANARY.md
  docs/reports/db/LOGS_WINDOW.md
  docs/reports/db/RPC_AUDIT.md
  docs/reports/db/verify/server_orders_tail.json
  docs/reports/db/verify/tables_tail.json
  docs/reports/http/PIN_LOGIN.json
  docs/reports/http/floorplan_save.json
  docs/reports/http/kitchen_reads.json
  docs/reports/http/manager_menu_write.json
  docs/reports/http/server_order_write.json
  docs/reports/storage/BUCKETS_AND_POLICIES.json
  scripts/ci/check_rls.sh
  scripts/ci/rls_canary.sql
  scripts/test-auth.mjs
  scripts/test-writes.mjs
Due: prettier --write

chore(dev): fix CORS allowlist, set FRONTEND_URL, and stabilize WebSocket service import/guard
  client/src/App.tsx
  docs/reports/dev/00_env_presence.md
  docs/reports/dev/01_scan.md
  docs/reports/dev/10_cors_patch.diff
  docs/reports/dev/20_ws_patch.diff
  docs/reports/dev/50_verdict.md
  docs/reports/dev/REVERT.md
  docs/reports/dev/http/30_kiosk_preflight.txt
  docs/reports/dev/http/31_kiosk_post.json
  docs/reports/dev/http/41_health.json
  docs/reports/prod/00_ping.json
  docs/reports/prod/10_rls_tables.json
  docs/reports/prod/11_required_auth_tables.json
  docs/reports/prod/12_policy_dump.json
  docs/reports/prod/13_policy_grep_claims.json
  docs/reports/prod/MCP_WRITE_BLOCK.md
  docs/reports/prod/POLICY_DUMP.json
  docs/reports/prod/POST_APPLY_VERDICT.md
  docs/reports/prod/RLS_MATRIX.json
  docs/reports/prod/RLS_VERDICT.md
  docs/reports/prod/TOOLS.json
  docs/reports/prod/auth/EMAIL_SESSIONS.json
  docs/reports/prod/auth/READ_CHECKS.json
  docs/reports/prod/migrations/20250903_100000_auth_core.receipt.json
  docs/reports/prod/migrations/20250903_100001_auth_core_rls.receipt.json
  docs/reports/prod/migrations/20250903_100002_auth_core_grants.receipt.json
  docs/reports/prod/migrations/20250903_100003_verification_bookmarks.receipt.json
  fire
  fire.sh
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

feat(auth): implement explicit demo authentication UI for development
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/contexts/AuthContext.tsx
  client/src/pages/HomePage.tsx
  client/src/pages/Login.tsx
  client/src/services/http/httpClient.ts
  docs/diffs/plan/01_demo_ux_plan.md
  docs/reports/build/tsc.txt
  docs/reports/prod/SMOKE_TEST_RESULTS.md
  docs/reports/scan/auth_context.md
  docs/reports/scan/broken_page.md
  docs/reports/scan/db_users.json
  docs/reports/scan/env_presence.md
  docs/reports/scan/http_client.md
  docs/reports/scan/routes_map.md
  docs/reports/scan/ws_init.md
  scripts/seed-demo-users.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(auth): production-ready authentication hardening
  client/public/clear-auth.html
  client/src/App.tsx
  client/src/components/auth/DevAuthOverlay.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/contexts/AuthContext.tsx
  client/src/contexts/UnifiedCartContext.tsx
  client/src/modules/order-system/context/CartContext.tsx
  client/src/pages/ExpoPage.tsx
  client/src/pages/HomePage.tsx
  client/src/pages/KitchenDisplaySimple.tsx
  client/src/services/websocket/ConnectionManager.ts
  client/src/services/websocket/WebSocketService.ts
  client/vite.config.ts
  docs/diffs/client/01_remove_test_token.patch
  docs/diffs/client/02_ws_stabilize.patch
  docs/diffs/client/04_login_demo_panel.patch
  docs/diffs/server/01_strict_auth.patch
  docs/diffs/server/02_cors_cleanup.patch
  docs/reports/build/build_issues.md
  docs/reports/build/tsc.txt
  docs/reports/build/vite.txt
  docs/reports/overnight/cors_state.md
  docs/reports/overnight/env_presence.md
  docs/reports/overnight/git_recent.md
  docs/reports/overnight/http_bypass_map.md
  docs/reports/overnight/rls_tables.json
  docs/reports/overnight/routes_map.md
  docs/reports/overnight/user_pins.json
  docs/reports/overnight/users.json
  docs/reports/overnight/ws_map.md
  docs/reports/prod/AUTH_FIX_SUMMARY.md
  server/src/middleware/auth.ts
  server/src/routes/docs/reports/overnight/env_presence.md
  server/src/server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(auth): implement proper logout UI and remove all auth band-aids
  client/public/clear-auth.html
  client/src/components/auth/UserMenu.tsx
  client/src/components/layout/BrandHeader.tsx
  client/src/contexts/AuthContext.tsx
  client/src/pages/HomePage.tsx
  docs/AUTH_DEBT_REPORT.md
  docs/AUTH_ENTERPRISE_PLAN.md
  docs/AUTH_FIX_IMPLEMENTATION.md
  docs/reports/prod/AUTH_BYPASS_ROOT_CAUSE.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): synchronize auth bridge for voice and WebSocket connections
  client/src/contexts/AuthContext.tsx
  docs/reports/AI_ENDPOINTS_RISK.md
  docs/reports/AUTH_ARCHITECTURE_INVESTIGATION.md
  docs/reports/AUTH_FIX_COMPLETE.md
  docs/reports/LOGIN_V2_IMPLEMENTATION.md
  docs/reports/OVERNIGHT_AUDIT.md
  docs/reports/SECURITY_AND_TENANCY.md
  docs/reports/VOICE_AUTH_FINDINGS.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

Save work in progress - Sep 9 working branch
  CLAUDE.md
  clear-auth.js
  client/src/components/auth/ProtectedRoute.tsx
  client/src/components/layout/AppRoutes.tsx
  client/src/contexts/AuthContext.tsx
  client/src/hooks/useAuth.ts
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/ServerView.tsx
  client/src/pages/UnauthorizedPage.tsx
  client/src/services/http/httpClient.ts
  docs/API_REFERENCE.md
  docs/AUTHENTICATION.md
  docs/AUTHENTICATION_DEEP_DIVE.md
  docs/AUTHENTICATION_MASTER.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/RBAC_GUIDE.md
  docs/archive/2025-09-09/DEBUG_AUTH_VOICE.md
  docs/archive/2025-09-09/TEST_VOICE_AUTH.md
  docs/archive/2025-09-09/VOICE_CONNECTION_FIX.md
  docs/voice/TROUBLESHOOTING.md
  server/src/routes/auth.routes.ts
  test-all-roles.sh
  test-login-with-role.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(voice): integrate payment flow for server voice orders
  client/src/App.tsx
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/components/settings/SquareTerminalConfig.tsx
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/pages/ServerView.tsx
  client/src/pages/components/VoiceOrderModal.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/services/websocket/orderUpdates.ts
  client/test/setup.ts
  client/vitest.config.ts
  docs/03-features/voice-ordering.md
  docs/ORDER_FLOW.md
  docs/TEST_SUITE_STATUS.md
  docs/reports/VOICE_GAPS_CHECKLIST.md
  docs/reports/VOICE_SERVER_MODE_FACTS.md
  docs/reports/VOICE_SERVER_MODE_FAILTRACE.md
  docs/reports/VOICE_SERVER_MODE_VERIFICATION.md
  docs/voice/VOICE_ORDER_FLOW_FIX.md
  package.json
  scripts/test-voice-order-flow.js
  scripts/validate-critical-paths.cjs
  scripts/validate-simple.cjs
  server/src/routes/terminal.routes.ts
  server/vitest.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

test: add failing auth+orders baselines
  scripts/auth-smoke.mjs
Due: none

feat(auth): unify edge normalization + restaurant gating
  CLAUDE.md
  ORDER_SUBMISSION_FAILURE_ANALYSIS.md
  README.md
  client/src/components/shared/errors/ErrorBoundary.tsx
  client/src/contexts/UnifiedCartContext.tsx
  client/src/hooks/kiosk/useKioskOrderSubmission.ts
  client/src/hooks/useApiRequest.ts
  client/src/hooks/useKioskAuth.ts
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  client/src/modules/voice/hooks/useWebRTCVoice.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
  client/src/pages/KioskPage.tsx
  client/src/pages/components/VoiceOrderModal.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  client/src/utils/logger.ts
  docs/API_CONTRACTS.md
  docs/CRITICAL_FIXES_APPLIED.md
  docs/INTEGRATION_TESTING.md
  docs/PRODUCTION_ROADMAP.md
  docs/VOICE_ORDER_IMPLEMENTATION.md
  scripts/create-test-manager.js
  scripts/debug-loading.mjs
  scripts/test-manager-auth.js
  scripts/test-voice-order-integration.cjs
  scripts/test-voice-order.sh
  scripts/validate-auth-fixes.cjs
  scripts/validate-simple.cjs
  server/src/ai/voice/EnhancedOpenAIAdapter.ts
  server/src/middleware/auth.ts
  server/src/middleware/rbac.ts
  server/src/routes/ai.routes.ts
  server/src/routes/auth.routes.ts
  server/src/routes/orders.routes.ts
  server/src/routes/realtime.routes.ts
  server/src/services/auth/AuthenticationService.ts
  server/src/services/auth/stationAuth.ts
  test-kiosk-auth.js
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npm run typecheck:staged: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  npm run test:client -- --watchAll=false --findRelatedTests: any of: client/src/**/*.{ts,tsx}
  npm run test:server -- --watchAll=false --findRelatedTests: any of: server/src/**/*.{ts,js}
