Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

fix(build): make rollup-plugin-visualizer import conditional
  client/vite.config.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

fix(deploy): add scope and auto-confirm to vercel env pull command
  scripts/pre-deploy-validation.sh
Due: none

fix(deploy): explicitly pass VERCEL_TOKEN to vercel env pull command
  scripts/pre-deploy-validation.sh
Due: none

fix(test): fix order history test assertions and import paths
  client/src/components/shared/badges/index.tsx
  client/src/components/shared/filters/SortControl.tsx
  client/src/components/shared/lists/OrderItemRow.tsx
  client/src/hooks/useOrderFilters.ts
  client/src/hooks/useOrderHistory.test.tsx
  client/src/modules/filters/components/FilterBar.tsx
  client/src/modules/filters/components/StatusFilter.tsx
  client/src/modules/filters/hooks/useOrderFilters.ts
  client/src/modules/filters/types/filter.types.ts
  client/src/modules/kitchen/components/StationFilter.tsx
  client/src/modules/orders/hooks/__tests__/useOrderData.test.ts
  client/src/modules/orders/hooks/useOrderData.ts
  client/src/pages/components/PostOrderPrompt.tsx
  client/src/pages/components/SeatSelectionModal.tsx
  client/src/pages/components/ServerHeader.tsx
  client/src/pages/components/VoiceOrderModal.tsx
  client/src/services/stationRouting.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(consolidation): archive 18 root docs and create canonical guides
  docs/archive/2025-11/README.md
  docs/archive/2025-11/deployment/DEPLOYMENT_CODE_LOCATIONS.md
  docs/archive/2025-11/deployment/DEPLOYMENT_ECOSYSTEM_INVESTIGATION.md
  docs/archive/2025-11/deployment/DEPLOYMENT_FAILURE_COMPREHENSIVE_ANALYSIS.md
  docs/archive/2025-11/deployment/DEPLOYMENT_HISTORY_ANALYSIS.json
  docs/archive/2025-11/deployment/DEPLOYMENT_INVESTIGATION_INDEX.md
  docs/archive/2025-11/deployment/DEPLOYMENT_QUICK_REFERENCE.md
  docs/archive/2025-11/deployment/RENDER_BACKEND_INVESTIGATION_NOV17.md
  docs/archive/2025-11/deployment/RENDER_DEPLOYMENT_FIXED.md
  docs/archive/2025-11/deployment/RENDER_VERCEL_OPTIMAL_CONFIGURATION_CHECKLIST.md
  docs/archive/2025-11/deployment/RENDER_VERCEL_OPTIMIZATION_GUIDE.md
  docs/archive/2025-11/environment/ENV_AUDIT_COMPLETE_SUMMARY.md
  docs/archive/2025-11/environment/ENV_OVERHAUL_COMPLETE.md
  docs/archive/2025-11/github-actions/GITHUB_ACTIONS_CLEANUP_SUMMARY.md
  docs/archive/2025-11/session-summaries/DOCUMENTATION_CLEANUP_AND_CICD_COMPLETE.md
  docs/archive/2025-11/session-summaries/DOCUMENTATION_SYSTEM_AUDIT_EXECUTIVE_SUMMARY.md
  docs/archive/2025-11/session-summaries/SESSION_SUMMARY_2025_11_14.md
  docs/archive/2025-11/session-summaries/onward.md
  docs/archive/2025-11/testing/TESTING_COVERAGE_VALIDATION_STRATEGY.md
  docs/archive/nextplan.md
  docs/archive/oct18plan.md
  docs/archive/oct23plan.md
  docs/incidents/README.md
  docs/investigations/README.md
  docs/postmortems/README.md
  docs/reference/config/VERCEL_RENDER_DEPLOYMENT.md
Due: prettier --write

fix(build): move PostCSS toolchain to root for Vercel workspace builds
  client/package.json
  package.json
Due: prettier --write

fix(build): use require.resolve() in postcss.config.js for workspace resolution
  client/postcss.config.js
Due: prettier --write

fix(build): use canonical PostCSS plugin array syntax for workspace compatibility
  client/postcss.config.js
Due: prettier --write

fix(ci): add --include-workspace-root to npm ci in GitHub Actions
  .github/workflows/deploy-with-validation.yml
Due: none

fix: final vercel cache buster 1763479736
  client/postcss.config.js
Due: prettier --write

fix(build): use workspace syntax in build:vercel to preserve module resolution
  package.json
Due: prettier --write

fix(deps): move PostCSS dependencies back to client/package.json
  client/package.json
  package-lock.json
Due: prettier --write

fix(vercel): override NODE_ENV during install to include devDependencies
  vercel.json
Due: prettier --write

refactor(vercel): use --production=false flag instead of NODE_ENV override
  vercel.json
Due: prettier --write

fix(auth): Replace Supabase direct auth with custom /api/v1/auth/login endpoint
  client/src/contexts/AuthContext.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(auth): Store custom JWT in localStorage for httpClient access
  client/src/contexts/AuthContext.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

test: verify auto-deployment after branch protection fix
  README.md
Due: prettier --write

docs(claudelessons): Add CL-AUTH-001 authentication incident and prevention rules
  claudelessons-v2/enforcement/eslint-rules/no-supabase-direct-auth.js
  claudelessons-v2/knowledge/incidents/CL-AUTH-001-supabase-direct-auth-strict-mode.md
  claudelessons-v2/protocols/ERROR_PATTERN_LIBRARY.md
Due: prettier --write

fix(voice): Add localStorage fallback to auth service for voice ordering
  client/src/services/auth/index.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): Add diagnostic logging and fix menu category names
  client/src/modules/voice/services/VoiceSessionConfig.ts
  server/src/routes/realtime.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

debug(voice): Add explicit console.log for session config diagnostics
  client/src/modules/voice/services/VoiceSessionConfig.ts
  client/src/modules/voice/services/WebRTCVoiceClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

debug(voice): Log session.updated and unhandled events
  client/src/modules/voice/services/VoiceEventHandler.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): Add context prop to fix menu knowledge + remove dead code (~2,685 lines)
  claudelessons-v2/knowledge/incidents/CL-VOICE-001-context-prop-missing.md
  client/package-lock.json
  client/src/components/kiosk/VoiceOrderingMode.tsx
  docs/archive/2025-01/VOICE_CODE_SALVAGE.md
  docs/explanation/architecture/VOICE_ORDERING_WEBRTC.md
  server/src/ai/voice/EnhancedOpenAIAdapter.ts
  server/src/ai/websocket.ts
  server/src/routes/ai.routes.ts
  server/src/server.ts
  server/src/voice/debug-dashboard.ts
  server/src/voice/openai-adapter.ts
  server/src/voice/twilio-bridge.ts
  server/src/voice/voice-routes.ts
  server/src/voice/websocket-server.test.ts
  server/src/voice/websocket-server.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(voice): Add missing context prop to VoiceControlWebRTC component
  client/src/modules/voice/components/VoiceControlWebRTC.tsx
  docs/archive/2025-01/VOICE_BUG_FIX_2025-01-18.md
  docs/archive/2025-01/VOICE_DEBUGGING_SESSION_2025-01-18.md
  docs/archive/2025-01/VOICE_ISSUE_SUMMARY_FOR_NEW_CHAT.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

debug(voice): Add detailed session.update payload logging
  client/src/modules/voice/services/WebRTCVoiceClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): Enforce English-only responses with system override
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): Allow Spanish when requested, default to English
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): Strengthen English default with system-level directive
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): Add missing event handlers and transcript logging
  client/src/modules/voice/services/VoiceEventHandler.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

debug(voice): Add transcription settings to session.update logging
  client/src/modules/voice/services/WebRTCVoiceClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): Add response.text.done handler and enable debug mode
  client/src/components/kiosk/VoiceOrderingMode.tsx
  client/src/modules/voice/services/VoiceEventHandler.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice): Use gpt-4o-transcribe model for Realtime API transcription
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(voice): Document OpenAI API transcription model breaking change
  docs/archive/2025-01/VOICE_FIX_TRANSCRIPTION_MODEL_2025-01-18.md
Due: prettier --write

debug(voice): Revert to whisper-1 + add comprehensive event logging
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/VoiceSessionConfig.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs(voice): Comprehensive documentation for voice ordering debugging
  claudelessons-v2/knowledge/VOICE_TROUBLESHOOTING_CHECKLIST.md
  claudelessons-v2/knowledge/incidents/CL-VOICE-002-transcription-missing.md
  claudelessons-v2/protocols/VOICE_DEBUGGING_RUNBOOK.md
  docs/archive/2025-01/VOICE_ISSUE_SUMMARY_FOR_NEW_CHAT.md
Due: prettier --write

docs: Fix critical documentation issues from Nov 18 audit
  .env.example
  SECURITY.md
  docs/how-to/operations/runbooks/PRODUCTION_DEPLOYMENT_PLAN.md
  docs/learning-path/01_APP_OVERVIEW.md
  docs/reference/api/WEBSOCKET_EVENTS.md
  docs/reference/api/openapi.yaml
  docs/reference/config/ENVIRONMENT.md
  nov18scan/00_MASTER_OVERVIEW.md
  nov18scan/01_git_history_narrative.md
  nov18scan/02_architecture_structure.md
  nov18scan/03_outstanding_work.md
  nov18scan/04_user_experience.md
  nov18scan/05_integrations.md
  nov18scan/docs-audit/00_MASTER_DOCS_SYNTHESIS.md
  nov18scan/docs-audit/01_api_documentation.md
  nov18scan/docs-audit/02_architecture_documentation.md
  nov18scan/docs-audit/03_configuration_documentation.md
  nov18scan/docs-audit/04_operational_documentation.md
  nov18scan/docs-audit/05_code_docs_drift.md
  nov18scan/docs-audit/06_freshness_links.md
  nov18scan/docs-audit/README.md
  package-lock.json
Due: prettier --write

fix(docs): Fix 52 broken internal documentation links (67.5% improvement)
  docs/explanation/architecture/VOICE_ORDERING_WEBRTC.md
  docs/explanation/architecture/diagrams/deployment-pipeline.md
  docs/explanation/architecture/diagrams/documentation-navigation.md
  docs/explanation/architecture/diagrams/migration-workflow.md
  docs/how-to/operations/FLOOR_PLAN_MANAGEMENT.md
  docs/incidents/README.md
  docs/learning-path/README.md
  docs/meta/DOCUMENTATION_CI_CD_SETUP.md
  docs/postmortems/README.md
  docs/reference/api/WEBSOCKET_EVENTS.md
  docs/reference/config/AUTH_ROLES.md
  docs/reference/config/ENVIRONMENT.md
  nov18scan/LINK_FIX_REPORT.md
Due: prettier --write

docs(audit): Add comprehensive Link-Fixer Agent final report
  nov18scan/LINK_FIXER_FINAL_REPORT.md
Due: prettier --write

docs: major documentation improvement phase 2 - 6 specialized agents
  AUTHENTICATION_EVOLUTION_SUMMARY.md
  VOICE_DOCUMENTATION_UPDATE_SUMMARY.md
  client/src/modules/voice/services/VoiceSessionConfig.ts
  docs/CHANGELOG.md
  docs/VERSION_CONSISTENCY_AUDIT_2025-11-19.md
  docs/explanation/architecture-decisions/ADR-005-client-side-voice-ordering.md
  docs/explanation/architecture-decisions/ADR-011-authentication-evolution.md
  docs/explanation/architecture/AUTHENTICATION_ARCHITECTURE.md
  docs/explanation/architecture/auth-flow-diagrams.md
  docs/how-to/operations/VOICE_MODEL_MIGRATION_GUIDE.md
  docs/how-to/operations/VOICE_ORDERING_TROUBLESHOOTING.md
  docs/how-to/operations/monitoring/PRODUCTION_MONITORING.md
  docs/how-to/operations/runbooks/INCIDENT_RESPONSE.md
  docs/how-to/operations/runbooks/ROLLBACK_PROCEDURES.md
  docs/reference/api/openapi.yaml
  nov18scan/API_DOCS_SUMMARY.md
  nov18scan/API_DOCUMENTATION_UPDATE_REPORT.md
  nov18scan/EXECUTION_SUMMARY.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests
