Repository mikeyoung304/July25: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npm run typecheck:staged"
  ],
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "client/src/**/*.{ts,tsx}": [
    "npm run test:client -- --watchAll=false --findRelatedTests"
  ],
  "server/src/**/*.{ts,js}": [
    "npm run test:server -- --watchAll=false --findRelatedTests"
  ]
}

feat(phases-1-2): implement multi-seat ordering and payment system
  client/src/components/payments/CardPayment.tsx
  client/src/components/payments/CashPayment.tsx
  client/src/components/payments/README.md
  client/src/components/payments/TenderSelection.tsx
  client/src/components/payments/index.ts
  client/src/pages/CheckClosingScreen.tsx
  client/src/pages/ServerView.tsx
  client/src/pages/components/PostOrderPrompt.tsx
  client/src/pages/components/SeatSelectionModal.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  docs/api/PAYMENT_API_DOCUMENTATION.md
  docs/orchestration/ORCHESTRATION_STATUS.md
  docs/orchestration/PHASE_2_SUMMARY.md
  docs/orchestration/multi-agent-plan.md
  docs/orchestration/orchestration-state.json
  docs/orchestration/phase1-completion-report.md
  docs/orchestration/phase1-deployment-checklist.md
  docs/orchestration/phase2-completion-report.md
  server/src/models/order.model.ts
  server/src/routes/payments.routes.ts
  server/src/services/orders.service.ts
  server/src/services/table.service.ts
  shared/contracts/order.ts
  shared/contracts/payment.ts
  shared/types/order.types.ts
  supabase/migrations/20251029145721_add_seat_number_to_orders.sql
  supabase/migrations/20251029145721_rollback_add_seat_number_to_orders.sql
  supabase/migrations/20251029150000_add_seat_number_to_create_order_rpc.sql
  supabase/migrations/20251029155239_add_payment_fields_to_orders.sql
  supabase/migrations/20251029155239_rollback_add_payment_fields_to_orders.sql
  tests/e2e/card-payment.spec.ts
  tests/e2e/cash-payment.spec.ts
  tests/e2e/multi-seat-ordering.spec.ts
  tests/fixtures/multi-seat-orders.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(auth): use role-specific scopes in demo-session endpoint
  server/src/middleware/rbac.ts
  server/src/routes/auth.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(db): add payment fields to create_order_with_audit RPC return type
  prisma/schema.prisma
  supabase/migrations/20251030010000_add_payment_fields_to_create_order_rpc.sql
Due: none

docs(db): add rpc function sync guidelines to prevent schema mismatch
  docs/SUPABASE_CONNECTION_GUIDE.md
Due: prettier --write

fix(db): correct RPC type mismatch - VARCHAR to TEXT
  supabase/migrations/20251030020000_fix_rpc_type_mismatch.sql
Due: none

fix(db): convert payment VARCHAR columns to TEXT in orders table
  supabase/migrations/20251030030000_convert_payment_columns_to_text.sql
Due: none

fix(orders): resolve restaurant id validation and voice order menu relationships
  client/src/services/http/httpClient.ts
  server/src/middleware/auth.ts
  server/src/routes/menu.routes.ts
  server/src/routes/orders.routes.ts
  server/src/services/orders.service.ts
  shared/contracts/order.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(voice-orders): use correct ai parse method and field names
  server/src/routes/orders.routes.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:server -- --watchAll=false --findRelatedTests

fix(restaurant-context): sync with auth context instead of using hardcoded mock
  client/src/core/RestaurantContext.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(build): correct useauth import path in restaurant context
  client/src/core/RestaurantContext.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice-orders): address three root causes of server order failures
  BACKEND_IMPLEMENTATION_SUMMARY.md
  client/src/core/RestaurantContext.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  docs/research/table-ordering-payment-best-practices.md
  supabase/.temp/cli-latest
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

feat(voice-orders): restore ai parsing with hybrid approach
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(workspace): remove loading state from workspace tiles
  client/src/pages/WorkspaceDashboard.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

fix(voice-orders): fix menu api 400 errors and voice ordering
  client/src/contexts/AuthContext.tsx
  client/src/pages/hooks/useVoiceOrderWebRTC.ts
  server/src/middleware/auth.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests, npm run test:server -- --watchAll=false --findRelatedTests

fix(voice-orders): enable function calling with tool_choice auto
  client/src/modules/voice/services/WebRTCVoiceClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

chore: reorganize assistant orchestration files
  .claude/memories/orchestration/ORCHESTRATION_STATUS.md
  .claude/memories/orchestration/PHASE_2_SUMMARY.md
  .claude/memories/orchestration/multi-agent-plan.md
  .claude/memories/orchestration/orchestration-state.json
  .claude/memories/orchestration/phase1-completion-report.md
  .claude/memories/orchestration/phase1-deployment-checklist.md
  .claude/memories/orchestration/phase2-completion-report.md
Due: prettier --write

docs: add database migration best practices
  docs/DEVELOPMENT_PROCESS.md
Due: prettier --write

test: add voice order integration tests
  client/src/pages/hooks/__tests__/useVoiceOrderWebRTC.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

test: add auth middleware restaurant id test
  server/tests/middleware/auth-restaurant-id.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write

test: add workspace tile and openai session config regression tests
  client/src/modules/voice/services/__tests__/WebRTCVoiceClient.test.ts
  client/src/pages/__tests__/WorkspaceDashboard.test.tsx
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor: extract voice services from webrtc voice client
  client/.claude/memories/webrtc-extraction-plan.md
  client/src/modules/voice/services/VoiceEventHandler.ts
  client/src/modules/voice/services/VoiceSessionConfig.ts
  client/src/modules/voice/services/WebRTCConnection.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

test: add unit tests for extracted voice services
  client/src/modules/voice/services/__tests__/VoiceEventHandler.test.ts
  client/src/modules/voice/services/__tests__/VoiceSessionConfig.test.ts
  client/src/modules/voice/services/__tests__/WebRTCConnection.test.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

refactor: integrate extracted services into webrtc voice client
  client/src/modules/voice/services/WebRTCVoiceClient.ts
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests

docs: update all documentation for service refactoring
  docs/ADR-005-client-side-voice-ordering.md
  docs/ARCHITECTURE.md
  docs/AUTHENTICATION_ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/voice/VOICE_ORDERING_EXPLAINED.md
Due: prettier --write

docs: fix broken links, diagrams, and outdated content
  docs/ARCHITECTURE.md
  docs/AUTHENTICATION_ARCHITECTURE.md
  docs/README.md
  docs/SECURITY.md
  docs/api/SQUARE_API_SETUP.md
  docs/archive/BACKEND_IMPLEMENTATION_SUMMARY.md
  docs/archive/TEST_HEALTH_DASHBOARD.md
  docs/archive/TEST_REALITY_CHECK.md
  docs/investigations/AI_DIAGNOSTIC_REPORT.md
  docs/meta/SOURCE_OF_TRUTH.md
  docs/runbooks/PRODUCTION_DEPLOYMENT_CHECKLIST.md
  docs/runbooks/PRODUCTION_DEPLOYMENT_PLAN.md
  docs/runbooks/PRODUCTION_DEPLOYMENT_SUCCESS.md
Due: prettier --write

docs: update status documents for v6.0.14 milestone
  CHANGELOG.md
  docs/AUTHENTICATION_ARCHITECTURE.md
  docs/AUTH_ROLES.md
  docs/GETTING_STARTED.md
  docs/PRODUCTION_STATUS.md
  docs/ROADMAP.md
  docs/meta/SOURCE_OF_TRUTH.md
Due: prettier --write

docs: enforce 4-file root policy, update internal links
  .github/workflows/version-check.yml
  README.md
  docs/VERSION.md
  docs/runbooks/PRODUCTION_DEPLOYMENT_SUCCESS.md
Due: prettier --write

docs: synchronize versions to v6.0.14 and add ci check
  .github/workflows/version-check.yml
  docs/meta/SOURCE_OF_TRUTH.md
Due: prettier --write

docs: eliminate adr-006 duplication and consolidate fragmented content
  docs/archive/CLAUDE.md
  docs/explanation/architecture-decisions/ADR-001-snake-case-convention.md
  docs/explanation/architecture-decisions/ADR-002-multi-tenancy-architecture.md
  docs/explanation/architecture-decisions/ADR-003-embedded-orders-pattern.md
  docs/explanation/architecture-decisions/ADR-004-websocket-realtime-architecture.md
  docs/explanation/architecture-decisions/ADR-005-client-side-voice-ordering.md
  docs/explanation/architecture-decisions/ADR-006-dual-authentication-pattern.md
  docs/explanation/architecture-decisions/ADR-007-per-restaurant-configuration.md
  docs/explanation/architecture-decisions/ADR-009-error-handling-philosophy.md
  docs/explanation/architecture/ARCHITECTURE.md
  docs/explanation/architecture/AUTHENTICATION_ARCHITECTURE.md
  docs/explanation/concepts/MENU_SYSTEM.md
  docs/explanation/concepts/MIGRATION_V6_AUTH.md
  docs/explanation/concepts/ORDER_FLOW.md
  docs/explanation/concepts/SQUARE_INTEGRATION.md
  docs/how-to/development/CI_CD_WORKFLOWS.md
  docs/how-to/development/CONTRIBUTING.md
  docs/how-to/development/DEVELOPMENT_PROCESS.md
  docs/how-to/operations/DEPLOYMENT.md
  docs/how-to/operations/DEPLOYMENT_CHECKLIST.md
  docs/how-to/operations/KDS-BIBLE.md
  docs/how-to/operations/runbooks/POST_DUAL_AUTH_ROLL_OUT.md
  docs/how-to/operations/runbooks/PRODUCTION_DEPLOYMENT_CHECKLIST.md
  docs/how-to/operations/runbooks/PRODUCTION_DEPLOYMENT_PLAN.md
  docs/how-to/operations/runbooks/PRODUCTION_DEPLOYMENT_SUCCESS.md
  docs/how-to/troubleshooting/AUTH_DIAGNOSTIC_GUIDE.md
  docs/how-to/troubleshooting/TROUBLESHOOTING.md
  docs/reference/api/WEBSOCKET_EVENTS.md
  docs/reference/api/api/PAYMENT_API_DOCUMENTATION.md
  docs/reference/api/api/README.md
  docs/reference/api/api/SQUARE_API_SETUP.md
  docs/reference/config/AUTH_ROLES.md
  docs/reference/config/ENVIRONMENT.md
  docs/reference/schema/DATABASE.md
  docs/tutorials/GETTING_STARTED.md
Due: prettier --write

docs: add c4 and mermaid architecture diagrams
  docs/explanation/architecture/ARCHITECTURE.md
  docs/explanation/architecture/diagrams/auth-flow.md
  docs/explanation/architecture/diagrams/c4-container.md
  docs/explanation/architecture/diagrams/c4-context.md
  docs/explanation/architecture/diagrams/payment-flow.md
  docs/explanation/architecture/diagrams/voice-ordering.md
Due: prettier --write

docs: add openapi 3.0 specification for rest api
  docs/reference/api/api/README.md
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Due: prettier --write

ci: add comprehensive documentation automation checks
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docs-link-check.yml
  .github/workflows/docs-standards-check.yml
  .github/workflows/version-check.yml
Due: prettier --write

test: good table
  index.md
  test-bad-table.md
Due: prettier --write

docs: add phase 3 automation and enforcement
  .github/workflows/docs-check.yml
  .husky/pre-commit
  DRIFT_DETECTION_REPORT.md
  index.md
  package.json
  scripts/README.md
  scripts/check-api-drift.cjs
  scripts/check-config-drift.cjs
  scripts/check-schema-drift.cjs
  scripts/check-tables.js
  scripts/check-timestamps.js
  scripts/docs-check.js
  scripts/generate-test-audio.cjs
  test-bad-table.md
Due: prettier --write

docs: add comprehensive learning path documentation
  01_APP_OVERVIEW.md
  02_DOCUMENTATION_ORGANIZATION.md
  03_GITHUB_WORKFLOWS_CICD.md
  04_ENVIRONMENT_SETUP.md
  05_GIT_HISTORY_MILESTONES.md
  06_GIT_PATTERNS_IMPROVEMENTS.md
  07_LEARNING_PATH_README.md
  index.md
Due: prettier --write

docs: reorganize files to comply with root directory policy
  docs/audit/AGENT_4_DELIVERABLES_INDEX.md
  docs/audit/AUDIT_EXECUTIVE_SUMMARY.md
  docs/audit/COMPREHENSIVE_DOCUMENTATION_AUDIT_REPORT.md
  docs/audit/DOCS_SIMPLIFICATION_REPORT.md
  docs/audit/DOCUMENTATION_ARCHITECTURE_DIAGRAM.txt
  docs/audit/DOCUMENTATION_ARCHITECTURE_SUMMARY.md
  docs/audit/DOCUMENTATION_FIX_EXECUTION_PLAN.md
  docs/audit/DOCUMENTATION_SYSTEM_ARCHITECTURE_MAP.md
  docs/audit/DRIFT_DETECTION_REPORT.md
  docs/audit/OVERNIGHT_AUDIT_REPORT_2025-10-31.md
  docs/audit/PLAIN_ENGLISH_WHATS_HAPPENING.md
  docs/audit/TABLE_FIX_EXAMPLES.md
  docs/audit/TABLE_FIX_FILES.txt
  docs/audit/TABLE_FIX_REPORT.md
  docs/audit/TIMESTAMP_UPDATE_REPORT.md
  docs/learning-path/01_APP_OVERVIEW.md
  docs/learning-path/02_DOCUMENTATION_ORGANIZATION.md
  docs/learning-path/03_GITHUB_WORKFLOWS_CICD.md
  docs/learning-path/04_ENVIRONMENT_SETUP.md
  docs/learning-path/05_GIT_HISTORY_MILESTONES.md
  docs/learning-path/06_GIT_PATTERNS_IMPROVEMENTS.md
  docs/learning-path/README.md
  index.md
Due: prettier --write

fix: resolve all ci test failures for documentation pr
  client/src/hooks/__tests__/useWorkspaceAccess.test.ts
  client/src/modules/voice/services/__tests__/WebRTCVoiceClient.test.ts
  docs/DATABASE.md
  docs/DEPLOYMENT.md
  docs/NAVIGATION.md
  docs/SECURITY.md
  docs/VERSION_REFERENCE_AUDIT_REPORT.md
  docs/archive/2025-10/COMPREHENSIVE_DOCUMENTATION_AUDIT_REPORT.md
  docs/archive/2025-10/DOCUMENTATION_FIX_EXECUTION_PLAN.md
  docs/archive/2025-10/DOCUMENTATION_SYSTEM_ARCHITECTURE_MAP.md
  docs/how-to/development/CONTRIBUTING.md
  docs/how-to/troubleshooting/TROUBLESHOOTING.md
  index.md
Due: eslint --fix, npm run typecheck:staged, prettier --write, npm run test:client -- --watchAll=false --findRelatedTests
